<app-examination-layout [examination]="examination" title="Correcteurs">

  <div class="ms-fontSize-24 ms-fontWeight-light py-2">Correcteurs</div>

  <MsfTable *ngIf="correctors">
    <MsfTableHead>
      <MsfTableHeadCell>#</MsfTableHeadCell>
      <MsfTableHeadCell>Utilisateur</MsfTableHeadCell>
      <MsfTableHeadCell>Date d'ajout</MsfTableHeadCell>

      <MsfTableHeadCell></MsfTableHeadCell>
    </MsfTableHead>
    <MsfTableRow #row *ngFor="let item of correctors">
      <MsfTableCell>{{row.index}}</MsfTableCell>
      <MsfTableCell>
        <MsfPersona size="size32">
          <MsfPersonaFigure [text]="item.user?.fullName" size="size32"></MsfPersonaFigure>
          <div class="ml-2">
            <div class="ms-fontWeight-semibold">{{item.user?.fullName}}</div>
            <div class="ms-fontSize-12" *ngIf="item.user?.username">@{{item.user?.username}}</div>
          </div>
        </MsfPersona>
      </MsfTableCell>
      <MsfTableCell class="ms-fontSize-12">{{item.registrationDate | date}}</MsfTableCell>


      <MsfTableCell>
        <MsfIconButton (click)="delete(item)" icon="Delete" theme="error"  [rounded]="true"> </MsfIconButton>
      </MsfTableCell>
    </MsfTableRow>
  </MsfTable>

  <float-button matRipple (click)="openAddCorrectorModal()"></float-button>
</app-examination-layout>
