<div class="flex-center-cover">
<form class="ms-form ms-depth-8" [formGroup]="form">
  <div class="ms-form-header">Ajouter une salle</div>


  <div class="ms-textField">
    <label for="name" class="msf-label">Nom</label>
    <input type="text" id="name" class="ms-textField-input" formControlName="name" (blur)="checkName()" >
    <app-control-error [control]="form.controls['name']"></app-control-error>
  </div>


  <div class="ms-textField">
    <label for="capacity" class="msf-label">Capacity</label>
    <input type="text" id="capacity" class="ms-textField-input" formControlName="capacity" >
    <app-control-error [control]="form.controls['capacity']"></app-control-error>
  </div>

  <div class="ms-textField">
    <label for="address" class="msf-label">Adresse</label>
    <input type="text" id="address" class="ms-textField-input" formControlName="address" >
    <app-control-error [control]="form.controls['address']"></app-control-error>
  </div>




  <div class="mt-4 text-right">
    <button msButton (click)="cancel()" class="mr-3">Annuler</button>
    <button msButton theme="primary" icon="Edit" [disabled]="form.invalid" (click)="edit()">Modifier</button>
  </div>
</form>
</div>
