<div class="flex-center-cover">
  <form class="ms-form ms-depth-8">
    <div class="ms-form-header">Ajouter un niveau</div>

    <div class="ms-textField">
      <label for="levels" class="msf-label">Niveau à ajouter à la spécialité {{speciality.name}}</label>
      <MsSelect id="levels" [(ngModel)]="level" name="level" class="ms-textField-input"
                 placeholder="Choisir un niveau">
        <MsSelectOption *ngFor="let item of levels" [value]="item">Niveau {{item.index + 1}}</MsSelectOption>
      </MsSelect>
    </div>

    <div class="mt-4 text-right">
      <button msButton msDialogContent class="mr-3">Annuler</button>
      <button msButton theme="primary" icon="Add" [disabled]="!level" (click)="add()">Ajouter</button>
    </div>
  </form>
</div>
