<div class="ms-pageTitle">
  <div class="ms-fontSize-24">Notes</div>

</div>


<div class="ms-table-container">
  <MsfTable *ngIf="papers">
    <MsfTableHead>
      <MsfTableHeadCell>#</MsfTableHeadCell>
      <MsfTableHeadCell>Matricule</MsfTableHeadCell>
      <MsfTableHeadCell sortBy="fullName">Nom & prénom</MsfTableHeadCell>
      <MsfTableHeadCell>Groupe</MsfTableHeadCell>
      <MsfTableHeadCell *ngFor="let score of testScores" >{{score.name}}</MsfTableHeadCell>
      <MsfTableHeadCell *ngIf="_test.multipleScore" sortBy="score">Total</MsfTableHeadCell>
      <MsfTableHeadCell *ngIf="!_test.multipleScore" sortBy="score">Note</MsfTableHeadCell>
      <MsfTableHeadCell>Correcteur</MsfTableHeadCell>
      <MsfTableHeadCell style="text-align: right">Actions</MsfTableHeadCell>
    </MsfTableHead>

    <MsfTableRow #row *ngFor="let item of papers" [value]="item">
      <MsfTableCell>{{row.index}}</MsfTableCell>


      <MsfTableCell>{{item.examinationStudent?.student?.registrationId}}</MsfTableCell>

      <MsfTableCell>
        <div class="ms-fontWeight-semibold text-capitalize">{{item.examinationStudent?.student.fullName}}</div>
      </MsfTableCell>

      <MsfTableCell class="ms-fontWeight-semibold">
        <ng-container *ngIf="item.testGroup"> {{item?.testGroup.index + 1}} </ng-container>
        <app-icon *ngIf="!item.testGroup" bgColor="sharedRed10" icon="Cancel"></app-icon>
      </MsfTableCell>


      <MsfTableCell *ngFor="let score of testScores; let i=index" class="text-left">
        <app-icon *ngIf="!item.hasScores" bgColor="sharedRed10" icon="Cancel"></app-icon>
        <ng-container *ngIf="item.hasScores"> {{item.scorePapers[i].value}}</ng-container>
      </MsfTableCell>

      <MsfTableCell>
        <span class="br-2 ms-fontWeight-semibold text-right ms-fontColor-white" *ngIf="item.isCorrected && item.test" style="padding:3px"
              [class.ms-bgColor-sharedRed20]="item.is1_5"
              [class.ms-bgColor-sharedRedOrange10]="item.is2_5"
              [class.ms-bgColor-sharedOrangeYellow10]="item.is3_5"
              [class.ms-bgColor-sharedCyan30]="item.is4_5"
              [class.ms-bgColor-sharedGreen10]="item.is5_5"
              >
          <ng-container *ngIf="item.score < 10">0</ng-container>{{item.score}}</span>
        <app-icon *ngIf="!item.isCorrected" bgColor="sharedRed10" icon="Cancel"></app-icon>
      </MsfTableCell>

      <MsfTableCell>
        <MsfPersona size="size32" *ngIf="item.correctorUser">
          <MsfPersonaFigure [imageUrl]="item.correctorUser.imageUrl"></MsfPersonaFigure>
          <MsfPersonaText>{{item.correctorUser.fullName}}</MsfPersonaText>
        </MsfPersona>
      </MsfTableCell>

      <MsfTableCell style="text-align: right">
        <MsfButton theme="primary" class="mr-2" (click)="service.details(item)">Détails</MsfButton>
        <MsfIconButton *ngIf="testGroup?.relation.isCorrector" icon="Edit" (click)="service.scores(item)"></MsfIconButton>
      </MsfTableCell>
    </MsfTableRow>
  </MsfTable>

</div>
