<app-layout>
  <div class="layout-sidebar" app-sidebar>
    <i MsfIcon appSidebarCollapse iconName="GlobalNavButton"></i>
    <a app-sidebar-item icon="Home" [routerLink]="['/organisations', organisation.id, 'home']" routerLinkActive="active">
      Home </a>
    <a app-sidebar-item icon="CalendarYear" [routerLink]="['/organisations', organisation.id, 'calendar']"
       routerLinkActive="active">Calendrier</a>
    <a app-sidebar-item icon="Permissions" [routerLink]="['/organisations', organisation.id, 'admins']"
       routerLinkActive="active">Administrateurs</a>
    <a app-sidebar-item icon="Room" [routerLink]="['/organisations', organisation.id, 'rooms']"
       routerLinkActive="active">Salles</a>

    <a app-sidebar-item icon="KnowledgeArticle" [routerLink]="['/organisations', organisation.id, 'examinations']">Examens</a>
    <a app-sidebar-item icon="Settings" [routerLink]="['/organisations', organisation.id, 'settings']"
       routerLinkActive="active">Paramètres</a>
  </div>
  <ng-content></ng-content>
</app-layout>
