<div class="flex-center-cover p-3">
  <div>
    <div class="d-flex justify-content-between align-items-center">
      <div></div>
      <div>
        <button msIconButton theme="transparent" icon="Cancel" msDialogContent></button>
      </div>
    </div>


    <div>
      <div class="ms-description-list">
        <dl>
          <dt>Cours</dt>
          <dd>{{courseHour.course.name}} ({{courseHour.course.code}})</dd>
        </dl>
        <dl>
          <dt style="vertical-align: top">Horaire</dt>
          <dd>
            <div class="d-flex">
              <div>
                <div>{{courseHour.dayOfWeek | dayOfWeek | ucFirst}}</div>
                <div>{{courseHour.startHour}} - {{courseHour.endHour}}</div>
              </div>
            </div>
          </dd>
        </dl>

        <dl>
          <dt style="vertical-align: top">Enseignant</dt>
          <dd>
            <div class="d-flex">
              <div>
                <user-persona class="ms-pointer" [routerLink]="courseHour.courseTeacher.teacher.url"
                              [user]="courseHour.courseTeacher.teacher.user"></user-persona>
              </div>
              <button class="ml-3" *ngIf="courseHour.school.isPlanner" (click)="service.changeTeacher(courseHour)"
                      msIconButton theme="standard" [rounded]="true" icon="Edit"></button>
            </div>
          </dd>
        </dl>


        <dl>
          <dt>Salle</dt>
          <dd>
            <div class="d-flex">
              <div>
                {{courseHour.room.name}}({{courseHour.room.capacity}} places)
              </div>
              <button class="ml-3" *ngIf="courseHour.school.isPlanner" (click)="service.changeRoom(courseHour)"
                      msIconButton theme="standard" [rounded]="true" icon="Edit"></button>
            </div>
          </dd>
        </dl>

        <dl>
          <dt>Niveau</dt>
          <dd>
             Niveau {{courseHour.levelIndex + 1}}
          </dd>
        </dl>

        <dl>
          <dt style="vertical-align: top">Type de séance</dt>
          <dd>
            <div>
              <span *ngIf="courseHour.lecture" class="ms-badge mr-2" msBgColor="sharedCyanBlue20">CM</span>
              <span *ngIf="!courseHour.lecture" class="ms-badge" msBgColor="sharedRedOrange10">TD</span>
            </div>

            <div class="mt-3" *ngIf="courseHour.school.isPlanner">
              <MsRadioGroup (change)="lectureChange($event)">
                <div class="ms-textField d-flex align-items-center ms-pointer">
                  <MsRadio id="lecture" [value]="'lecture'" [checked]="courseHour.lecture"></MsRadio>
                  <label class="ml-2 ms-label" for="lecture">Cours magistral</label>
                </div>
                <div class="mt-2 ms-textField d-flex align-items-center ms-pointer">
                  <MsRadio id="tutorial" [value]="'tutorial'" [checked]="!courseHour.lecture" ></MsRadio>
                  <label class="ml-2 ms-label" for="tutorial">Travaux dirigés</label>
                </div>
              </MsRadioGroup>
            </div>
          </dd>
        </dl>

      </div>
    </div>
  </div>
</div>
