<app-layout>

  <div style="display: grid; grid-template-columns: 200px 1fr; ">
    <MsRibbonMenu style="height: 100%" [selectedLabel]="selectedLabel">
<!--      <button class="">-->
<!--        <i class="icon-ic_fluent_navigation_16_regular" style="color:var(&#45;&#45;textColor)"></i>-->
<!--      </button>-->
      <a MsRibbonMenuItem [routerLink]="url('home')" icon="home" label="home">Accueil</a>
      <a MsRibbonMenuItem [routerLink]="url('courses')" [imageIcon]="icons.course" label="courses">Cours</a>
      <a MsRibbonMenuItem [routerLink]="url('courseHours')" [imageIcon]="icons.courseHour" label="course-hours">Emplois du temps</a>
      <a MsRibbonMenuItem [routerLink]="url('courseSessions')" [imageIcon]="icons.courseSession" label="course-sessions">Séances de cours</a>
      <a MsRibbonMenuItem [routerLink]="url('applications')" imageIcon="/assets/icon/student-application.png" label="applications">Demandes</a>
      <a MsRibbonMenuItem [routerLink]="url('teachers')" [imageIcon]="icons.teacher" label="teachers">Enseignants</a>
      <a MsRibbonMenuItem [routerLink]="url('students')" [imageIcon]="icons.student" label="students">Étudiants</a>
      <a MsRibbonMenuItem [routerLink]="url('semesters')" [imageIcon]="icons.semester" label="semesters">Semestres</a>
      <a MsRibbonMenuItem [routerLink]="url('examinations')" [imageIcon]="icons.examination" label="examinations">Examens</a>

    </MsRibbonMenu>

    <div>

      <MsBreadcrumb class="mb-2">
        <a routerLink="/schools" *MsBreadcrumbDef>Établissements</a>
        <a [routerLink]="school.url" *MsBreadcrumbDef>{{school.name}}</a>
        <a [routerLink]="[school.url, 'years']" *MsBreadcrumbDef>Années scolaires</a>
        <a *MsBreadcrumbDef [routerLink]="year.url()">{{year.rangeYears()}}</a>
        <a *MsBreadcrumbDef [routerLink]="yearDepartment.url()">{{yearDepartment.department?.name}}</a>
        <a *MsBreadcrumbDef>{{title}}</a>
      </MsBreadcrumb>
      <router-outlet #outlet></router-outlet>
    </div>
  </div>
</app-layout>
