<div class="flex-center-cover" *ngIf="form">
  <form class="ms-form" [formGroup]="form">
    <div class="ms-form-header ms-sticky-header">
      <div msFontSize="18">Ajouter un enseignat un cours</div>
      <button msIconButton icon="Cancel" class="ml-2" msDialogClose theme="transparent" size="normal"></button>
    </div>


    <div class="ms-textField">
      <label for="teacher" class="msf-label">Choisir un enseignant</label>
      <MsSelect id="teacher" formControlName="teacher" class="ms-textField-input" placeholder="">
        <MsSelectOption *ngFor="let item of teachers" [value]="item">
          {{item.user.fullName}}
        </MsSelectOption>
      </MsSelect>
    </div>

    <div class="ms-textField" [class.ms-disabled]="course.courseTeachers?.length === 0">
      <MsLabel class="ms-label" labelled text="Enseignant principal" htmlFor="isPrincipal">
        <MsCheckbox id="isPrincipal" formControlName="isPrincipal"></MsCheckbox>
      </MsLabel>
    </div>

    <div class="ms-textField">
      <MsLabel class="ms-label ms-pointer" labelled text="Cours magistral" htmlFor="lecture">
        <MsCheckbox id="lecture" formControlName="lecture"></MsCheckbox>
      </MsLabel>
    </div>

    <div class="ms-textField d-flex align-items-center ms-pointer">
      <MsCheckbox id="tutorial" formControlName="tutorial"></MsCheckbox>
      <MsLabel class="ml-2 ms-label" htmlFor="tutorial">Travaux dirigés</MsLabel>
    </div>



    <div class="mt-4 text-right">
      <button msButton msDialogClose class="mr-3">Annuler</button>
      <button msButton theme="primary" icon="Add" [disabled]="form.invalid" (click)="add()">Ajouter</button>
    </div>
  </form>
</div>
