
  <div style="max-width: 100%; overflow: auto">
    <div class="ms-pageTitle" style="position: sticky; left: 0">
      <div msFontSize="20">{{student.fullName | titlecase}}</div>


      <div class="text-right">
        <ng-container *ngIf="student.level.department.isPrincipal">

        </ng-container>

        <button msIconButton icon="Cancel" theme="transparent" msDialogClose class="ml-2"></button>
      </div>
    </div>

    <MsActionMenu class="my-2">
      <button MsActionMenuButton icon="EditContact" (click)="_studentService.editStudent(student)">Modifier
      </button>

      <button MsActionMenuButton icon="AddFriend" *ngIf="!student.user" (click)="_studentService.link(student)">Lier à
        un utilisateur
      </button>

      <button MsActionMenuButton icon="UserSync" *ngIf="student.user" (click)="_studentService.link(student)">Changer
        l'utilisateur
      </button>
      <button MsActionMenuButton icon="UserRemove" theme="error" *ngIf="student.user"
                         (click)="_studentService.removeUser(student)">
        Enlever l'utilisateur
      </button>
      <button MsActionMenuButton icon="EditSolid12" (click)="_studentService.changeRegistrationId(student)">Changer le
        matricule
      </button>
      <button MsActionMenuButton icon="D365TalentLearn" (click)="_studentService.changeSpeciality(student)"
                         *ngIf="student.levelSpeciality">Changer la spécialité
      </button>
      <button MsActionMenuButton icon="D365TalentLearn" (click)="_studentService.changeSpeciality(student)"
                         *ngIf="!student.levelSpeciality">Assigner une spécialité
      </button>
      <button MsActionMenuButton icon="Cancel" theme="error" (click)="_studentService.removeLevelSpeciality(student)"
                         *ngIf="student.levelSpeciality">Enlever la spécialité
      </button>
      <button MsActionMenuButton icon="Delete" (click)="delete()" theme="error">Supprimer</button>

    </MsActionMenu>
    <div class="ms-divider"></div>

    <div class="d-flex mt-4">
      <div class="ms-description-list">
        <dl>
          <dt>Matricule</dt>
          <dd>{{student.registrationId}}</dd>
        </dl>

        <dl>
          <dt>Date de naissance</dt>
          <dd>{{student.birthDate | date}}</dd>
        </dl>

        <dl>
          <dt>Sexe</dt>
          <dd>
            <ng-container *ngIf="student.gender == 'M' || student.gender == 'm'">Masculin</ng-container>
            <ng-container *ngIf="student.gender == 'F' || student.gender == 'f'">Féminin</ng-container>
          </dd>
        </dl>

        <div class="divider"></div>

        <dl>
          <dt>Départment</dt>
          <dd>{{student.level.department.name}}</dd>
        </dl>
        <dl>
          <dt>Niveau</dt>
          <dd>{{student.level.index + 1}}</dd>
        </dl>

        <dl>
          <dt>Spécialité</dt>
          <dd *ngIf="student.levelSpeciality">{{student.levelSpeciality.speciality.name}}</dd>
          <dd *ngIf="!student.levelSpeciality">
            <span class="ms-badge ms-badge-error">Aucune</span>
          </dd>
        </dl>
      </div>

      <div class="ms-description-list ml-5" style="white-space: nowrap">
        <dl>
          <dt>Date d'enregistrement</dt>
          <dd>
            <span class="ms-badge ms-badge-info">{{student.registrationDate | amTimeAgo}}</span>
          </dd>
        </dl>

        <dl>
          <dt>Ajouté par</dt>
          <dd>
            <user-persona *ngIf="student.registerUser" [user]="student.registerUser"></user-persona>
          </dd>
        </dl>


        <dl>
          <dt>Lié à l'utilisateur</dt>
          <dd>
            <user-persona *ngIf="student.user" [user]="student.user"></user-persona>
            <span *ngIf="student.user" class="ms-badge ms-badge-error">Aucune liaison</span>
          </dd>

        </dl>
      </div>


    </div>
  </div>
