<div>
  <div class="section-background p-2">
    <school-settings-image [school]="school"></school-settings-image>
  </div>


  <div class="section-background p-2 mt-3">
    <h4>Informations</h4>
    <div class="ms-description-list">
      <div class="ms-description-item">
        <dl>
          <dt>Nom</dt>
          <dd>{{school.name}}</dd>
        </dl>

        <dl>
          <dt>Acronyme</dt>
          <dd>{{school.acronym}}</dd>
        </dl>

        <dl>
          <dt>Adresse</dt>
          <dd>{{school.address}}</dd>
        </dl>
      </div>
      <div class="mt-2 ">
        <button msButton theme="primary" icon="Edit" (click)="changeInfo()">Modifier</button>
      </div>
    </div>
  </div>

  <div class="ms-description-list ms-border section-background p-2 mt-3">
    <dl>
      <dt>Identifiant</dt>
      <dd>{{school.identifier}}</dd>
    </dl>
    <button msButton theme="primary" icon="Edit" (click)="schoolService.changeIdentifier(school)">Changer
      l'identifiant
    </button>
  </div>

  <div class="section-background p-2 mt-3">
    <h5>Administrateur</h5>
    <div class="mt-3">
      <UserPersona [user]="school.principalUser"></UserPersona>
    </div>
  </div>

  <div class="section-background p-3 mt-3">
    <h5>Supprimer</h5>

    <div class="ms-fontColor-red ms-fontWeight-semibold p-2">
      Supprimer cette établissement définitivement.
    </div>

    <button msButton theme="error" icon="Delete" class="mt-2" (click)="delete()">Supprimer</button>
  </div>
</div>
