
<div>
  <span class="ms-badge m-1" msBgColor="sharedRed20" *ngIf="department.isPrincipalUser">Administrateur</span>
  <span class="ms-badge m-1" msBgColor="sharedYellowGreen10" *ngIf="department.isPrincipal">Délégué</span>
  <span class="ms-badge m-1" msBgColor="sharedYellowGreen10" *ngIf="department.isCorrector">Correcteur</span>
  <span class="ms-badge m-1" msBgColor="sharedYellowGreen10" *ngIf="department.isSupervisor">Surveillant</span>
  <span class="ms-badge m-1" msBgColor="sharedYellowGreen10" *ngIf="department.isSecretary">Sécrétaire</span>
  <span class="ms-badge m-1" msBgColor="sharedCyanBlue10" *ngIf="department.isStudent">Étudiant</span>
</div>

  <div style="display: flex; flex-wrap: wrap">
    <div class=" ms-sm-w100 ms-description-list m-2" *ngIf="department.statistics">
      <dl>
        <dt>Étudiants</dt>
        <dd>{{department.statistics.studentCount}}</dd>
      </dl>

      <dl>
        <dt>Niveaux</dt>
        <dd>{{department.statistics.levelCount}}</dd>
      </dl>

      <dl>
        <dt>Spécialités</dt>
        <dd>{{department.statistics.specialityCount}}</dd>
      </dl>

      <dl>
        <dt>Cours</dt>
        <dd>{{department.statistics.courseCount}}</dd>
      </dl>

      <dl>
        <dt>Salles</dt>
        <dd>{{department.statistics.roomCount}}</dd>
      </dl>
    </div>
    <div class="m-2 ms-sm-w100" style="min-width: 300px">
      <app-department-levels [department]="department"></app-department-levels>
    </div>
    <div class="m-2 ms-sm-w100" style="min-width: 300px">
      <app-department-specialities [department]="department"></app-department-specialities>
    </div>
  </div>
