<app-layout>
  <ng-container *ngIf="levelSpeciality">
    <div>
      <div class="ms-header">
        <div class="d-flex align-items-center">
          <button historyBack msIconButton icon="ChevronLeftSmall" theme="transparent" size="normal"
                  [rounded]="true"></button>
          <div class="ms-header-title">
            <a [routerLink]="levelSpeciality.level.url">Niveau {{levelSpeciality.level.index + 1}}</a>
            /
            <a [routerLink]="levelSpeciality.speciality.url">{{levelSpeciality.speciality.name}}</a></div>
        </div>
      </div>

      <msPivot>
        <msPivotHeader>
          <msPivotLabel>Acceuil</msPivotLabel>
          <msPivotLabel>Cours</msPivotLabel>
          <msPivotLabel>Étudiants</msPivotLabel>
        </msPivotHeader>
        <msPivotBody>
          <div *msPivotContentDef>
            <app-level-speciality-home [levelSpeciality]="levelSpeciality"></app-level-speciality-home>
          </div>
          <div *msPivotContentDef>
            <app-course-list [levelSpeciality]="levelSpeciality"></app-course-list>
          </div>
          <div *msPivotContentDef>
            <app-student-list [levelSpeciality]="levelSpeciality"></app-student-list>
          </div>
        </msPivotBody>
      </msPivot>
    </div>
  </ng-container>
</app-layout>
