<app-layout>
  <ng-container *ngIf="levelSpeciality">
    <div>
      <div class="ms-header">
        <div class="d-flex align-items-center">
          <button historyBack="2" msIconButton icon="ChevronLeftSmall" theme="transparent" size="normal"
                  [rounded]="true"></button>
          <div class="ms-header-title">
            <a [routerLink]="levelSpeciality.level.url">Niveau {{levelSpeciality.level.index + 1}}</a>
            /
            <a [routerLink]="levelSpeciality.speciality.url">{{levelSpeciality.speciality.name}}</a></div>
        </div>

        <div class="mr-1">
          <ng-container *ngIf="levelSpeciality.level.department.isPrincipalUser">
            <button msIconButton theme="transparent" icon="MoreVertical" [MsDropdownTrigger]="levelMenu"></button>
            <MsDropdown #levelMenu>
              <MsContextMenu>
                <MsContextMenuItem  icon="Delete" theme="error" (click)="delete()">
                  Supprimer
                </MsContextMenuItem>
              </MsContextMenu>
            </MsDropdown>

          </ng-container>
        </div>
      </div>

      <msPivot>
        <msPivotHeader>
          <msPivotLabel id="home">Acceuil</msPivotLabel>
          <msPivotLabel id="courses">Cours</msPivotLabel>
          <msPivotLabel id="students">Étudiants</msPivotLabel>
        </msPivotHeader>
        <msPivotBody>
          <div *msPivotContentDef>
            <app-level-speciality-home [levelSpeciality]="levelSpeciality"></app-level-speciality-home>
          </div>
          <div *msPivotContentDef>
            <app-course-list [levelSpeciality]="levelSpeciality"></app-course-list>
          </div>
          <div *msPivotContentDef>
            <app-student-list [levelSpeciality]="levelSpeciality"></app-student-list>
          </div>
        </msPivotBody>
      </msPivot>
    </div>
  </ng-container>
</app-layout>
