<div class="ms-form ms-depth-8" style="width: 700px; max-width: 100vw">
  <div class="ms-fontSize-24">{{title}}</div>

  <div class="d-flex justify-content-center mt-5">

    <div >
      <div class="br-2 ms-bgColor-warning ms-fontColor-warning p-2 ms-fontSize-12" *ngIf="!_imageUrl">
        Charger une image depuis votre ordinateur pour la redimensionner.
      </div>
      <img [hidden]="!_imageUrl" [src]="_imageUrl" alt="school profile image" style="max-height: 300px" #imageElement>
    </div>
  </div>
  <div class="text-center mt-2" *ngIf="_resizeMode">
    <button msIconButton icon="Rotate90Clockwise" theme="primary" [rounded]="true"
                   (click)="_cropper.rotate(90)"></button>
    <button msIconButton class="ml-2" icon="Rotate90CounterClockwise" theme="primary" [rounded]="true"
                   (click)="_cropper.rotate(-90)"></button>

    <button msIconButton class="ml-2" icon="CheckMark" theme="success" [rounded]="true" (click)="endResize()"></button>
  </div>


  <div class="mt-5 d-flex justify-content-between">
    <div>
      <label for="input-file">
        <button msButton icon="Upload" (click)="inputFile.click()" class="ms-hiddenMdDown">Importer une photo</button>
        <button msIconButton icon="Upload" (click)="inputFile.click()" class="ms-hiddenLgUp"></button>

      </label>
      <input #inputFile type="file" id="input-file" name="image" accept="image/*" (change)="loadImage($event.target)" style="display: none">

      <button msButton theme="primary" class="ml-2 ms-hiddenMdDown" icon="Crop" *ngIf="_imageUrl" [disabled]="_resizeMode" (click)="startResize()">Redimensionner</button>
      <button msIconButton class="ml-2 ms-hiddenLgUp" icon="Crop" *ngIf="_imageUrl" [disabled]="_resizeMode" (click)="startResize()"></button>

    </div>

    <div class="text-right">
      <ng-content></ng-content>
    </div>

  </div>

</div>
