<div class="p-3">
  <h5>{{testGroup.group.name}}-{{testGroup.group.index}}</h5>


  <div class="d-flex">

    <div>
      <div class="d-flex justify-content-between align-items-center">
        <div class="ms-fontWeight-light ms-fontSize-18">Correcteur</div>

        <div class="text-right ml-5">
          <MsfIconButton icon="Add" theme="primary" [rounded]="true" (click)="service.addTestGroupCorrectors(testGroup)"></MsfIconButton>
        </div>
      </div>

      <div>
        <msAlert theme="severeWarning" class="mt-2">Ce groupe n'a pas de surveillant.</msAlert>
        <MsfTable class="mt-2">
          <MsfTableRow *ngFor="let item of testGroup.testGroupCorrectors" [value]="item">
            <MsfTableCell class="py-1">
              <MsfPersona size="size32">
                <MsfPersonaFigure [text]="item.corrector.user.fullName"></MsfPersonaFigure>
                <MsfPersonaText>{{item.corrector.user.fullName}}</MsfPersonaText>
              </MsfPersona>
            </MsfTableCell>
            <MsfTableCell class="py-1">
              <i class="ms-Icon ms-Icon--More p-2" [MsfMenuTrigger]="correctorMore" style="cursor:pointer"></i>
              <MsfMenu #correctorMore>
                <MsfMenuItem icon="Delete" theme="error" (click)="service.removeTestGroupCorrector(testGroup, item)">Supprimer</MsfMenuItem>
              </MsfMenu>
            </MsfTableCell>
          </MsfTableRow>
        </MsfTable>
      </div>
    </div>

    <div class="ml-2">
      <div class="d-flex justify-content-between align-items-center">
        <div class="ms-fontWeight-light ms-fontSize-18">Correcteurs</div>

        <div class="text-right ml-5">
          <MsfIconButton icon="Add" theme="primary" [rounded]="true"></MsfIconButton>
        </div>
      </div>

      <div>
        <msAlert theme="severeWarning">Ce groupe n'a pas de correcteur.</msAlert>
      </div>
    </div>

    <div class="ml-2">
      <div class="d-flex justify-content-between align-items-center">
        <div class="ms-fontWeight-light ms-fontSize-18">Sécrétaire</div>

        <div class="text-right ml-5">
          <MsfIconButton icon="Add" [rounded]="true" class="ms-depth-8"></MsfIconButton>
        </div>
      </div>

      <div>
        <msAlert theme="severeWarning">Ce groupe n'a pas de sécrétaire.</msAlert>
      </div>
    </div>
  </div>

</div>
