<div class="p-3">
  <form [formGroup]="form" class="ms-page-form">

    <h4>Changer votre mot de passe</h4>

    <MsFormField label="Mot de passe actuel">
      <input MsInputField formControlName="currentPassword" type="password" [type]="passwordType" />
      <MsFormFieldContent>
        <app-control-error [control]="form.controls['currentPassword']"></app-control-error>
      </MsFormFieldContent>
    </MsFormField>

    <MsFormField label="Nouveau mot de passe">
      <input MsInputField formControlName="newPassword" [type]="passwordType" />
      <MsFormFieldContent>
        <app-control-error [control]="form.controls['newPassword']"></app-control-error>
      </MsFormFieldContent>
    </MsFormField>

    <MsFormField label="Confirmer le nouveau mot de passe">
      <input MsInputField formControlName="newPasswordMatch" type="password" [type]="passwordType" />
      <MsFormFieldContent>
        <app-control-error [control]="form.controls['newPasswordMatch']"></app-control-error>
      </MsFormFieldContent>
    </MsFormField>

    <div class="d-flex align-items-center mt-3">
      <MsCheckbox (change)="toggleVisibility($event)" id="passwordVisible"></MsCheckbox>
      <MsLabel class="ml-2" htmlFor="passwordVisible">Mot de passe visible ?</MsLabel>
    </div>



    <div class="mt-3">
      <button msButton theme="primary" [disabled]="form.invalid" (click)="changePassword()">Changer le mot de passe</button>
    </div>

    <div class="mt-3">
      <a routerLink="/identity/reset-password">Mot de passe oublié ?</a>
    </div>
  </form>


</div>
