<div class="flex-center-cover">
  <form class="ms-form ms-depth-8" [formGroup]="form">
    <div class="ms-form-header">Modifier cette spécialité</div>


    <div class="ms-textField">
      <label for="name" class="msf-label">Nom</label>
      <input type="text" id="name" class="ms-textField-input" formControlName="name" (blur)="checkName()">
      <app-control-error [control]="form.controls['name']"></app-control-error>
    </div>

    <div class="ms-textField">
      <label class="msf-label" for="description">Description</label>
      <textarea type="text" id="description" name="description" formControlName="description" class="ms-textField-textarea">

    </textarea>
      <app-control-error [control]="form.controls['description']"></app-control-error>
    </div>



    <div class="mt-4 text-right">
      <button (click)="oncancel()" class="mr-3">Annuler</button>
      <button msButton theme="primary" icon="Add" [disabled]="form.invalid" (click)="edit()">Ajouter</button>
    </div>
  </form>

</div>
