<div class="ms-pageTitle">
  <div class="ms-fontSize-20">Salles</div>
  <button *ngIf="_school.userPrincipal.isPrincipal" msButton icon="Add" theme="primary" (click)="addRoom()">
    Ajouter <span class="ms-hiddenSm"> une salle</span>
  </button>
</div>

<div>

  <ms-table #table>
    <msTableHead *ms-tableHeadDef>
      <msTableHeadCell name="#">#</msTableHeadCell>
      <msTableHeadCell name="name" [sortBy]="['name', 'string']">Nom</msTableHeadCell>
      <msTableHeadCell name="capacity" [sortBy]="['capacity', 'number']">Capacité</msTableHeadCell>
      <msTableHeadCell name="address">Adresse</msTableHeadCell>

      <msTableHeadCell name="department">Departement</msTableHeadCell>
      <msTableHeadCell name="level">Niveau</msTableHeadCell>
      <msTableHeadCell name="">Date d'ajout</msTableHeadCell>
      <msTableHeadCell name="actions" class="text-right">
        <i class="ms-Icon ms-Icon--SetAction"></i>
      </msTableHeadCell>
    </msTableHead>

    <msTableRow *ms-tableRowDef="let item of rooms; let i=index">
      <ms-tableCell>{{i + 1}} </ms-tableCell>
      <ms-tableCell>{{item.name | ucFirst}}</ms-tableCell>
      <ms-tableCell>{{item.capacity}} places</ms-tableCell>
      <ms-tableCell>{{item.address}}</ms-tableCell>
      <ms-tableCell>
        <ng-container *ngIf="item.department">
          {{item.department.name}}
        </ng-container>
        <app-icon *ngIf="!item.department" bgColor="sharedRed10" icon="Cancel"></app-icon>
      </ms-tableCell>

      <ms-tableCell>
        <ng-container *ngIf="item.level">
          Niveau {{item.level.index + 1}}
        </ng-container>
        <app-icon *ngIf="!item.level" bgColor="sharedRed10" icon="Cancel"></app-icon>
      </ms-tableCell>

      <ms-tableCell class="ms-fontSize-12"> {{item.registrationDate | date}}</ms-tableCell>
      <ms-tableCell class="text-right">
        <button msButton [routerLink]="item.url">Détails</button>
        <button msIconButton icon="MiniExpand" [rounded]="true" theme="primary" class="ml-2"
                (click)="service.detailsRoom(item)"></button>
        <ng-container *ngIf="_school.userPrincipal.isPlanner">
          <button msIconButton class="ml-2" icon="More" theme="transparent" [MsfMenuTrigger]="roomMenu"></button>
          <MsfMenu #roomMenu>
            <MsfMenuItem icon="Edit" (click)="service.editRoom(item)">Modifier</MsfMenuItem>
            <MsfMenuItem icon="Delete" theme="error" (click)="deleteRoom(item)">Supprimer</MsfMenuItem>
          </MsfMenu>
        </ng-container>
      </ms-tableCell>
    </msTableRow>
  </ms-table>

</div>
