<form class="ms-form" [formGroup]="form">
  <div class="ms-form-header">Ajouter une salle</div>


  <div class="ms-textField">
    <label for="name" class="msf-label">Nom de la salle</label>
    <input type="name" id="name" class="ms-textField-input" formControlName="name" (blur)="checkName()">
    <app-control-error [control]="form.controls['name']"></app-control-error>
  </div>


  <div class="ms-textField">
    <label for="capacity" class="msf-label">Nombre de place</label>
    <input id="capacity" class="ms-textField-input" formControlName="capacity">
    <app-control-error [control]="form.controls['capacity']"></app-control-error>
  </div>

  <div class="ms-textField">
    <label for="address" class="msf-label">Nombre de place</label>
    <input id="address" class="ms-textField-input" formControlName="address">
    <app-control-error [control]="form.controls['address']"></app-control-error>
  </div>


  <div class="mt-4 text-right">
    <MsfButton mat-dialog-close class="mr-3">Annuler</MsfButton>
    <button MsfButton theme="primary" Icon="Add" [class.msf-disabled]="form.invalid && !userId" (click)="add()">
      Ajouter
    </button>
  </div>
</form>


