<div class="d-flex">

  <div>
    <div class="ms-description-list p-3">
      <dl>
        <dt>Nom & prénom</dt>
        <dd>{{paper.student.fullName}}</dd>
      </dl>

      <dl>
        <dt>Matricule</dt>
        <dd>{{paper.student.registrationId}}</dd>
      </dl>

      <dl>
        <dt>Specialité</dt>
        <dd>
          <ng-container *ngIf="paper.student.speciality">{{paper.student.speciality?.name}}</ng-container>
          <app-icon icon="Cancel" bgColor="sharedRed10" *ngIf="!paper.student.speciality"></app-icon>
        </dd>
      </dl>

      <dl>
        <dt>Groupe</dt>
        <dd>{{paper.student.group.name}}</dd>
      </dl>

      <dl>
        <dt>N°</dt>
        <dd>{{paper.student.groupIndex}}</dd>
      </dl>
    </div>


    <div class="ms-description-list p-3">
      <dl>
        <dt>État</dt>
        <dd><span [appStateBadge]="paper.state"></span></dd>
      </dl>

      <dl>
        <dt>Date de composition</dt>
        <dd>
          <app-icon icon="Cancel" bgColor="sharedRed10" *ngIf="!paper.isPresent"></app-icon>
          <ng-container *ngIf="paper.isPresent">{{paper.startDate | date}}</ng-container>
        </dd>
      </dl>

      <dl>
        <dt>Heure d'arrivée</dt>
        <dd>
          <app-icon icon="Cancel" bgColor="sharedRed10" *ngIf="!paper.isPresent"></app-icon>
          <ng-container *ngIf="paper.isPresent">{{paper.startHour}}</ng-container>
        </dd>
      </dl>

      <dl>
        <dt>Heure de départ</dt>
        <dd>
          <app-icon icon="Cancel" bgColor="sharedRed20" *ngIf="!paper.isPresent"></app-icon>
          <app-icon icon="AwayStatus" bgColor="sharedRedOrange10" *ngIf="paper.isPresent && !paper.finished"></app-icon>
          <ng-container *ngIf="paper.finished">{{paper.endHour}}</ng-container>
        </dd>
      </dl>

    </div>
  </div>


  <div>
    <div class="ms-description-list p-3">
      <dl>
        <dt>Note obtenue</dt>
        <dd msFontSize="18">{{paper.scoreSum}}/{{paper.testGroup.test.radical}}</dd>
      </dl>

      <ng-container *ngIf="paper.scorePapers && paper.scorePapers.length > 0">
        <dl *ngFor="let score of paper.scorePapers" msFontSize="12">
          <dt>{{score.scoreName | ucFirst}}</dt>
          <dd>{{score.value}}/{{score.score.radical}}</dd>
        </dl>
      </ng-container>

      <dl>
        <dt>Copie corrigée par</dt>
        <dd>
          <MsfPersona *ngIf="paper.correctorUser" size="size32">
            <MsfPersonaFigure [imageUrl]="paper.correctorUser.imageUrl"></MsfPersonaFigure>
            <MsfPersonaText>{{paper.correctorUser.fullName | titlecase}}</MsfPersonaText>
          </MsfPersona>
        </dd>
      </dl>
    </div>


    <div class="ms-description-list p-3 mt-3">
      <dl>
        <dt>Copie récupérée par</dt>
        <dd>
          <MsfPersona *ngIf="paper.collectorUser" size="size32">
            <MsfPersonaFigure [imageUrl]="paper.collectorUser.imageUrl"></MsfPersonaFigure>
            <MsfPersonaText>{{paper.collectorUser.fullName | titlecase}}</MsfPersonaText>
          </MsfPersona>
        </dd>
      </dl>

      <dl>
        <dt>Admis en salle par</dt>
        <dd *ngIf="paper.supervisorUser">
          <MsfPersona size="size32">
            <MsfPersonaFigure [imageUrl]="paper.supervisorUser.imageUrl"></MsfPersonaFigure>
            <MsfPersonaText>{{paper.supervisorUser.fullName | titlecase}}</MsfPersonaText>
          </MsfPersona>
        </dd>
        <dd *ngIf="!paper.supervisorUser">
          <app-icon icon="Cancel" bgColor="sharedRed10"></app-icon>
        </dd>
      </dl>

      <dl>
        <dt style="vertical-align: top">Commentaire de surveillance</dt>
        <dd style="max-width: 350px; font-weight: 400" *ngIf="paper.supervisorComment">{{paper.supervisorComment}}</dd>
        <dd *ngIf="!paper.supervisorComment">
          <app-icon icon="Cancel" bgColor="sharedRed10"></app-icon>
        </dd>
      </dl>


      <dl>
        <dt>Copie consignée par</dt>
        <dd *ngIf="paper.secretaryUser">
          <MsfPersona size="size32">
            <MsfPersonaFigure [imageUrl]="paper.secretaryUser.imageUrl"></MsfPersonaFigure>
            <MsfPersonaText>{{paper.secretaryUser.fullName | titlecase}}</MsfPersonaText>
          </MsfPersona>
        </dd>
        <dd *ngIf="!paper.secretaryUser">
          <app-icon icon="Cancel" bgColor="sharedRed10"></app-icon>
        </dd>
      </dl>

      <dl>
        <dt style="vertical-align: top">Commentaire de surveillance</dt>
        <dd style="max-width: 350px; font-weight: 400" *ngIf="paper.secretaryComment">{{paper.secretaryComment}}</dd>
        <dd>
          <app-icon icon="Cancel" bgColor="sharedRed10" *ngIf="!paper.secretaryComment"></app-icon>
        </dd>
      </dl>
    </div>
  </div>
</div>
