.ms-toast {
  display: grid;
  grid-template-columns: 60px 1fr;
  width: 380px;
  max-width: 100%;
  position: relative;

}

.ms-toast-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  z-index: -1;
  backdrop-filter: blur(20px);
  transition: opacity .2s;
}

.ms-toast-iconLayout {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;

  font-size: 30px;
}

.ms-toast-layout { }

.ms-toast-content {

}

.ms-toast-header {
  display: flex;
  align-items: center;
  width: 100%;
}

.ms-toast-title {
  font-weight: 600;
  font-size: 14px;
  user-select: none;
  flex-grow: 2;
}

.ms-toast-button {
  background: transparent;
  color: inherit;
  border: 1px solid #FFF;

  &:hover {
    backdrop-filter: brightness(80%);
  }

  &:active, &:focus {
    box-shadow: none;
    outline: none;
  }
}

.ms-toast-iconButton {
  height: 25px;
  width: 25px;
  text-align: center;
}

.ms-toast-closeButton {
  padding: 0;
  height: 25px;
  width: 25px;
  text-align: center;
  border: none;
}

.ms-toast-content {
  overflow: hidden;
  transition: width .2s;
}


.ms-toast-body {
  padding-right: 10px;
  overflow: hidden;
  transition: height .2s;

}

.ms-toast-footer {
  width: 100%;
  margin-top: 15px;
  display: flex;
}

.ms-toast-extras {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.ms-toast-date {
  font-size: 11px;
  flex-grow: 2;
}

.ms-toast-expandButton {
  border: none;
  transition: transform .2s;

}
