<app-layout>
  <div class="ms-header">
    <div class="d-flex align-items-center">
      <button  historyBack msIconButton icon="ChevronLeftSmall"
              theme="transparent"
              size="normal" [rounded]="true"></button>
      <div class="ms-header-title">Spécialités
        / {{examinationSpeciality.speciality.name}}</div>
    </div>
  </div>

  <msPivot>
    <msPivotHeader>
      <msPivotLabel id="home">Accueil</msPivotLabel>
      <msPivotLabel id="tests">Épreuves</msPivotLabel>
      <msPivotLabel id="students">Étudiants</msPivotLabel>
    </msPivotHeader>

    <msPivotBody>
      <div *msPivotContentDef>
        <app-examination-speciality-home [examinationSpeciality]="examinationSpeciality">
        </app-examination-speciality-home>
      </div>
      <div *msPivotContentDef>
        <app-test-level-speciality-list
          [examinationSpeciality]="examinationSpeciality"></app-test-level-speciality-list>
      </div>
      <div *msPivotContentDef>
        <app-examination-student-list [examinationSpeciality]="examinationSpeciality"></app-examination-student-list>
      </div>
    </msPivotBody>
  </msPivot>

</app-layout>
