<div class="flex-center-cover">
  ﻿<form class="ms-form" >
  <div class="ms-form-header">Commentaire du surveillant</div>

  <div class="ms-textField">
    <label for="comment" class="msf-label">Commentaire</label>
    <textarea type="text" id="comment" name="comment"  [(ngModel)]="comment" class="ms-textField-textarea">
    </textarea>
  </div>

  <div class="mt-4 text-right">
    <button msButton MsfModalClose class="mr-3">Annuler</button>
    <button msButton theme="primary" (click)="edit()">Commenter</button>
  </div>
</form>



</div>
