<app-layout>


  <app-department-banner (onDepartmentDelete)="_router.navigateByUrl(department.school.url)"
    [department]="department"></app-department-banner>

  <msPivot>
    <msPivotHeader>
      <msPivotLabel id="home">Acceuil</msPivotLabel>
      <msPivotLabel id="room">Salles</msPivotLabel>
      <msPivotLabel id="students">Étudiants</msPivotLabel>
      <msPivotLabel id="teachers">Enseignants</msPivotLabel>
      <msPivotLabel id="applications">Demandes</msPivotLabel>
      <msPivotLabel id="principals">Délégués</msPivotLabel>
      <msPivotLabel id="correctors">Correcteurs</msPivotLabel>
      <msPivotLabel id="supervisors">Superviseurs</msPivotLabel>
      <msPivotLabel id="secretaries">Sécretaires</msPivotLabel>
    </msPivotHeader>
    <msPivotBody>
      <div *msPivotContentDef>
        <app-department-home-page [department]="department"></app-department-home-page>
      </div>
      <div *msPivotContentDef>
        <app-room-list  [department]="department"></app-room-list>
      </div>
      <div *msPivotContentDef>
        <app-student-list  [department]="department"></app-student-list>
      </div>
      <div *msPivotContentDef>
        <app-teacher-list  [department]="department"></app-teacher-list>
      </div>
      <div *msPivotContentDef>
        <app-application-list [department]="department"></app-application-list>
      </div>
      <div *msPivotContentDef>
        <app-principal-list  [department]="department"></app-principal-list>
      </div>
      <div *msPivotContentDef>
        <app-corrector-list  [department]="department"></app-corrector-list>
      </div>
      <div *msPivotContentDef>
        <app-supervisor-list  [department]="department"></app-supervisor-list>
      </div>
      <div *msPivotContentDef>
        <app-secretary-list  [department]="department"></app-secretary-list>
      </div>
    </msPivotBody>
  </msPivot>


</app-layout>
