<div style="height:100%; align-items: center; display: flex">
  <div class="navbar-brand ms-fontSize-24 ms-fontWeight-light px-3">Examination</div>
</div>

<div [class.search-bar-active]="activeSearchBar" class="navbar-search-bar search-bar ms-hiddenLgDown" id="search-bar">
  <span MsfIcon class="search-bar-icon" iconName="Search"></span>
  <div class="search-bar-input-container">
    <input (blur)="activeSearchBar = false" (focus)="activeSearchBar = true" autocomplete="off" class="search-bar-input"
           type="text">
  </div>
</div>

<div class="navbar-action" *ngIf="authManager.isAuthorized">

<span (click)="buttonClick.emit('notification')" class="navbar-button" id="notification-panel-button">
    <i MsfIcon iconName="Ringer"></i>
    <span class="ringer-badge">1</span>
  </span>


  <span (click)="buttonClick.emit('settings')" class="navbar-button" id="settings-panel-button">
      <i class="ms-Icon ms-Icon--Settings"></i>
    </span>

  <span (click)="buttonClick.emit('account')" class="navbar-button flex-center" id="account-panel-button">
    <msPersona size="size40" *ngIf="!user.hasImage" [personIcon]="true"></msPersona>
    <msPersona size="size40" color="transparent" *ngIf="user.hasImage" [imageUrl]="user.imageUrl"></msPersona>
    </span>
</div>

<div *ngIf="!authManager.isAuthorized" class="px-3">
  <a MsfButton Icon="Contact" theme="standard" (click)="authManager.requestAuthorizationCode()">Connexion</a>
</div>
