<div class="ms-pageTitle">
  <div class="d-flex align-items-center">
    <h5>{{test.course?.name}}</h5>
    <app-icon icon="LockSolid" bgColor="sharedRed10" class="ml-2" *ngIf="test.isClosed">Fermée</app-icon>
  </div>

  <div class="text-right" *ngIf="test.isPlanner">
    <button msButton *ngIf="test.notGroupedStudentCount > 0" icon="Group" theme="primary"
            (click)="_paperService.group(test) ">Grouper les étudiants
    </button>
    <button msIconButton class="ml-2" icon="Settings" [MsfMenuTrigger]="testMenu" theme="transparent"></button>
    <MsfMenu #testMenu>

      <MsfMenuItem *ngIf="!test.isPublished" icon="RedEye" (click)="service.publish(test)">Publier les notes
      </MsfMenuItem>

      <MsfMenuItem *ngIf="test.isPublished" icon="Hide3" theme="error" (click)="service.publish(test)">
        cacher les notes
      </MsfMenuItem>

      <MsfMenuItem *ngIf="!test.isClosed" icon="LockSolid" theme="error" (click)="service.changeCloseState(test)">Fermer
      </MsfMenuItem>
      <MsfMenuItem *ngIf="test.isClosed" icon="UnlockSolid" (click)="service.changeCloseState(test)">Ouvrir
      </MsfMenuItem>
      <MsfMenuItem icon="Edit" (click)="service.edit(test)">Modifier les informations</MsfMenuItem>
      <MsfMenuItem *ngIf="test.useAnonymity" icon="RedEye" (click)="service.unsetAnonymous(test)">Enlever l'anonymat
      </MsfMenuItem>
      <MsfMenuItem *ngIf="!test.useAnonymity" theme="error" icon="Hide3" (click)="service.setAnonymous(test)">Utiliser
        l'anonymat
      </MsfMenuItem>
      <MsfMenuItem icon="CalendarSettings" (click)="service.editDate(test)">Modifier la date</MsfMenuItem>
      <MsfMenuItem icon="Delete" (click)="service.delete(test)" theme="error">Supprimer</MsfMenuItem>
    </MsfMenu>
  </div>
</div>

<msAlert theme="severeWarning" *ngIf="test.notGroupedStudentCount">
  {{test.notGroupedStudentCount}} étudiants de cette épreuve n'ont pas de groupe. Veuillez les en assigner un.
</msAlert>

<div class="row mt-3">
  <div class="col-lg-6 col-12 ms-description-list">
    <dl>
      <dt>Cours</dt>
      <dd>
        <span class="ms-link" (click)="courseService.details(test.course)">{{test.course.name}}</span>
      </dd>
    </dl>

    <dl>
      <dt>Code</dt>
      <dd>{{test.course.code}}</dd>
    </dl>

    <dl>
      <dt>Coefficient</dt>
      <dd>{{test.coefficient}}</dd>
    </dl>
    <dl>
      <dt>Niveau</dt>
      <dd>{{test.examinationLevel.level.index + 1}}</dd>
    </dl>

    <dl>
      <dt>Groupe</dt>
      <dd>{{test.testGroupCount}}</dd>
    </dl>

    <dl>
      <dt>Étudiants sans groupe</dt>
      <dd msColor="sharedRed10">{{test.notGroupedStudentCount}}</dd>
    </dl>

    <dl>
      <dt>Specialités</dt>
      <dd *ngIf="!test.isGeneral">
          <span class=" ms-badge ms-pointer ml-1" msBgColor="sharedOrangeYellow10"
                *ngFor="let item of test.testLevelSpecialities"
                [routerLink]="item.url">
            {{item.examinationLevelSpeciality.levelSpeciality.speciality.name}}
          </span>
      </dd>
      <dd *ngIf="test.isGeneral">
        <span class="badge ms-bgColor-sharedGreen10">Cours général</span>
      </dd>
    </dl>

  </div>

  <div class="col-lg-6 col-12 mt-3 mt-lg-0">
    <div>
      <app-test-score-list [test]="test"></app-test-score-list>
    </div>
  </div>
</div>

<div>
  <div class="row mt-5" style="background-color: var(--cardBackgroundColor)">
    <div class="m-2 col-sm-12 col-lg-2 col-md-3 ms-description-list">
      <dl>
        <dt>Étudiants</dt>
        <dd msFontSize="l">{{test.statistics.frequency | number}}</dd>
      </dl>
      <dl>
        <dt>Présence</dt>
        <dd>{{test.statistics?.presence}}
          <app-icon *ngIf="test.statistics.isAllPresent"></app-icon>
          <span msColor="sharedRed10" *ngIf="!test.statistics.isAllPresent">
          ({{test.statistics.presence - test.statistics.frequency  | number}})
        </span>
        </dd>
      </dl>

      <dl>
        <dt>Consignées</dt>
        <dd>{{test.statistics?.consignedFrequency}}
          <app-icon *ngIf="test.statistics.isAllConsigned"></app-icon>
          <span msColor="sharedRed10" *ngIf="!test.statistics.isAllConsigned">
          ({{test.statistics.consignedFrequency - test.statistics.frequency  | number}})
        </span>
        </dd>
      </dl>

      <dl>
        <dt>Corrigés</dt>
        <dd msFontSize="l">{{test.statistics?.correctedFrequency}}
          <app-icon *ngIf="test.statistics.isAllCorrected"></app-icon>
          <span msColor="sharedRed10" *ngIf="!test.statistics.isAllCorrected">
          ({{test.statistics.correctedFrequency - test.statistics.frequency  | number}})
        </span></dd>
      </dl>
    </div>
    <div class="m-2 col-sm-12 col-lg-2 col-md-3 ms-description-list">
      <dl>
        <dt>Moyenne</dt>
        <dd msFontSize="l" msColor="green">{{test.statistics?.mean | number}}</dd>
      </dl>
      <dl>
        <dt>Mediane</dt>
        <dd>{{test.statistics?.median | number}}
          <span *ngIf="test.statistics?.median > test.radical / 2"
                style="width: 6px; height: 6px; border-radius: 50%; display: inline-block "
                class="ms-bgColor-sharedGreenCyan10">

        </span>
        </dd>
      </dl>
      <dl>
        <dt>Écart-type</dt>
        <dd>{{test.statistics?.std | number}}</dd>
      </dl>

      <dl>
        <dt>Mode</dt>
        <dd>{{test.statistics?.mode}}</dd>
      </dl>
    </div>
    <div class="m-2 col-sm-12 col-lg-2 col-md-3 ms-description-list">
      <dl>
        <dt style="vertical-align: top">Premier</dt>
        <dd>
          <ng-container *ngIf="test.statistics.maxPaper">
            <div>{{test.statistics.maxPaper?.examinationStudent.student.fullName}}
              ({{test.statistics.maxPaper?.examinationStudent.student.registrationId}})
            </div>
            <div msFontSize="l" msColor="green"> {{test.statistics?.maxPaper?.score}}</div>
          </ng-container>
          <app-icon bgColor="sharedRed20" icon="Cancel" *ngIf="!test.statistics.maxPaper"></app-icon>
        </dd>
      </dl>

      <dl>
        <dt style="vertical-align: top">Dernier</dt>
        <dd>
          <ng-container *ngIf="test.statistics.minPaper">
          <div>{{test.statistics.minPaper?.examinationStudent.student.fullName}}
            ({{test.statistics.minPaper?.examinationStudent.student.registrationId}})
          </div>
          <div msFontSize="l" msColor="sharedRed10">{{test.statistics?.minPaper?.score}}</div>
          </ng-container>
          <app-icon bgColor="sharedRed20" icon="Cancel" *ngIf="!test.statistics.minPaper"></app-icon>
        </dd>
      </dl>

    </div>

  </div>

  <div class="mt-3" style="background-color: var(--cardBackgroundColor)">
    <div class="ms-fontSize-20 p-2">Quartiles</div>
    <div class="d-flex flex-wrap">
      <div class="p-2 ms-sm-w100 ms-description-list">
        <dl>
          <dt style="vertical-align: top">1 <sup>er</sup> Quartile</dt>
          <dd>
            <div>[{{test.statistics?.min}} - {{test.statistics?.quartile0 | number}}]</div>
            <div msFontSize="l" msColor="sharedRed10">
              {{test.statistics.quartile0Scores?.length}}
              ({{test.statistics.quartile0Scores?.length / test.statistics.frequency * 100 | number}}%)
            </div>
          </dd>
        </dl>

        <dl>
          <dt style="vertical-align: top">2 <sup>ème</sup> Quartile</dt>
          <dd>
            <div>]{{test.statistics?.quartile0 | number}} - {{test.statistics?.quartile1 | number}}]</div>
            <div msFontSize="l" msColor="sharedRedOrange10">
              {{test.statistics.quartile1Scores?.length}}
              ({{test.statistics.quartile1Scores?.length / test.statistics.frequency * 100 | number}}%)
            </div>
          </dd>
        </dl>
      </div>
      <div class="p-2 ms-sm-w100 ms-description-list">
        <dl>
          <dt style="vertical-align: top">3<sup>ème</sup> Quartile</dt>
          <dd>
            <div>]{{test.statistics?.quartile1 | number}} - {{test.statistics?.quartile2 | number}}]</div>
            <div msFontSize="l" msColor="sharedCyanBlue10">
              {{test.statistics.quartile2Scores.length}}
              ({{test.statistics.quartile2Scores.length / test.statistics.frequency * 100 | number}}%)
            </div>
          </dd>
        </dl>

        <dl>
          <dt style="vertical-align: top">4 <sup>ème</sup> Quartile</dt>
          <dd>
            <div>]{{test.statistics?.quartile2 | number}}- {{test.statistics?.max}}]</div>
            <div msFontSize="l" msColor="sharedGreenCyan10">
              {{test.statistics.quartile3Scores.length}}
              ({{test.statistics.quartile3Scores.length / test.statistics.frequency * 100 | number}}%)
            </div>
          </dd>
        </dl>
      </div>
    </div>
  </div>


  <div class="mt-5" style="background-color: var(--cardBackgroundColor)">
    <div class="ms-fontSize-20 p-2">Marges</div>
    <div class="d-flex flex-wrap">
      <div class="p-2 ms-sm-w100 ms-description-list">
        <dl>
          <dt style="vertical-align: top">1<sup>ère</sup></dt>
          <dd>
            <div>[0 - {{test.statistics?.radical / 4 | number}}]</div>
            <div msFontSize="l" msColor="sharedRed10">
              {{test.statistics.range0Scores.length}}
              ({{test.statistics.range0Scores.length / test.statistics.frequency * 100 | number}}%)
            </div>
          </dd>
        </dl>

        <dl>
          <dt style="vertical-align: top">2 <sup>è</sup></dt>
          <dd>
            <div>]{{test.statistics?.radical / 4 | number}} - {{test.statistics?.radical / 2| number}}]</div>
            <div msFontSize="l" msColor="sharedRedOrange10">
              {{test.statistics.range1Scores.length}}
              ({{test.statistics.range1Scores.length / test.statistics.frequency * 100 | number}}%)
            </div>
          </dd>
        </dl>
      </div>
      <div class="p-2 ms-sm-w100 ms-description-list">
        <dl>
          <dt style="vertical-align: top">3<sup>è</sup></dt>
          <dd>
            <div>]{{test.statistics?.radical / 2 | number}} - {{test.statistics?.radical * 3 / 4 | number}}]</div>
            <div msFontSize="l" msColor="sharedCyanBlue10">
              {{test.statistics.range2Scores.length}}
              ({{test.statistics.range2Scores.length / test.statistics.frequency * 100 | number}}%)
            </div>
          </dd>
        </dl>

        <dl>
          <dt style="vertical-align: top">4 <sup>è</sup></dt>
          <dd>
            <div>]{{test.statistics?.radical * 3 / 4 | number}}- {{test.statistics?.radical}}]</div>
            <div msFontSize="l" msColor="sharedGreenCyan10">
              {{test.statistics.range3Scores.length}}
              ({{test.statistics.range3Scores.length / test.statistics.frequency * 100 | number}}%)
            </div>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>

