
<div class="ms-fontSize-24 ms-fontWeight-light py-2">Groupes</div>

  <MsfTable style="width: 100%" *ngIf="groups">
    <MsfTableHead>
      <MsfTableHeadCell>#</MsfTableHeadCell>
      <MsfTableHeadCell>Nom</MsfTableHeadCell>
      <MsfTableHeadCell>Spécialité</MsfTableHeadCell>
      <MsfTableHeadCell>Salle</MsfTableHeadCell>
      <MsfTableHeadCell>Capacité</MsfTableHeadCell>
      <MsfTableHeadCell>Ajouté par</MsfTableHeadCell>
      <MsfTableHeadCell>Date d'ajout</MsfTableHeadCell>
      <MsfTableHeadCell> </MsfTableHeadCell>
    </MsfTableHead>
    <MsfTableRow #row *ngFor="let item of groups">
      <MsfTableCell>{{item.index}}</MsfTableCell>
      <MsfTableCell class="ms-fontWeight-semibold">{{item.name}}</MsfTableCell>
      <MsfTableCell class="ms-fontWeight-semibold">{{item.speciality?.name}}</MsfTableCell>
      <MsfTableCell>{{item.room?.name}}</MsfTableCell>
      <MsfTableCell class="ms-fontWeight-semibold ms-fontColor-sharedGreenCyan10">{{item.capacity}}</MsfTableCell>
      <MsfTableCell>
        <MsfPersona size="size32">
          <MsfPersonaFigure [text]="item.registerUser?.fullName" size="size32"></MsfPersonaFigure>
          <div class="ml-2">
            <div class="ms-fontWeight-semibold">{{item.registerUser?.fullName}}</div>
            <div class="ms-fontSize-12" *ngIf="item.registerUser?.username">@{{item.registerUser?.username}}</div>
          </div>
        </MsfPersona>
      </MsfTableCell>
      <MsfTableCell class="ms-fontSize-12">
        {{item.registrationDate | amCalendar}}
      </MsfTableCell>

      <MsfTableCell style="text-align: right">
        <a MsfButton theme="primary" class="mr-2" routerLink="/{{item.url}}/home">Détails</a>
        <MsfIconButton [MsfMenuTrigger]="more" icon="MoreVertical"></MsfIconButton>
        <MsfMenu #more>
          <MsfMenuItem icon="EditSolid12" >Changer le nom</MsfMenuItem>
          <MsfMenuItem icon="Delete" (click)="delete(item)" theme="error">Supprimer</MsfMenuItem>
        </MsfMenu>
      </MsfTableCell>
    </MsfTableRow>
  </MsfTable>

  <float-button mat-ripple (click)="openAddGroupDialog()"></float-button>
