<div class="ms-pageTitle">
  <h4>Cours</h4>
  <button msButton
          icon="Add" theme="primary" *ngIf="level && school.userPrincipal.isPlanner" (click)="addCourse() ">
    Ajouter <span class="ms-hiddenSm">un cours</span></button>
</div>



<div>
  <ms-table #msTable>
    <ms-tableHead *msTableHeadDef>
      <ms-tableHeadCell name="">#</ms-tableHeadCell>
      <ms-tableHeadCell name="name" [sortBy]="['name', 'string']">Nom</ms-tableHeadCell>
      <ms-tableHeadCell name="code" [sortBy]="['code', 'string']">code</ms-tableHeadCell>
      <ms-tableHeadCell name="coefficient" [sortBy]="['coefficient', 'number']">Coefficient</ms-tableHeadCell>
      <ms-tableHeadCell name="radical" [sortBy]="['radical', 'number']">Radical</ms-tableHeadCell>
      <ms-tableHeadCell name="multipleScore">Barème</ms-tableHeadCell>
      <ms-tableHeadCell name="specialities">Spécialités</ms-tableHeadCell>
      <ms-tableHeadCell name="levelIndex" [sortBy]="['levelIndex', 'number']">Niveau</ms-tableHeadCell>
      <ms-tableHeadCell name="registrationDate">Date d'ajout</ms-tableHeadCell>
      <msTableHeadCell name="actions" class="text-right">
        <i class="ms-Icon ms-Icon--SetAction px-2"></i>
      </msTableHeadCell>
    </ms-tableHead>

    <ms-tableRow *ms-tableRowDef="let item of courses; let i=index" [value]="item">
      <ms-tableCell>{{i + 1}}</ms-tableCell>
      <ms-tableCell>{{item.name | ucFirst}}</ms-tableCell>
      <ms-tableCell>{{item.code}}</ms-tableCell>
      <ms-tableCell>{{item.coefficient}}</ms-tableCell>
      <ms-tableCell>{{item.radical}}</ms-tableCell>

      <ms-tableCell>
        <app-icon *ngIf="item.multipleScore" bgColor="greenLight" icon="CheckMark"></app-icon>
        <app-icon *ngIf="!item.multipleScore" bgColor="sharedRed10" icon="Cancel"></app-icon>
      </ms-tableCell>
      <ms-tableCell>
        <ng-container *ngIf="!item.isGeneral && item.courseLevelSpecialities">
          {{item.specialityNames.join(', ')}}
        </ng-container>

        <app-icon *ngIf="item.isGeneral" bgColor="sharedRed10" icon="Cancel"></app-icon>
      </ms-tableCell>

      <ms-tableCell>{{item.levelIndex}}</ms-tableCell>

      <ms-tableCell class="ms-fontSize-12"> {{item.registrationDate | date}}</ms-tableCell>
      <ms-tableCell class="text-right">
        <button msButton (click)="service.details(item)">Détails</button>
      </ms-tableCell>
    </ms-tableRow>
  </ms-table>

</div>
