<div class="d-flex justify-content-between">
  <div>
    <div class="app-test-details-testName">{{test.name}} ({{test.code}})</div>
    <div *ngIf="test.speciality"><span class="ms-fontSize-12 ms-fontColor-gray180 ms-bgColor-gray20 px-1">{{test.speciality.name}}</span>
    </div>
  </div>
  <div class="text-right">
    <MsfButton theme="primary" [routerLink]="[test.url, 'home']">Détails</MsfButton>
    <MsfIconButton class="ml-2" [MsfMenuTrigger]="more" icon="MoreVertical"
                   *ngIf="test.examination?.userPrincipal?.isPrincipal"></MsfIconButton>
    <MsfMenu #more>
      <MsfMenuItem icon="Edit" (click)="service.edit(test)">Modifier les informations</MsfMenuItem>
      <MsfMenuItem *ngIf="test.useAnonymity" icon="RedEye" (click)="service.unsetAnonymous(test)">Enlever l'anonymat
      </MsfMenuItem>
      <MsfMenuItem *ngIf="!test.useAnonymity" theme="error" icon="Hide3" (click)="service.setAnonymous(test)">Utiliser
        l'anonymat
      </MsfMenuItem>
      <MsfMenuItem icon="CalendarSettings" (click)="service.editDate(test)">Modifier la date</MsfMenuItem>
      <MsfMenuItem icon="Delete" (click)="service.delete(test)" theme="error">Supprimer</MsfMenuItem>
    </MsfMenu>
  </div>
</div>


<div class="d-flex mt-2">

  <div class="app-test-details-states">
    <div class="app-test-details-state-item" *ngIf="test.useAnonymity">
      <span MsfIcon iconName="Hide3" class="app-test-details-state-icon ms-bgColor-sharedRed20"></span>
      <span class="app-test-details-state-icon-text"> Anonymée </span>
    </div>

    <div class="app-test-details-state-item  mt-2">
      <span MsfIcon iconName="CheckMark" class="app-test-details-state-icon ms-bgColor-sharedGreenCyan10"></span>
      <span class="app-test-details-state-icon-text"> Corrigée</span>
    </div>

    <div class="app-test-details-state-item mt-2" *ngIf="!test.isPublished">
      <span MsfIcon iconName="StatusCircleExclamation"
            class="app-test-details-state-icon ms-bgColor-sharedRedOrange10"></span>
      <span class="app-test-details-state-icon-text"> Notes non publiées</span>
    </div>

  </div>

  <div class="app-test-details-supervisors ml-2">
    <MsfPersona size="size32" class="d-block">
      <MsfPersonaFigure textInitial="ND" color="green"></MsfPersonaFigure>
      <MsfPersonaText class="ms-fontWeight-semibold">Neil deGrasse</MsfPersonaText>
    </MsfPersona>

    <MsfPersona size="size32" class="d-block">
      <MsfPersonaFigure textInitial="CC"></MsfPersonaFigure>
      <MsfPersonaText class="ms-fontWeight-semibold">Chendjou Caleb deGrace</MsfPersonaText>
    </MsfPersona>
  </div>

  <div class="app-test-details-infos ml-5">
    <div>
      <div>Prévue pour</div>
      <div class="d-flex">
        <div class="icon-label">
          <span class="icon-label-icon" MsfIcon iconName="Calendar"></span>
          <span class="icon-label-text">{{test.expectedStartDate | date}}</span>
        </div>

        <div class="icon-label ml-2">
          <span class="icon-label-icon" MsfIcon iconName="AwayStatus"></span>
          <span class="icon-label-text"> {{test.expectedStartHour}} à {{test.expectedEndHour}}</span>
        </div>
      </div>
    </div>

    <div *ngIf="test.progress">
      <div>Heure de début</div>
      <div class=" icon-label">
        <span class="icon-label-icon" MsfIcon iconName="AwayStatus"></span>
        <span class="icon-label-text"> {{test.startHour}} </span>
      </div>
    </div>


    <div *ngIf="test.finished">
      <div>Effectuée le</div>
      <div class="d-flex">
        <div class="icon-label">
          <span class="icon-label-icon" MsfIcon iconName="Calendar"></span>
          <span class="icon-label-text">{{test.startDate | amCalendar}}</span>
        </div>

        <div class=" icon-label ml-2">
          <span class="icon-label-icon" MsfIcon iconName="AwayStatus"></span>
          <span class="icon-label-text"> {{test.startHour}} à {{test.endHour}}</span>
        </div>
      </div>
    </div>

    <div class=" icon-label">
      <span class="icon-label-icon" MsfIcon iconName="CalculatorMultiply"></span>
      <span class="icon-label-text"> {{test.coefficient}}</span>
    </div>

  </div>

</div>
