<MsActionMenu *ngIf="yearTeacher.yearDepartment?.department?.isDirector" class="ms-depth-8 p-2">
  <button MsActionMenuButton icon="Delete" (click)="delete()" theme="error">Supprimer</button>
</MsActionMenu>

<div class="ms-description-list" style="white-space: nowrap">
  <dl>
    <dt>Nom & prénom</dt>
    <dd>
      <user-persona *ngIf="yearTeacher.teacher?.user" [user]="yearTeacher.teacher?.user"></user-persona>
    </dd>
  </dl>

  <dl>
    <dt>Année scolaire</dt>
    <dd>
      <a [routerLink]="yearTeacher.yearDepartment?.year?.url()">
        {{yearTeacher.yearDepartment?.year?.rangeYears()}}
      </a>
    </dd>
  </dl>

  <dl>
    <dt>Département</dt>
    <dd>
      <a [routerLink]="yearTeacher.yearDepartment?.url()">
        {{yearTeacher.yearDepartment?.department?.name}}
      </a>
    </dd>
  </dl>


</div>
