<div class="ms-pageTitle">
  <h4>Planificateurs</h4>
  <button *ngIf="school.userPrincipal.isPrincipal" msButton icon="Add" theme="primary"
          (click)="addPlanners()">
    Ajouter <span class="ms-hiddenSm"> des planificateurs</span>
  </button>
</div>

<msAlert theme="standard" class="mt-3" *ngIf="school.userPrincipal.isPrincipal">
  Les planificateurs sont les personnes chargées de <b> dresser les emplois du temps des cours et des examens!</b> <br>
  Ce sont aussi eux qui <b>ajouteront ou supprimeront les personnes qui surveillent, corrigent, et traitent les
  épreuves</b>.
</msAlert>

<ms-table #table class="mt-3">
  <ms-tableHead *msTableHeadDef>
    <ms-tableHeadCell name="#">#</ms-tableHeadCell>
    <ms-tableHeadCell name="user">Utilisateur</ms-tableHeadCell>
    <ms-tableHeadCell name="registrationDate">Date d'ajout</ms-tableHeadCell>
    <msTableHeadCell name="actions" class="text-right">
      <i class="ms-Icon ms-Icon--SetAction"></i>
    </msTableHeadCell>
  </ms-tableHead>

  <tr #row *ms-tableRowDef="let item of [] ; let i=index" ms-tableRow>
    <td ms-tableCell>{{i + 1}} </td>

    <td ms-tableCell>
      <div class="d-flex">
        <ms-persona size="size40" *ngIf="item.user.hasImage" [imageUrl]="item.user.imageUrl"></ms-persona>
        <ms-persona size="size40" *ngIf="!item.user.hasImage" [text]="item.user.name"></ms-persona>
        <div class="ml-2">
          <div class="ms-fontWeight-semibold">{{item.user?.fullName}}</div>
          <div class="ms-fontSize-12" *ngIf="item.user?.username">@{{item.user?.username}}</div>
        </div>
      </div>
    </td>

    <ms-tableCell class="ms-fontSize-12">{{item.registrationDate | date}}</ms-tableCell>


    <ms-tableCell>
      <ng-container *ngIf="school.userPrincipal.isPrincipal">
        <button msIconButton (click)="deletePlanner(item)" icon="Delete" theme="error" [rounded]="true"></button>
      </ng-container>
    </ms-tableCell>
  </tr>
</ms-table>


