<div>
  <div class="ms-pageTitle">
    <h2>Spécialités</h2>
  <button msButton icon="Add" theme="primary" (click)="service.add(department)">
    Ajouter <span class="ms-hiddenSm">une spécialité</span></button>
</div>


<div>
  <div *ngFor="let item of department.specialities" class="mt-2 p-3"
       style="background-color: var(--cardBackgroundColor)">
    <div class="d-flex justify-content-between align-items-center">
      <div class="ms-fontSize-18 ms-fontWeight-semibold">{{item.name}}</div>

      <div>
        <a [routerLink]="item.url" class="mr-2">Détails</a>
        <button msIconButton theme="transparent" icon="More" [MsfMenuTrigger]="levelMenu"></button>
        <MsfMenu #levelMenu>
          <MsfMenuItem icon="Add">Ajouter un niveau</MsfMenuItem>
          <MsfMenuItem icon="Delete" theme="error" (click)="service.delete(item)">
            Supprimer cette specialité
          </MsfMenuItem>
        </MsfMenu>
      </div>
    </div>

    <div>
        <span class="mr-2" *ngFor="let levelSpeciality of item.levelSpecialities">
          Niveau {{levelSpeciality.level.index + 1}}
          <button msIconButton theme="transparent" icon="Delete" [rounded]="true"
                         (click)="service.removeLevelSpeciality(levelSpeciality)"></button>
        </span>
    </div>
    <div>{{item.description}}</div>
  </div>
</div>
</div>
