<app-layout>

  <div style="display: grid; grid-template-columns: 200px 1fr; ">
    <MsRibbonMenu style="height: 100%">
<!--      <button class="">-->
<!--        <i class="icon-ic_fluent_navigation_16_regular" style="color:var(&#45;&#45;textColor)"></i>-->
<!--      </button>-->
      <MsRibbonMenuItem [routerLink]="url('home')" icon="home" label="home">Accueil</MsRibbonMenuItem>
      <MsRibbonMenuItem [routerLink]="url('courses')" imageIcon="/assets/icon/books.png" label="courses">Cours</MsRibbonMenuItem>
      <MsRibbonMenuItem [routerLink]="url('courseHours')" imageIcon="/assets/icon/calendrier.png" label="courseHours">Emplois du temps</MsRibbonMenuItem>
      <MsRibbonMenuItem [routerLink]="url('courseSessions')" imageIcon="/assets/icon/schedule.svg" label="courseSessions">Séances de cours</MsRibbonMenuItem>
      <MsRibbonMenuItem [routerLink]="url('students')" imageIcon="/assets/icon/eleve.png" label="students">Étudiants</MsRibbonMenuItem>
      <MsRibbonMenuItem [routerLink]="url('examinations')" imageIcon="/assets/icon/examination.png" label="examinations">Examens</MsRibbonMenuItem>

    </MsRibbonMenu>

  <div class="p-2">
    <router-outlet></router-outlet>
  </div>




<!--    <div *MsRibbonContentDef>-->
<!--      <div>{{school.name}}</div>-->
<!--      <app-department-list [school]="school"></app-department-list>-->
<!--    </div>-->
<!--    <div *MsRibbonContentDef>-->
<!--      <app-planner-list [school]="school"></app-planner-list>-->
<!--    </div>-->
<!--    <div *MsRibbonContentDef>-->
<!--      <CourseList *ngIf="!itemId" [school]="school"></CourseList>-->
<!--      <CourseHome *ngIf="itemId"  [courseId]="itemId"></CourseHome>-->
<!--    </div>-->
<!--    <div *MsRibbonContentDef>-->
<!--      <CourseHourList [school]="school"></CourseHourList>-->
<!--    </div>-->
<!--    <div *MsRibbonContentDef>-->
<!--      <CourseSessionList [school]="school"></CourseSessionList>-->
<!--    </div>-->
<!--    <div *MsRibbonContentDef>-->
<!--      <app-room-list [school]="school"></app-room-list>-->
<!--    </div>-->
<!--    <div *MsRibbonContentDef>-->
<!--      <app-application-list [school]="school"></app-application-list>-->
<!--    </div>-->

<!--    <div *MsRibbonContentDef>-->
<!--      <app-student-list [school]="school"></app-student-list>-->
<!--    </div>-->

<!--    <div *MsRibbonContentDef>-->
<!--      <app-examination-list [school]="school"></app-examination-list>-->
<!--    </div>-->
  </div>
</app-layout>
