<div class="flex-center-cover">
  ﻿
  <div class="ms-form">
    <div class="ms-form-header">Changer le niveau et/ou la spécialité</div>

    <div class="ms-textField">
      <label for="level" class="msf-label">Niveau</label>
      <MsSelect id="level" class="ms-textField-input" [(ngModel)]="level" (ngModelChange)="loadLevelSpecialities()"
                 placeholder="Choisir un niveau">
        <MsSelectOption *ngFor="let item of levels" [value]="item">Niveau {{item.index}}</MsSelectOption>
      </MsSelect>
    </div>

    <div class="ms-textField">
      <label for="levelSpeciality" class="msf-label">Spécialité </label>
      <MsSelect id="levelSpeciality" class="ms-textField-input" [(ngModel)]="levelSpeciality"
                 placeholder="Choisir une specialité">
        <MsSelectOption *ngFor="let item of level.levelSpecialities"
                         [value]="item">{{item.speciality.name}}</MsSelectOption>
      </MsSelect>
    </div>


    <div class="mt-4 text-right">
      <button msButton msDialogContent class="mr-3">Annuler</button>
      <button msButton theme="primary" [disabled]="!level" (click)="change()">
        Changer
      </button>
    </div>
  </div>
</div>
