<app-layout>
  <div class="p-3">
    <div class="ms-pageTitle">
        <h2> Établissements ({{schools.length}}) </h2>
        <div class="ms-hiddenSm">
          <button *ngIf="_auth.isAuthorized" msButton icon="Add" theme="primary" (click)="add()">Ajouter un établissement</button>
        </div>
    </div>

    <msAlert theme="standard" *ngIf="_auth.isAuthorized" class="d-block my-2 ms-hiddenMdUp">
      <div>
        Vous êtes chef d'un établissement? Ajouter votre établissement sur notre plateforme dès maintenant.
      </div>

      <div class="mt-2">
        <button msButton icon="Add" theme="primary" routerLink="/schools/add">Ajouter un établissement</button>
      </div>

    </msAlert>

    <div *ngIf="isLoading">
      <MsSpinner></MsSpinner>
    </div>

    <div class="py-3" *ngIf="schools && schools.length > 0">
      <div>
        <SchoolCard *ngFor="let school of schools" [school]="school" [routerLink]="school.url">

        </SchoolCard>
      </div>
    </div>

  </div>

</app-layout>
