<div>
  <div class="ms-pageTitle">
    <div class="ms-fontSize-20">Niveaux</div>
    <button *ngIf="department.isPrincipalUser" class="ml-5" msButton icon="Add" theme="primary" (click)="addLevel()">
      Ajouter <span class="ms-hiddenSm">un niveau</span>
    </button>
  </div>

  <div>
    <div *ngFor="let item of department.levels" class="p-3 mt-2" style="background-color: var(--cardBackgroundColor)">
      <div class="d-flex justify-content-between align-items-center">
        <div class="ms-fontSize-18 ms-fontWeight-semibold">Niveau {{item.index + 1}}</div>

        <div class="d-flex align-items-center">
          <a [routerLink]="item.url" class="mr-2">Détails</a>
        </div>

      </div>

      <div class="ms-divider mb-2"></div>

      <div>
        <span style="border: 1px solid var(--borderColor); border-radius: 15px; display: inline-block"
              class="p-1 mr-2 ms-pointer"
              *ngFor="let levelSpeciality of item.levelSpecialities"
              [routerLink]="levelSpeciality.url">
          {{levelSpeciality.speciality.name}}
        </span>
      </div>
    </div>
  </div>
</div>
