<div class="flex-center-cover">
  <form class="ms-form ms-depth-8">
    <div class="ms-form-header">Ajouter une spécialité</div>

    <div class="ms-textField">
      <label for="specialities" class="msf-label">Spécialité à ajouter au niveau {{level.index + 1}}</label>
      <MsSelect id="specialities" [(ngModel)]="speciality" name="speciality" class="ms-textField-input"
                 placeholder="Choisir une spécialité">
        <MsSelectOption *ngFor="let item of specialities" [value]="item">{{item.name}}</MsSelectOption>
      </MsSelect>
    </div>

    <div class="mt-4 text-right">
      <button msButton msDialogContent class="mr-3">Annuler</button>
      <button msButton theme="primary" icon="Add" [disabled]="!speciality" (click)="add()">Ajouter</button>
    </div>
  </form>
</div>
