<ng-container *ngIf="test">
  <div class="d-flex justify-content-between">
    <div class="app-test-item-testName ms-link">{{test.course?.name}} ({{test.course?.code}})</div>
    <div class="text-right">
      <span class="ms-link" [routerLink]="testLevelSpeciality.url">Détails</span>
    </div>
  </div>


  <div class="d-flex mt-2">
    <div class="app-test-item-states">
      <div class="app-test-item-state-item" *ngIf="test.useAnonymity">
        <span class="ms-Icon ms-Icon--Hide3 app-test-item-state-icon ms-bgColor-sharedRed20"></span>
        <span class="app-test-item-state-icon-text"> Anonymée </span>
      </div>

      <div class="app-test-item-state-item  mt-2">
        <span class="ms-Icon ms-Icon--CheckMark pp-test-item-state-icon ms-bgColor-sharedGreenCyan10"></span>
        <span class="app-test-item-state-icon-text"> Corrigée</span>
      </div>

      <div class="app-test-item-state-item mt-2" *ngIf="!test.isPublished">
      <span class="ms-Icon ms-Icon--StatusCircleExclamation app-test-item-state-icon ms-bgColor-sharedRedOrange10"></span>
        <span class="app-test-item-state-icon-text"> Notes non publiées</span>
      </div>

    </div>

    <div class="app-test-item-supervisors ml-2">
      <div class="d-flex">
        <MsTextPersona initialText="ND" color="green"></MsTextPersona>
        <div class=" ml-2 ms-fontWeight-semibold">Neil deGrasse</div>
      </div>

      <div class="d-flex">
        <MsTextPersona initialText="CC"></MsTextPersona>
        <div class=" ml-2 ms-fontWeight-semibold">Chendjou Caleb deGrace</div>
      </div>
    </div>

    <div class="app-test-item-infos ml-5">
      <div>
        <div>Prévue pour</div>
        <div class="d-flex">
          <div class="icon-label">
            <span class="icon-label-icon ms-Icon ms-Icon--Calendar"></span>
            <span class="icon-label-text">{{test.expectedStartDate | date}}</span>
          </div>

          <div class="icon-label ml-2">
            <span class="icon-label-icon ms-Icon ms-Icon--AwayStatus"></span>
            <span class="icon-label-text"> {{test.expectedStartHour}} à {{test.expectedEndHour}}</span>
          </div>
        </div>
      </div>

      <div *ngIf="test.progress">
        <div>Heure de début</div>
        <div class=" icon-label">
          <span class="icon-label-icon ms-Icon ms-Icon--AwayStatus"></span>
          <span class="icon-label-text"> {{test.startHour}} </span>
        </div>
      </div>


      <div *ngIf="test.finished">
        <div>Effectuée le</div>
        <div>
          <div class="icon-label">
            <span class="icon-label-icon ms-Icon ms-Icon--Calendar"></span>
            <span class="icon-label-text">{{test.startDate | amCalendar}}</span>
          </div>

          <div class=" icon-label ml-2">
            <span class="icon-label-icon ms-Icon ms-Icon--AwayStatus"></span>
            <span class="icon-label-text"> {{test.startHour}} à {{test.endHour}}</span>
          </div>
        </div>
      </div>

      <div class=" icon-label">
        <span class="icon-label-icon ms-Icon ms-Icon--CalculatorMultiply"></span>
        <span class="icon-label-text"> {{test.coefficient}}</span>
      </div>

    </div>
  </div>


</ng-container>
