<ng-container *ngIf="style === 'card'">
<a *ngFor="let yearLevel of yearLevels"
   [routerLink]="yearLevel.url()"
   year-level-card [yearLevel]="yearLevel"
   class="ms-link-inherit ms-cardBackgroundColor ms-cardBackgroundColor--hover p-3"></a>
</ng-container>

<ng-container *ngIf="style === 'date'">
  <a *ngFor="let yearLevel of yearLevels"
     class="ms-link-inherit ms-cardBackgroundColor ms-cardBackgroundColor--hover"
     year-item [year]="yearLevel.yearDepartment.year" [routerLink]="yearLevel.url()">

  </a>
</ng-container>
