<app-layout>
  <div class="ms-header">
    <div class="d-flex align-items-center">
      <button historyBack msIconButton icon="ChevronLeftSmall"
              theme="transparent"
              size="normal" [rounded]="true"></button>
      <div class="ms-header-title">Niveau {{examinationLevelSpeciality.examinationLevel.level.index + 1}}
        / {{examinationLevelSpeciality.examinationSpeciality.speciality.name}}</div>
    </div>
  </div>
  <msPivot>
    <msPivotHeader>
      <msPivotLabel id="home">Acceuil</msPivotLabel>
      <msPivotLabel id="students">Épreuves</msPivotLabel>
      <msPivotLabel id="tests">Étudiants</msPivotLabel>
    </msPivotHeader>
    <msPivotBody>
      <div *msPivotContentDef>
        <app-examination-level-speciality-home [examinationLevelSpeciality]="examinationLevelSpeciality">

        </app-examination-level-speciality-home>
      </div>

      <div *msPivotContentDef>
        <app-test-level-speciality-list
          [examinationLevelSpeciality]="examinationLevelSpeciality"></app-test-level-speciality-list>
      </div>

      <div *msPivotContentDef>
        <app-examination-student-list
          [examinationLevelSpeciality]="examinationLevelSpeciality"></app-examination-student-list>
      </div>


    </msPivotBody>
  </msPivot>
</app-layout>
