﻿<form class="ms-dialog-form">
  <h5>Enlever la charge de cours magistrale</h5>

  <div class="d-flex mt-3">
    <div>
      <img src="/assets/icon/lecture.png" alt="book image" width="42" height="42">
    </div>
    <div class="ms-fontSize-16 ml-3">
      Enlevez la charge de cours magistrale à l'enseignant
      <b>{{semesterCourseTeacher.semesterTeacher?.yearTeacher?.teacher?.user?.fullName}}</b> du cours
      <b> {{semesterCourseTeacher.courseName}}</b> pour le compte de ce semestre
    </div>
  </div>

  <div class="mt-4 text-right">
    <button msButton msDialogClose class="mr-3">Annuler</button>
    <button msButton (click)="delete()" icon="UserRemove" theme="error">Enlever</button>
  </div>
</form>
