﻿
<div class="d-flex justify-content-between align-items-center">
  <div class="ms-fontWeight-light ms-fontSize-18">Correcteurs</div>

  <div class="text-right ml-5" *ngIf="testGroup.isPlanner">
    <button msButton theme="primaryOutline" icon="Add" (click)="  addTestGroupCorrectors(testGroup)">Ajouter</button>
  </div>
</div>

<div *ngIf="testGroup.testGroupCorrectors">
  <msAlert *ngIf="testGroup.testGroupCorrectors?.length === 0" theme="severeWarning" class="mt-2">
    Ce groupe n'a pas de correcteurs.
  </msAlert>

  <ms-table class="mt-2">
    <ms-tableHead *ms-tableHeadDef></ms-tableHead>
    <ms-tableRow *ms-tableRowDef="let item of correctors" [value]="item">
      <ms-tableCell class="px-0">
        <user-persona [user]="item.corrector?.user"></user-persona>
      </ms-tableCell>
      <ms-tableCell class="px-0 text-right">
        <ng-container *ngIf="testGroup.isPlanner">
          <button msIconButton icon="MoreVertical" theme="transparent" [MsfMenuTrigger]="correctorMore"></button>
          <MsfMenu #correctorMore>
            <MsfMenuItem icon="Delete" theme="error" (click)="remove(item)">
              Supprimer
            </MsfMenuItem>
          </MsfMenu>
        </ng-container>
      </ms-tableCell>

    </ms-tableRow>
  </ms-table>
</div>
