﻿
<div class="d-flex justify-content-between align-items-center">
  <div class="ms-fontWeight-light ms-fontSize-18">Correcteurs</div>

  <div class="text-right ml-5" *ngIf="testGroup.relation.isPlanner">
    <MsfButton Icon="Add" [outline]="true" (click)="service.addTestGroupCorrectors(testGroup)">Ajouter</MsfButton>
  </div>
</div>

<div *ngIf="testGroup.testGroupCorrectors">
  <msAlert *ngIf="testGroup.testGroupCorrectors?.length === 0" theme="severeWarning" class="mt-2">
    Ce groupe n'a pas de correcteurs.
  </msAlert>

  <MsfTable class="mt-2">
    <MsfTableRow *ngFor="let item of testGroup.testGroupCorrectors" [value]="item">
      <MsfTableCell class="py-1">
        <MsfPersona size="size32">
          <MsfPersonaFigure [imageUrl]="item.corrector?.user?.imageUrl"></MsfPersonaFigure>
          <MsfPersonaText>{{item.corrector?.user?.fullName}}</MsfPersonaText>
        </MsfPersona>
      </MsfTableCell>
      <MsfTableCell class="py-1">
        <ng-container *ngIf="testGroup.relation.isPlanner">
          <i class="ms-Icon ms-Icon--More p-2" [MsfMenuTrigger]="correctorMore" style="cursor:pointer"></i>
          <MsfMenu #correctorMore>
            <MsfMenuItem icon="Delete" theme="error" (click)="service.removeTestGroupCorrector(testGroup, item)">
              Supprimer
            </MsfMenuItem>
          </MsfMenu>
        </ng-container>
      </MsfTableCell>

    </MsfTableRow>
  </MsfTable>
</div>
