﻿<app-student-layout [student]="student">

    <div class="ms-fontSize-28">{{student.fullName}}</div>
    <div class="ms-fontSize-12">Ajouté {{student.registrationDate | amCalendar}}</div>

    <div class="mt-4">


      <MsfPersona *ngIf="student.user" class="ml-5">
        <MsfPersonaFigure text="{{student.user.fullName}}"></MsfPersonaFigure>
        <MsfPersonaText>
          <div class="ms-fontSize-12">Lié à l'utilisateur</div>
          <div class="ms-fontWeight-semibold">{{student.user.fullName}}</div>
        </MsfPersonaText>
      </MsfPersona>
    </div>

  <div>
    <MsfTable>
      <MsfTableRow>
        <MsfTableCell>Matricule</MsfTableCell>
        <MsfTableCell class="ms-fontWeight-semibold">{{student.registrationId}}</MsfTableCell>
      </MsfTableRow>

      <MsfTableRow>
        <MsfTableCell>Date de naissance</MsfTableCell>
        <MsfTableCell class="ms-fontWeight-semibold">{{student.birthDate | amCalendar}}</MsfTableCell>
      </MsfTableRow>
      <MsfTableRow>
        <MsfTableCell>Sexe</MsfTableCell>
        <MsfTableCell class="ms-fontWeight-semibold">
          <ng-container *ngIf="student.gender == 'M' || student.gender == 'm'">Masculin</ng-container>
          <ng-container *ngIf="student.gender == 'F' || student.gender == 'f'">Féminin</ng-container>
        </MsfTableCell>
      </MsfTableRow>

      <MsfTableRow>
        <MsfTableCell>Spécialité</MsfTableCell>
        <MsfTableCell class="ms-fontWeight-semibold">
          <div>{{student.speciality.name}}</div>
          <div class="ms-fontColor-sharedOrange10" *ngIf="!student.speciality">Aucune</div>
        </MsfTableCell>
      </MsfTableRow>

      <MsfTableRow>
        <MsfTableCell>Groupe</MsfTableCell>
        <MsfTableCell>
          <span *ngIf="student.group">{{student.group.name}} ({{student.group.index}})</span>
          <span class="ms-fontColor-sharedRed10" *ngIf="!student.group">Indisponible</span>
        </MsfTableCell>
      </MsfTableRow>


    <MsfTableRow>
      <MsfTableCell>N° général</MsfTableCell>
      <MsfTableCell>
        <span *ngIf="student.index">{{student.index}})</span>
        <span class="ms-fontColor-sharedRed10" *ngIf="!student.index">Indisponible</span>
      </MsfTableCell>

    </MsfTableRow>

    <MsfTableRow>
      <MsfTableCell>N° de groupe</MsfTableCell>
      <MsfTableCell>
        <div *ngIf="student.groupIndex">{{student.groupIndex}})</div>
        <div class="ms-fontColor-sharedRed10" *ngIf="!student.groupIndex">Indisponible</div>
      </MsfTableCell>

    </MsfTableRow>

      <MsfTableRow>
        <MsfTableCell>Ajouté par</MsfTableCell>
        <MsfTableCell>
          <MsfPersona size="size40">
            <MsfPersonaFigure size="size40" [imageUrl]="student.registerUser.imageUrl" ></MsfPersonaFigure>
            <MsfPersonaText>
              <div class="ms-fontWeight-semibold">{{student.registerUser.fullName}}</div>
              <div class="ms-fontSize-12">@{{student.registerUser.username}}</div>
            </MsfPersonaText>
          </MsfPersona>
        </MsfTableCell>
      </MsfTableRow>
    </MsfTable>
  </div>
</app-student-layout>
