<app-layout>
  <app-school-banner [school]="school" (onSchoolDelete)="_router.navigateByUrl('/schools')"></app-school-banner>

  <msPivot>
    <msPivotHeader>
      <msPivotLabel>Accueil</msPivotLabel>
      <msPivotLabel>Départments</msPivotLabel>
      <msPivotLabel>Planificateurs</msPivotLabel>
      <msPivotLabel>Salles</msPivotLabel>
      <msPivotLabel>Examens</msPivotLabel>
    </msPivotHeader>

    <msPivotBody>
      <div *msPivotContentDef>Accueil</div>
      <div *msPivotContentDef>
        <app-department-list [school]="school"></app-department-list>
      </div>
      <div *msPivotContentDef>
        <app-planner-list [school]="school"></app-planner-list>
      </div>
      <div *msPivotContentDef>
        <app-room-list [school]="school"></app-room-list>
      </div>
      <div *msPivotContentDef>
        <app-examination-list [school]="school"></app-examination-list>
      </div>
    </msPivotBody>
  </msPivot>
</app-layout>
