<div class="flex-center-cover">
  ﻿<form class="ms-form">
  <div class="ms-form-header">Noter la copie</div>


  <div class="ms-textField">
    <label for="score" class="msf-label">Note /{{paper.test.radical}}</label>
    <input type="number" id="score" name="score" class="ms-textField-input" [(ngModel)]="score">

    <div msColor="sharedRed10" *ngIf="!isValid">
      La note doit être supérieur à 0 et inférieur au radical de l'épreuve.
    </div>
  </div>

  <div class="mt-4 text-right">
    <button msButton MsfModalClose class="mr-3">Annuler</button>
    <button msButton theme="primary" icon="Edit" [disabled]="!isValid" (click)="edit()">
      Noter
    </button>
  </div>
</form>



</div>
