<div class="d-flex">
  <div class="ms-fontWeight-semibold" [style.fontSize.px]="size" [style.lineHeight.px]="size">
    {{semester.index + 1}}</div>
  <div class="ms-fontSize-20 ml-2" #layout>
    <div>
      <span class="ms-fontWeight-light">Du </span>
      <span > {{semester.expectedStartDate | amDateFormat:'LL' }}</span>
    </div>

    <div>
      <span class="ms-fontWeight-light">Au </span>
      <span > {{semester.expectedEndDate | amDateFormat:'LL' }}</span>
    </div>

    <div >
      <MsStateBadge [state]="semester.state"></MsStateBadge>
    </div>
  </div>
</div>


