﻿<div class="flex-center-cover" *ngIf="form">
<form class="ms-form"  [formGroup]="form">
  <div class="ms-form-header">Ajouter une épreuve</div>

  <div class="ms-textField" *ngIf="examination && !examinationDepartment">
    <label for="examinationDepartment" class="msf-label">Département</label>

    <MsSelect id="examinationDepartment" formControlName="examinationDepartment"
               class="ms-textField-input" placeholder="Choisir un département"
               (selectionchange)="changeExaminationDepartment($event.value)">
      <MsSelectOption *ngFor="let item of examination.examinationDepartments" [value]="item">{{item.department?.name}}
      </MsSelectOption>
    </MsSelect>
  </div>

  <div class="ms-textField" *ngIf="examinationLevels">
    <label for="examinationLevel" class="msf-label">Niveau</label>

    <MsSelect *ngIf="!examinationLevel" id="examinationLevel"
               formControlName="examinationLevel" class="ms-textField-input"
               placeholder="Choisir un niveau" (selectionchange)="changeExaminationLevel($event.value)">
      <MsSelectOption *ngFor="let item of examinationLevels"
                       [value]="item">Niveau {{item.level?.index + 1}}
      </MsSelectOption>
    </MsSelect>
  </div>


  <div class="ms-textField" *ngIf="courses">
    <label for="course" class="msf-label">Matière</label>
    <MsSelect id="course" formControlName="course" class="ms-textField-input"
               (selectionchange)="changeCourse($event.value)"
               placeholder="Choisir un cours">
      <MsSelectOption *ngFor="let item of courses" [value]="item">{{item.name}} ({{item.code}})</MsSelectOption>
    </MsSelect>

  </div>

  <div [hidden]="!selectedCourse">
    <div class="ms-textField">
      <label for="coefficient" class="msf-label">Coefficient</label>
      <input type="number" id="coefficient" class="ms-textField-input"
             formControlName="coefficient">
      <app-control-error controlName="coefficient"></app-control-error>
    </div>

    <div class="ms-textField">
      <label for="day" class="msf-label">Date</label>
      <input type="text" id="day" name="day" class="ms-textField-input" DateInput formControlName="day"
             placeholder="JJ/MM/AAAA">
      <app-control-error controlName="day"></app-control-error>
    </div>

    <div class="ms-textFieldGroup">
      <div class="ms-textField">
        <label for="startHour" class="msf-label">Heure de début</label>
        <input type="text" id="startHour" name="startHour" class="ms-textField-input" autocomplete="off" LocalTimeInput
               formControlName="startHour" placeholder="HH:mm">
        <app-control-error controlName="startHour"></app-control-error>
      </div>

      <div class="ms-textField ml-2">
        <label for="endHour" class="msf-label">Heure de fin</label>
        <input type="text" id="endHour" name="endHour" class="ms-textField-input" autocomplete="off"
               formControlName="endHour" placeholder="HH:mm" LocalTimeInput>
        <app-control-error controlName="endHour"></app-control-error>
      </div>
    </div>

    <div class="ms-textField">
      <div labelled text="Utiliser des anonymats" for="useAnonymity">
        <MsCheckbox id="useAnonymity" formControlName="useAnonymity"></MsCheckbox>
      </div>
    </div>

  </div>
  <div class="mt-4 text-right">
    <button msButton msDialogClose class="mr-3">Annuler</button>
    <button msButton theme="primary" icon="Add" [disabled]="form.canDisabledSubmit" (click)="add()">
      Ajouter
    </button>
  </div>
</form>


</div>
