<a [routerLink]="yearDepartment.department.url">{{yearDepartment.department?.name}}</a>


<h4 class="mt-4">Semestres</h4>
<div *ngIf="semesterDepartments" class="mt-2">
  <a SemesterItem *ngFor="let semesterDepartment of semesterDepartments"
     [routerLink]="semesterDepartment.url()"
     [semester]="semesterDepartment.semester">

  </a>
</div>

<div class="mt-4">
  <h4>Niveaux</h4>
  <div *ngIf="yearDepartment.yearLevels">
    <a *ngFor="let yearLevel of yearDepartment.yearLevels" [routerLink]="yearLevel.url()">
      <button msButton class="m-1">Niveau {{yearLevel.level?.index + 1}}</button>
    </a>
  </div>
</div>

<div class="mt-4">
  <h4>Spécialités</h4>
  <div *ngIf="yearDepartment.yearSpecialities">
    <a *ngFor="let yearSpeciality of yearDepartment.yearSpecialities" [routerLink]="yearSpeciality.url()">
      <button msButton class="m-1">{{yearSpeciality.speciality.name}}</button>
    </a>
  </div>
</div>
