<div class="ms-pageTitle">
  <div msFontSize="18">{{examination.name}}</div>
  <div>
    <button msIconButton icon="Settings" [MsDropdownTrigger]="examinationMenu" theme="transparent"></button>
    <MsDropdown #examinationMenu>
      <MsContextMenu>
        <MsContextMenuItem icon="Reload">Actualiser</MsContextMenuItem>
        <MsContextMenuItem theme="primary" icon="Clock" *ngIf="examination.isPending"
                           (click)="service.start(examination)">
          Débuter
        </MsContextMenuItem>
        <MsContextMenuItem theme="warning" icon="Lock" *ngIf="examination.isProgress"
                           (click)="service.end(examination)">
          Fermer
        </MsContextMenuItem>
        <MsContextMenuItem theme="primary" icon="Rotate90Clockwise" *ngIf="examination.isFinished"
                           (click)="service.relaunch(examination)">Relancer
        </MsContextMenuItem>
        <MsContextMenuItem icon="Delete" theme="error" (click)="service.delete(examination)">Supprimer
        </MsContextMenuItem>
      </MsContextMenu>
    </MsDropdown>
  </div>
</div>

<div>
  <span class="ms-badge" msBgColor="sharedGreenCyan10" *ngIf="examination.isProgress">En cours</span>
</div>
<div class="d-flex justify-content-between flex-wrap">
  <div class="ms-description-list mt-5">
    <dl>
      <dt>Nom</dt>
      <dd>{{examination.name}}</dd>
    </dl>

    <dl>
      <dt>Ajouté le</dt>
      <dd>{{examination.registrationDate | date}} </dd>
    </dl>

    <dl>
      <dt>Début prévue pour le</dt>
      <dd>{{examination.expectedStartDate | date}} </dd>
    </dl>

    <dl>
      <dt>Fin prévue pour le</dt>
      <dd>{{examination.expectedEndDate | date}} </dd>
    </dl>
  </div>


  <div class="ms-description-list mt-5">
    <dl>
      <dt>Épreuves</dt>
      <dd>{{examination.statistics.testCount}}</dd>
    </dl>
    <dl>
      <dt>Corrigées</dt>
      <dd msColor="sharedYellowGreen10">{{examination.statistics.correctedTestCount}}</dd>
    </dl>
    <dl>
      <dt>Publiées</dt>
      <dd msColor="sharedGreenCyan10">{{examination.statistics.publishedTestCount}}</dd>
    </dl>

    <dl>
      <dt>Fermées</dt>
      <dd msColor="sharedCyanBlue10">{{examination.statistics.closedTestCount}}</dd>
    </dl>

  </div>

  <div class="ms-description-list mt-5">
    <dl>
      <dt>Étudiants</dt>
      <dd>{{examination.statistics.studentCount}}</dd>
    </dl>
    <dl>
      <dt>Moy. générale(médiane)</dt>
      <dd>{{examination.statistics.mean | number}} &nbsp; ({{examination.statistics.median | number}})</dd>
    </dl>
    <dl msColor="sharedYellowGreen10">
      <dt>Réussite</dt>
      <dd>{{examination.statistics.successCount}}
        ({{examination.statistics.successCount / examination.statistics.studentCount * 100 | number}}%)
      </dd>
    </dl>

    <dl msColor="sharedRed10">
      <dt>Échec</dt>
      <dd>{{examination.statistics.failedCount}}
        ({{examination.statistics.failedCount / examination.statistics.studentCount * 100 | number}}%)
      </dd>
    </dl>
  </div>

</div>


<div>
  <!--  {{examination.statistics | json}}-->
</div>
