<app-examination-layout [examination]="student.examination" [paths]="paths">
  <MsfTab style="display: flex">
    <div>
      <a MsfTabLabel routerLinkActive="active" [routerLink]="[student.url, 'home']" icon="Home">Détails</a>
      <a MsfTabLabel routerLinkActive="active" [routerLink]="[student.url, 'students']" icon="Student">épreuves</a>
    </div>
    <div *ngIf="examination.userPrincipal.isPrincipal" style="flex-grow: 1; display: flex; align-items: center; justify-content: flex-end">
      <MsfButton theme="primary" LeftIcon="ChevronDown" [MsfMenuTrigger]="more">Action</MsfButton>

    </div>

  </MsfTab>
  <ng-content></ng-content>
</app-examination-layout>


<MsfMenu #more>
  <MsfMenuItem icon="Contact" (click)="_studentService.edit(student)">Modifier les informations</MsfMenuItem>
  <MsfMenuItem icon="AddFriend" *ngIf="!student.user" (click)="_studentService.link(student)">Lier à un utilisateur</MsfMenuItem>
  <MsfMenuItem icon="UserSync" *ngIf="student.user" (click)="_studentService.link(student)">Changer l'utilisateur</MsfMenuItem>
  <MsfMenuItem icon="UserRemove" theme="error" *ngIf="student.user" (click)="_studentService.removeUser(student)">Enlever l'utilisateur</MsfMenuItem>
  <MsfMenuItem icon="EditSolid12" (click)="_studentService.changeRegistrationId(student)">Changer le matricule</MsfMenuItem>
  <MsfMenuItem icon="LearningTools" (click)="_studentService.changeSpeciality(student)" *ngIf="student.speciality">Changer la spécialité</MsfMenuItem>
  <MsfMenuItem icon="LearningTools" (click)="_studentService.changeSpeciality(student)" *ngIf="!student.speciality">Assigner une spécialité</MsfMenuItem>
  <MsfMenuItem icon="Cancel" theme="error" (click)="_studentService.removeSpeciality(student)" *ngIf="student.speciality">Enlever la spécialité</MsfMenuItem>
  <MsfMenuItem icon="Delete" (click)="delete(student)" theme="error">Supprimer</MsfMenuItem>
</MsfMenu>
