<div class="text-right">
  <MsfButton theme="primary" Icon="Add" (click)="add()">Ajouter un ligne</MsfButton>
</div>

<msAlert *ngIf="test.radical !== test.totalScoreRadical" theme="error" class="my-1">
  Le total des radicaux des lignes du barème ne correspondent pas au radical de l'épreuve. Ajouter des lignes supplémentaires
  pour compléter les <b> {{test.radical - test.totalScoreRadical}} points </b> manquants!.
</msAlert>

<MsfTable>
  <MsfTableHead>
    <MsfTableHeadCell>#</MsfTableHeadCell>
    <MsfTableHeadCell sortBy="name">Nom</MsfTableHeadCell>
    <MsfTableHeadCell sortBy="radical">Radical</MsfTableHeadCell>
    <MsfTableHeadCell></MsfTableHeadCell>
  </MsfTableHead>
  <ng-container *ngIf="test.scores?.length > 0 ">
    <MsfTableRow *ngFor="let item of test.scores" [value]="item" #row>
      <MsfTableCell>{{row.index + 1}}</MsfTableCell>
      <MsfTableCell>{{item.name}}</MsfTableCell>
      <MsfTableCell>{{item.radical}}</MsfTableCell>

      <MsfTableCell class="text-right">
        <MsfIconButton class="ml-2" [MsfMenuTrigger]="more" icon="MoreVertical"
                       *ngIf="test.examination?.userPrincipal?.isPrincipal"></MsfIconButton>
        <MsfMenu #more>

          <MsfMenuItem icon="Delete" (click)="service.deleteScore(item)" theme="error">Supprimer</MsfMenuItem>
        </MsfMenu>

      </MsfTableCell>
    </MsfTableRow>
  </ng-container>
</MsfTable>

<msAlert *ngIf="!test.scores || test.scores.length == 0" theme="severeWarning">
  Cette épreuve n'a pas de barème détaillé!
</msAlert>
