<app-layout>
  <div class="layout-sidebar" app-sidebar >
    <i MsfIcon appSidebarCollapse iconName="GlobalNavButton" ></i>
    <a app-sidebar-item icon="Home"  [routerLink]="['/examinations', examination.id]"> Home </a>
    <a app-sidebar-item icon="Group" [routerLink]="['/examinations', examination.id, 'students']">étudiants</a>

    <a app-sidebar-item iconImage="/assets/icon/schedule.svg" [routerLink]="['/examinations', examination.id, 'calendar']">Calendrier</a>
    <a app-sidebar-item iconImage="/assets/icon/result.svg" [routerLink]="['/examinations', examination.id, 'reviews']">Appréciations</a>
    <a app-sidebar-item iconImage="/assets/icon/gear.svg" [routerLink]="['/examinations', examination.id, 'settings']">Paramètres</a>
  </div>
  <ng-content></ng-content>
</app-layout>
