<app-layout [breadcrumbItems]="breadCrumbItems">
  <div class="layout-sidebar" app-sidebar >
    <i MsfIcon appSidebarCollapse iconName="GlobalNavButton" ></i>
    <a app-sidebar-item icon="Home" [routerLink]="[examination.url, 'home']" routerLinkActive="active">Accueil</a>
    <a app-sidebar-item icon="Calendar" [routerLink]="[examination.url, 'calendar']" routerLinkActive="active">Calendrier</a>

    <a  app-sidebar-item icon="Contact" [routerLink]="[ examination.url, 'correctors']" routerLinkActive="active">Correcteurs</a>

    <a app-sidebar-item icon="Contact" [routerLink]="[examination.url, 'principals']" routerLinkActive="active">Délégués</a>

    <a app-sidebar-item icon="Contact" [routerLink]="[examination.url, 'supervisors']" routerLinkActive="active">Surveillants</a>

    <a app-sidebar-item icon="Contact" [routerLink]="[examination.url, 'secretaries']" routerLinkActive="active">Sécrétaires</a>



    <a app-sidebar-item icon="Contact" [routerLink]="[ examination.url, 'students']" routerLinkActive="active">étudiants</a>
    <a app-sidebar-item icon="Group" [routerLink]="[ examination.url, 'groups']" routerLinkActive="active">Groupes</a>
    <a app-sidebar-item icon="LearningTools" [routerLink]="[examination.url, 'specialities']" routerLinkActive="active">Spécialités</a>

    <a app-sidebar-item iconImage="/assets/icon/result.svg" [routerLink]="[examination.url, 'reviews']" routerLinkActive="active">Appréciations</a>
    <a app-sidebar-item icon="Settings" [routerLink]="[examination.url, 'settings']" routerLinkActive="active">Paramètres</a>
  </div>
  <ng-content></ng-content>
</app-layout>
