﻿<form class="ms-dialog-form">
  <h4>Ajouter des cours</h4>

  <div class="d-flex mt-3">
    <div>
      <img src="/assets/icon/book_add.png" alt="book image" width="42" height="42">
    </div>
    <div class="ms-fontSize-16 ml-3">
      Voulez-vous ajouter tous les cours de ce département à au semestre ?
    </div>
  </div>

  <div class="mt-4 text-right">
    <button msButton msDialogClose class="mr-3">Annuler</button>
    <button msButton (click)="addAll()" icon="Add" theme="primary">Ajouter</button>
  </div>
</form>
