<div class="flex-center-cover">
  <form class="ms-form">
    <div class="ms-form-header ms-sticky-header">
      <div msFontSize="20">Changer l'enseignant</div>
      <button msIconButton icon="Cancel" class="ml-2" MsfModalClose theme="transparent" size="normal"></button>
    </div>

    <div class="ms-textField">
      <label for="courseTeacher" class="msf-label">Choisir un enseignant</label>
      <MsfSelect id="courseTeacher" name="courseTeacher" [(ngModel)]="courseTeacher" class="ms-textField-input" placeholder="">
        <MsfSelectOption *ngFor="let item of courseTeachers" [value]="item">
          {{item.teacher.user.fullName}}
        </MsfSelectOption>
      </MsfSelect>
    </div>
    <div class="ms-fontSize-12">Si vous ne voyez un enseignant particulier dans cette liste,
      rassurez vous de l'avoir ajouté au cours sélectionné.</div>



    <div class="mt-4 text-right">
      <button msButton MsfModalClose class="mr-3">Annuler</button>
      <button msButton theme="primary" [disabled]="!courseTeacher" (click)="change()">Changer</button>
    </div>
  </form>
</div>
