<app-layout>
  <div *ngIf="examinationStudent">
  <div class="ms-header">
    <div class="d-flex align-items-center">
      <button [routerLink]="examinationStudent.examinationLevel.url" msIconButton icon="ChevronLeftSmall" theme="transparent"
              size="normal" [rounded]="true"></button>
      <div class="ms-header-title">étudiants / {{examinationStudent.student.fullName}}</div>
    </div>
    <div>

    </div>
  </div>


    <app-examination-student-details [examinationStudent]="examinationStudent"></app-examination-student-details>
  </div>

</app-layout>
