<app-layout>
  <div>
    <div class="ms-header">
      <div class="d-flex align-items-center">
        <button historyBack msIconButton icon="ChevronLeftSmall" theme="transparent" size="normal" [rounded]="true"></button>
        <div class="ms-header-title">
          <a [routerLink]="level.department.url">{{level.department.name}}</a> /
          Niveau {{level.index + 1}}</div>
      </div>

      <div>
        <button *ngIf="!level.department.isStudent" msButton (click)="sendApplication()" icon="AddFriend" theme="primary">Devenir étudiant</button>
        <ng-container *ngIf="level.department.isPrincipalUser">
          <button msIconButton theme="transparent" icon="MoreVertical" [MsfMenuTrigger]="levelMenu"></button>
          <MsfMenu #levelMenu>
            <MsfMenuItem icon="Add" (click)="levelService.addSpeciality(level)">Ajouter une spécialité</MsfMenuItem>
            <MsfMenuItem  icon="Delete" theme="error" (click)="delete()">
              Supprimer ce niveau
            </MsfMenuItem>
          </MsfMenu>
        </ng-container>
      </div>
    </div>

    <msPivot>
      <msPivotHeader>
        <msPivotLabel>Acceuil</msPivotLabel>
        <msPivotLabel>Cours</msPivotLabel>
        <msPivotLabel>Étudiants</msPivotLabel>
        <msPivotLabel>Salles</msPivotLabel>
        <msPivotLabel>Demandes</msPivotLabel>
      </msPivotHeader>
      <msPivotBody>
        <div *msPivotContentDef>
          <app-level-home [level]="level"></app-level-home>
        </div>
        <div *msPivotContentDef>
          <app-course-list [level]="level"></app-course-list>
        </div>
        <div *msPivotContentDef>
          <app-student-list [level]="level"></app-student-list>
        </div>
        <div *msPivotContentDef>
          <app-room-list [level]="level"></app-room-list>
        </div>
        <div *msPivotContentDef>
          <app-application-list [level]="level"></app-application-list>
        </div>
      </msPivotBody>
    </msPivot>

  </div>
</app-layout>
