<app-layout>
  <div>
    <div class="ms-header">
      <div class="d-flex align-items-center">
        <button historyBack="2" msIconButton icon="ChevronLeftSmall" theme="transparent" size="normal"
                [rounded]="true"></button>
        <div class="ms-header-title">
          <a [routerLink]="level.department.url">{{level.department.name}}</a> /
          Niveau {{level.index + 1}}</div>
      </div>

      <div>
        <button *ngIf="!level.department.isStudent" msButton (click)="sendApplication()" icon="AddFriend"
                theme="primary">Devenir étudiant
        </button>
        <ng-container *ngIf="level.department.isPrincipalUser">
          <button msIconButton theme="transparent" icon="Settings" [MsDropdownTrigger]="levelMenu"></button>
          <MsDropdown #levelMenu>
            <MsContextMenu>
              <MsContextMenuItem icon="Add" (click)="levelService.addSpeciality(level)">Ajouter une spécialité
              </MsContextMenuItem>
              <MsContextMenuItem icon="Delete" theme="error" (click)="delete()">
                Supprimer ce niveau
              </MsContextMenuItem>
            </MsContextMenu>
          </MsDropdown>

        </ng-container>
      </div>
    </div>

    <msPivot>
      <msPivotHeader>
        <msPivotLabel id="home">Acceuil</msPivotLabel>
        <msPivotLabel id="course">Cours</msPivotLabel>
        <msPivotLabel id="courseHours">Horaires</msPivotLabel>
        <msPivotLabel id="courseSessions">Séances</msPivotLabel>
        <msPivotLabel id="students">Étudiants</msPivotLabel>
        <msPivotLabel id="rooms">Salles</msPivotLabel>
        <msPivotLabel id="applications">Demandes</msPivotLabel>
      </msPivotHeader>
      <msPivotBody>
        <div *msPivotContentDef>
          <app-level-home [level]="level"></app-level-home>
        </div>
        <div *msPivotContentDef>
          <app-course-list [level]="level"></app-course-list>
        </div>
        <div *msPivotContentDef>
          <app-course-hour-list [level]="level" [hiddenColumns]="['level']"></app-course-hour-list>
        </div>
        <div *msPivotContentDef>
          <app-course-session-list [level]="level" [hiddenColumns]="['level']"></app-course-session-list>

        </div>
        <div *msPivotContentDef>
          <app-student-list [level]="level"></app-student-list>
        </div>
        <div *msPivotContentDef>
          <app-room-list [level]="level"></app-room-list>
        </div>
        <div *msPivotContentDef>
          <app-application-list [level]="level"></app-application-list>
        </div>
      </msPivotBody>
    </msPivot>

  </div>
</app-layout>
