<app-organisation-layout [organisation]="organisation">

  <div class="ms-fontSize-24 ms-fontWeight-light py-2">Salles</div>

  <div *ngIf="rooms" style="display: flex; flex-wrap: wrap">

    <div *ngFor="let item of rooms"
         class="d-flex p-2 mr-2 mt-2" style="background-color: var(--cardBackgroundColor); width: 300px; max-width: 98%">
      <MsfPersona size="size100">
        <MsfPersonaFigure  [text]="item.name"></MsfPersonaFigure>
      </MsfPersona>

      <div class="ml-2">
        <div class="ms-fontSize-20">{{item.name}}</div>
        <div class="ms-fontSize-12 mt-2">{{item.capacity}} Places</div>
        <div class="ms-fontSize-12">{{item.address}}</div>
        <div class="ms-fontSize-10 text-right mt-3">
          <MsfIconButton [MsfMenuTrigger]="more" icon="MoreVertical"></MsfIconButton>
          <MsfMenu #more>
            <MsfMenuItem icon="Delete" (click)="delete(item)" theme="error">Supprimer</MsfMenuItem>
          </MsfMenu>
        </div>
      </div>
    </div>


  </div>
  <float-button (click)="openAddRoomDialog()"></float-button>
</app-organisation-layout>
