<div class="ms-fontSize-24 ms-fontWeight-light py-2 text-capitalize">Demandes</div>

<div>
  <MsfButton theme="primary" [MsfMenuTrigger]="columnMenu" xPosition="ltl" LeftIcon="ChevronDown" [outline]="true">
    Colonne
  </MsfButton>
  <MsfMenu #columnMenu>
    <MsfMenuItem>
      <MsfCheckbox MsfMenuItemCheckbox name="column" value="#"></MsfCheckbox>
      #
    </MsfMenuItem>

    <MsfMenuItem>
      <MsfCheckbox MsfMenuItemCheckbox name="column" value="name"></MsfCheckbox>
      Nom & prénom
    </MsfMenuItem>

    <MsfMenuItem>
      <MsfCheckbox MsfMenuItemCheckbox name="column" value="registrationId"></MsfCheckbox>
      Matricule
    </MsfMenuItem>

    <MsfMenuItem>
      <MsfCheckbox MsfMenuItemCheckbox name="column" value="birthDate"></MsfCheckbox>
      Date de naissance
    </MsfMenuItem>

    <MsfMenuItem>
      <MsfCheckbox MsfMenuItemCheckbox name="column" value="gender"></MsfCheckbox>
      Genre
    </MsfMenuItem>

    <MsfMenuItem>
      <MsfCheckbox MsfMenuItemCheckbox name="column" value="speciality"></MsfCheckbox>
      Spécialité
    </MsfMenuItem>

    <MsfMenuItem>
      <MsfCheckbox MsfMenuItemCheckbox name="column" value="user"></MsfCheckbox>
      Utilisateur
    </MsfMenuItem>

    <MsfMenuItem>
      <MsfCheckbox MsfMenuItemCheckbox name="column" value="registrationDate"></MsfCheckbox>
      Date d'ajout
    </MsfMenuItem>

    <MsfMenuItem>
      <MsfCheckbox MsfMenuItemCheckbox name="column" value="state"></MsfCheckbox>
      Etat
    </MsfMenuItem>

    <MsfMenuItem>
      <MsfCheckbox MsfMenuItemCheckbox name="column" value="processDate"></MsfCheckbox>
      Date de traitement
    </MsfMenuItem>

    <MsfMenuItem>
      <MsfCheckbox MsfMenuItemCheckbox name="column" value="processUser"></MsfCheckbox>
      Traitée par
    </MsfMenuItem>


    <MsfMenuItem>
      <MsfCheckbox MsfMenuItemCheckbox name="column" value="action"></MsfCheckbox>
      Action
    </MsfMenuItem>


  </MsfMenu>
</div>

<div class="ms-table-container">
  <MsfTable *ngIf="applications">
    <MsfTableHead>
      <MsfTableHeadCell *ngIf="canShow('#')">#</MsfTableHeadCell>

      <MsfTableHeadCell sortBy="fullName" *ngIf="canShow('name')">Nom</MsfTableHeadCell>
      <MsfTableHeadCell *ngIf="canShow('registrationId')">Matricule</MsfTableHeadCell>
      <MsfTableHeadCell sortBy="birthDate" *ngIf="canShow('birthDate')">Date de naissance</MsfTableHeadCell>
      <MsfTableHeadCell sortBy="gender" *ngIf="canShow('gender')">Genre</MsfTableHeadCell>

      <MsfTableHeadCell *ngIf="canShow('speciality')">Spécialité</MsfTableHeadCell>


      <MsfTableHeadCell *ngIf="canShow('user')">Utilisateur</MsfTableHeadCell>

      <MsfTableHeadCell sortBy="registrationDate" *ngIf="canShow('registrationDate')">Date d'ajout</MsfTableHeadCell>

      <MsfTableHeadCell *ngIf="canShow('state')">Etat</MsfTableHeadCell>

      <MsfTableHeadCell *ngIf="canShow('processDate')">Date de traitement</MsfTableHeadCell>
      <MsfTableHeadCell *ngIf="canShow('processUser')">Traitée par</MsfTableHeadCell>

      <MsfTableHeadCell style="text-align: right" *ngIf="canShow('action')">Actions</MsfTableHeadCell>
    </MsfTableHead>

    <MsfTableRow #row *ngFor="let item of applications" [value]="item">
      <MsfTableCell *ngIf="canShow('#')">{{row.index}}</MsfTableCell>

      <MsfTableCell *ngIf="canShow('name')">
        <span class="ms-fontWeight-semibold">{{item.fullName}}</span>
        <app-icon *ngIf="item.isAuthor" class="ml-2"></app-icon>
      </MsfTableCell>

      <MsfTableCell class="ms-fontWeight-semibold ms-fontColor-sharedRed10" *ngIf="canShow('registrationId')">
        {{item.registrationId}}
      </MsfTableCell>

      <MsfTableCell *ngIf="canShow('birthDate')">
        {{item.birthDate | amCalendar}}
      </MsfTableCell>

      <MsfTableCell *ngIf="canShow('gender')">
        {{item.gender}}
      </MsfTableCell>

      <MsfTableCell *ngIf="canShow('speciality')" class="ms-fontWeight-semibold">
        {{item.speciality?.name}}
      </MsfTableCell>
      <MsfTableCell *ngIf="canShow('user')">
        <MsfPersona size="size32" *ngIf="item.user">
          <MsfPersonaFigure [text]="item.user?.fullName" size="size32"></MsfPersonaFigure>
          <div class="ml-2">
            <div class="ms-fontWeight-semibold">{{item.user?.fullName}}</div>
            <div class="ms-fontSize-12" *ngIf="item.user?.username">@{{item.user?.username}}</div>
          </div>
        </MsfPersona>
      </MsfTableCell>


      <MsfTableCell *ngIf="canShow('registrationDate')" class="ms-fontSize-12">
        {{item.registrationDate | amCalendar}}
      </MsfTableCell>

      <MsfTableCell *ngIf="canShow('state')" class="ms-fontSize-12">
        <span [appStateBadge]="item.state"></span>
      </MsfTableCell>

      <MsfTableCell *ngIf="canShow('processDate')" class="ms-fontSize-12">
        {{item.processDate | amCalendar}}
      </MsfTableCell>

      <MsfTableCell *ngIf="canShow('processUser')">
        <MsfPersona size="size32" *ngIf="item.processUser">
          <MsfPersonaFigure [text]="item.processUser?.fullName" size="size32"></MsfPersonaFigure>
          <div class="ml-2">
            <div class="ms-fontWeight-semibold">{{item.processUser?.fullName}}</div>
            <div class="ms-fontSize-12" *ngIf="item.processUser?.username">@{{item.processUser?.username}}</div>
          </div>
        </MsfPersona>
      </MsfTableCell>


      <MsfTableCell *ngIf="canShow('action')" style="text-align: right">
        <a MsfButton theme="primary" (click)="_applicationService.details(item)">Détails</a>
        <MsfIconButton [MsfMenuTrigger]="more" icon="MoreVertical" class="ml-2"
                       *ngIf="_examination.userPrincipal?.isPrincipal || item.isAuthor"></MsfIconButton>
        <MsfMenu #more>
          <MsfMenuItemGroup *ngIf="item.isAuthor && item.waiting" title="Modifier">

            <MsfMenuItem icon="Contact" (click)="_applicationService.edit(item)">Modifier les informations</MsfMenuItem>

            <MsfMenuItem icon="D365TalentLearn" (click)="_applicationService.changeSpeciality(item)"
                         *ngIf="item.speciality">Changer la spécialité
            </MsfMenuItem>
            <MsfMenuItem icon="D365TalentLearn" (click)="_applicationService.changeSpeciality(item)"
                         *ngIf="!item.speciality">Assigner une spécialité
            </MsfMenuItem>
            <MsfMenuItem icon="Cancel" theme="error" (click)="_applicationService.removeSpeciality(item)"
                         *ngIf="item.speciality">Enlever la spécialité
            </MsfMenuItem>

          </MsfMenuItemGroup>

          <ng-container *ngIf="item.isAuthor">
            <MsfMenuItem icon="Delete" (click)="delete(item)" theme="error">Supprimer</MsfMenuItem>
          </ng-container>


          <MsfMenuItemGroup *ngIf="_examination.userPrincipal?.isPrincipal && item.waiting">
            <MsfMenuItem icon="UserFollowed" (click)="_applicationService.accept(item)" theme="success">Accepter</MsfMenuItem>
            <MsfMenuItem icon="UserRemove" (click)="_applicationService.reject(item)" theme="error">Rejeter</MsfMenuItem>
          </MsfMenuItemGroup>

        </MsfMenu>
      </MsfTableCell>
    </MsfTableRow>
  </MsfTable>

  <float-button *ngIf=" speciality || examination
          " mat-ripple (click)="openAddApplicationDialog()"></float-button>
</div>
