<div class="p-3">

  <div class="ms-pageTitle">
    <h5>{{examinationStudent.student.fullName}}</h5>
    <div>
      <button msIconButton theme="transparent" icon="Cancel" MsfModalClose=""></button>
    </div>
  </div>


  <div class="d-flex flex-wrap justify-content-between">
    <div class="m-2 ms-sm-w100 ms-description-list">
      <dl>
        <dt>Nom & prénom</dt>
        <dd>
          <a [routerLink]="examinationStudent.student?.url">{{examinationStudent.student.fullName}}</a>
        </dd>
      </dl>
      <dl>
        <dt>Matricule</dt>
        <dd>{{examinationStudent.student.registrationId}}</dd>
      </dl>
      <dl>
        <dt>Date de naissance</dt>
        <dd>{{student.birthDate | date}}</dd>
      </dl>

      <dl>
        <dt>Sexe</dt>
        <dd>
          <ng-container *ngIf="student.gender == 'M' || student.gender == 'm'">Masculin</ng-container>
          <ng-container *ngIf="student.gender == 'F' || student.gender == 'f'">Féminin</ng-container>
        </dd>
      </dl>

    </div>

    <div class="m-2 ms-sm-w100 ms-description-list">
      <dl>
        <dt>Départment</dt>
        <dd>{{examinationStudent.examinationLevel?.examinationDepartment?.department.name}}</dd>
      </dl>
      <dl>
        <dt>Niveau</dt>
        <dd>{{examinationStudent.examinationLevel.level.index + 1}}</dd>
      </dl>

      <dl>
        <dt>Spécialité</dt>
        <dd *ngIf="examinationStudent.examinationLevelSpeciality">
          {{examinationStudent.examinationLevelSpeciality?.examinationSpeciality?.speciality.name}}</dd>
        <dd *ngIf="!examinationStudent.examinationLevelSpeciality">
          <span class="ms-badge ms-badge-error">Aucune</span>
        </dd>
      </dl>
    </div>

    <div class="m-2 ms-sm-w100 ms-description-list" *ngIf="examinationStudent.papers">
      <dl>
        <dt>Participation</dt>
        <dd>{{statistics?.testCount}}
          <span msColor="sharedGreen10"> ({{statistics.correctedTestCount}} Corrigés)</span>
        </dd>
      </dl>

      <dl>
        <dt>Score</dt>
        <dd>{{statistics?.score}} / {{statistics?.radical}}</dd>
      </dl>

      <dl>
        <dt>Moyenne</dt>
        <dd>
          <span [class.ms-fontColor-sharedGreen10]="statistics.mean > 0.7"
                [class.ms-fontColor-sharedRed10]="statistics.mean < 0.5">
            {{statistics.mean * 20 | number}} / 20
          </span>
        </dd>
      </dl>
    </div>
  </div>


  <div>
    <ms-table>
      <msTableHead *msTableHeadDef>
        <msTableHeadCell name="#">#</msTableHeadCell>
        <msTableHeadCell name="course">Cours</msTableHeadCell>
        <msTableHeadCell name="groupIndex" [sortBy]="['groupIndex', 'number']">Groupe</msTableHeadCell>
        <msTableHeadCell name="coefficient" [sortBy]="['coefficient', 'number']">Coefficient</msTableHeadCell>
        <msTableHeadCell name="radical" [sortBy]="['radical', 'number']">Radical</msTableHeadCell>
        <msTableHeadCell name="score" [sortBy]="['score', 'number']">Note</msTableHeadCell>
        <msTableHeadCell name="present" [sortBy]="['present', 'string']">Présent</msTableHeadCell>
        <msTableHeadCell name="actions" class="text-right">
          <i class="ms-Icon ms-Icon--SetAction"></i>
        </msTableHeadCell>
      </msTableHead>

      <msTableRow *ms-tableRowDef="let paper of papers; let i=index" [value]="paper">
        <ms-tableCell>{{i + 1}}</ms-tableCell>
        <ms-tableCell>{{paper.test?.course.name}}</ms-tableCell>
        <ms-tableCell>
          <a *ngIf="paper.testGroup" [routerLink]="paper.testGroup?.url">{{paper.testGroup?.index + 1}}</a>
          <app-icon *ngIf="!paper.testGroup" bgColor="sharedRed10" icon="Cancel"></app-icon>
        </ms-tableCell>
        <ms-tableCell>{{paper.test?.coefficient}}</ms-tableCell>
        <ms-tableCell>{{paper.test?.radical}}</ms-tableCell>
        <ms-tableCell>
        <span class="br-2 ms-fontWeight-semibold text-right ms-fontColor-white" *ngIf="paper.isCorrected && paper.test"
              style="padding:3px"
              [class.ms-bgColor-sharedRed20]="paper.is1_5"
              [class.ms-bgColor-sharedRedOrange10]="paper.is2_5"
              [class.ms-bgColor-sharedOrangeYellow10]="paper.is3_5"
              [class.ms-bgColor-sharedCyan30]="paper.is4_5"
              [class.ms-bgColor-sharedGreen10]="paper.is5_5"
        >
          <ng-container *ngIf="paper.score < 10">0</ng-container>{{paper.score}}</span>
          <app-icon *ngIf="!paper.isCorrected" bgColor="sharedRed10" icon="Cancel"></app-icon>
        </ms-tableCell>

        <ms-tableCell>
          <app-icon *ngIf="!paper.isCorrected" bgColor="sharedRed10" icon="Cancel"></app-icon>
          <app-icon *ngIf="paper.isCorrected"></app-icon>
        </ms-tableCell>

        <ms-tableCell class="text-right">
          <span class="ms-link" (click)="paperService.details(paper)">Détails</span>
        </ms-tableCell>
      </msTableRow>
    </ms-table>
  </div>
</div>
