<app-layout [breadcrumbItems]="breadCrumbItems">
  <msPivot>
    <msPivotHeader>
      <msPivotLabel id="home">Accueil</msPivotLabel>
      <msPivotLabel id="departments">Départements</msPivotLabel>
      <msPivotLabel id="students">Étudiants</msPivotLabel>
      <msPivotLabel id="tests">Épreuves</msPivotLabel>

    </msPivotHeader>

    <msPivotBody>
      <div *msPivotContentDef>
        <app-examination-school-home [examination]="examination"></app-examination-school-home>
      </div>
      <div *msPivotContentDef>
        <app-examination-departments [examination]="examination"></app-examination-departments>
      </div>
      <div *msPivotContentDef>
        <app-examination-student-list [examination]="examination"></app-examination-student-list>
      </div>
      <div *msPivotContentDef>
        <app-test-list [examination]="examination"></app-test-list>
      </div>


    </msPivotBody>
  </msPivot>

</app-layout>
