<div class="ms-fontSize-24 ms-fontWeight-light py-2 text-capitalize">étudiants</div>

<div>
  <MsfButton theme="primary" [MsfMenuTrigger]="columnMenu" xPosition="ltl" LeftIcon="ChevronDown" [outline]="true">
    Colonne
  </MsfButton>
  <MsfMenu #columnMenu>
    <MsfMenuItem>
      <MsfCheckbox MsfMenuItemCheckbox name="column" value="#"></MsfCheckbox>
      #
    </MsfMenuItem>

    <MsfMenuItem>
      <MsfCheckbox MsfMenuItemCheckbox name="column" value="index"></MsfCheckbox>
      N°
    </MsfMenuItem>

    <MsfMenuItem>
      <MsfCheckbox MsfMenuItemCheckbox name="column" value="name"></MsfCheckbox>
      Nom & prénom
    </MsfMenuItem>

    <MsfMenuItem>
      <MsfCheckbox MsfMenuItemCheckbox name="column" value="registrationId"></MsfCheckbox>
      Matricule
    </MsfMenuItem>

    <MsfMenuItem>
      <MsfCheckbox MsfMenuItemCheckbox name="column" value="birthDate"></MsfCheckbox>
      Date de naissance
    </MsfMenuItem>

    <MsfMenuItem>
      <MsfCheckbox MsfMenuItemCheckbox name="column" value="gender"></MsfCheckbox>
      Genre
    </MsfMenuItem>

    <MsfMenuItem>
      <MsfCheckbox MsfMenuItemCheckbox name="column" value="speciality"></MsfCheckbox>
      Spécialité
    </MsfMenuItem>

    <MsfMenuItem>
      <MsfCheckbox MsfMenuItemCheckbox name="column" value="group"></MsfCheckbox>
      Groupe
    </MsfMenuItem>

    <MsfMenuItem>
      <MsfCheckbox MsfMenuItemCheckbox name="column" value="user"></MsfCheckbox>
      Utilisateur
    </MsfMenuItem>

    <MsfMenuItem>
      <MsfCheckbox MsfMenuItemCheckbox name="column" value="registrationDate"></MsfCheckbox>
      Date d'ajout
    </MsfMenuItem>


    <MsfMenuItem>
      <MsfCheckbox MsfMenuItemCheckbox name="column" value="registerUser"></MsfCheckbox>
      Ajouté par
    </MsfMenuItem>

    <MsfMenuItem>
      <MsfCheckbox MsfMenuItemCheckbox name="column" value="action"></MsfCheckbox>
      Action
    </MsfMenuItem>


  </MsfMenu>
</div>

<div class="ms-table-container">
  <MsfTable *ngIf="students">
    <MsfTableHead>
      <MsfTableHeadCell *ngIf="canShow('#')">#</MsfTableHeadCell>
      <MsfTableHeadCell sortBy="index" *ngIf="canShow('index')">N°(DeGroupe)</MsfTableHeadCell>
      <MsfTableHeadCell sortBy="fullName" *ngIf="canShow('name')">Nom</MsfTableHeadCell>
      <MsfTableHeadCell *ngIf="canShow('registrationId')">Matricule</MsfTableHeadCell>
      <MsfTableHeadCell sortBy="birthDate" *ngIf="canShow('birthDate')">Date de naissance</MsfTableHeadCell>
      <MsfTableHeadCell sortBy="gender" *ngIf="canShow('gender')">Genre</MsfTableHeadCell>

      <MsfTableHeadCell *ngIf="canShow('speciality')">Spécialité</MsfTableHeadCell>

      <MsfTableHeadCell *ngIf="canShow('group')">Groupe</MsfTableHeadCell>

      <MsfTableHeadCell *ngIf="canShow('user')">Utilisateur</MsfTableHeadCell>

      <MsfTableHeadCell sortBy="registrationDate" *ngIf="canShow('registrationDate')">Date d'ajout</MsfTableHeadCell>
      <MsfTableHeadCell *ngIf="canShow('registerUser')">Ajouté par</MsfTableHeadCell>

      <MsfTableHeadCell style="text-align: right" *ngIf="canShow('action')">Actions</MsfTableHeadCell>
    </MsfTableHead>

    <MsfTableRow #row *ngFor="let item of students" [value]="item">
      <MsfTableCell *ngIf="canShow('#')">{{row.index}}</MsfTableCell>

      <MsfTableCell class="ms-fontColor-sharedBlue10" *ngIf="canShow('index')">
        {{item.index}} ({{item.groupIndex}})
      </MsfTableCell>

      <MsfTableCell *ngIf="canShow('name')">
        <div class="ms-fontWeight-semibold text-capitalize">{{item.fullName}}</div>
      </MsfTableCell>

      <MsfTableCell class="ms-fontWeight-semibold ms-fontColor-sharedRed10" *ngIf="canShow('registrationId')">
        {{item.registrationId}}
      </MsfTableCell>

      <MsfTableCell *ngIf="canShow('birthDate')">
        {{item.birthDate | amCalendar}}
      </MsfTableCell>

      <MsfTableCell *ngIf="canShow('gender')">
        {{item.gender}}
      </MsfTableCell>

      <MsfTableCell *ngIf="canShow('speciality')" class="ms-fontWeight-semibold">
        {{item.speciality?.name}}
      </MsfTableCell>
      <MsfTableCell *ngIf="canShow('group')">{{item.group?.name}}</MsfTableCell>

      <MsfTableCell *ngIf="canShow('user')">
        <MsfPersona size="size32" *ngIf="item.user">
          <MsfPersonaFigure [text]="item.user?.fullName" size="size32"></MsfPersonaFigure>
          <div class="ml-2">
            <div class="ms-fontWeight-semibold">{{item.user?.fullName}}</div>
            <div class="ms-fontSize-12" *ngIf="item.user?.username">@{{item.user?.username}}</div>
          </div>
        </MsfPersona>
      </MsfTableCell>

      <MsfTableCell *ngIf="canShow('registrationDate')"
                    class="ms-fontSize-12"> {{item.registrationDate | amCalendar}}</MsfTableCell>

      <MsfTableCell *ngIf="canShow('registerUser')">
        <MsfPersona size="size32">
          <MsfPersonaFigure [text]="item.registerUser?.fullName" size="size32"></MsfPersonaFigure>
          <div class="ml-2">
            <div class="ms-fontWeight-semibold">{{item.registerUser?.fullName}}</div>
            <div class="ms-fontSize-12" *ngIf="item.registerUser?.username">@{{item.registerUser?.username}}</div>
          </div>
        </MsfPersona>
      </MsfTableCell>


      <MsfTableCell *ngIf="canShow('action')" style="text-align: right">
        <a MsfButton theme="primary" class="mr-2" routerLink="/{{item.url}}/home">Détails</a>
        <MsfIconButton [MsfMenuTrigger]="more" icon="MoreVertical" *ngIf="_examination.userPrincipal.isPrincipal"></MsfIconButton>
        <MsfMenu #more>
          <MsfMenuItem icon="Contact" (click)="_studentService.edit(item)">Modifier les informations</MsfMenuItem>
          <MsfMenuItem icon="AddFriend" *ngIf="!item.user" (click)="_studentService.link(item)">Lier à un utilisateur</MsfMenuItem>
          <MsfMenuItem icon="UserSync" *ngIf="item.user" (click)="_studentService.link(item)">Changer l'utilisateur</MsfMenuItem>
          <MsfMenuItem icon="UserRemove" theme="error" *ngIf="item.user" (click)="_studentService.removeUser(item)">Enlever l'utilisateur</MsfMenuItem>
          <MsfMenuItem icon="EditSolid12" (click)="_studentService.changeRegistrationId(item)">Changer le matricule</MsfMenuItem>
          <MsfMenuItem icon="LearningTools" (click)="_studentService.changeSpeciality(item)" *ngIf="item.speciality">Changer la spécialité</MsfMenuItem>
          <MsfMenuItem icon="LearningTools" (click)="_studentService.changeSpeciality(item)" *ngIf="!item.speciality">Assigner une spécialité</MsfMenuItem>
          <MsfMenuItem icon="Cancel" theme="error" (click)="_studentService.removeSpeciality(item)" *ngIf="item.speciality">Enlever la spécialité</MsfMenuItem>
          <MsfMenuItem icon="Delete" (click)="delete(item)" theme="error">Supprimer</MsfMenuItem>
        </MsfMenu>
      </MsfTableCell>
    </MsfTableRow>
  </MsfTable>

  <float-button *ngIf="speciality || examination" mat-ripple (click)="openAddStudentDialog()"></float-button>
</div>
