<h3>{{yearSpeciality.speciality.name}}</h3>

<div class="mt-4">
  <h4>Niveaux</h4>
  <div *ngIf="yearSpeciality.yearLevelSpecialities">
    <a *ngFor="let item of yearSpeciality.yearLevelSpecialities" [routerLink]="item.url()">
      <button msButton class="m-1">Niveau {{item.yearLevel.level?.index + 1}}</button>
    </a>
  </div>
</div>


<div class="mt-4">
  <h4>Semestres</h4>
  <div class="mt-2 ms-default-grid" SemesterSpecialityList [params]="params" listStyle="date">
  </div>
</div>

<div class="mt-4">
  <h4>Examens</h4>
  <div class="mt-2 ms-default-grid" ExaminationSpecialityList [params]="params" listStyle="date"></div>
</div>
