<app-layout>
  <div class="ms-header">
    <div class="d-flex align-items-center">
      <button [routerLink]="test.examinationLevel.url" msIconButton icon="ChevronLeftSmall" theme="transparent"
              size="normal" [rounded]="true"></button>
      <div class="ms-header-title">épreuves / {{test.name}}</div>
    </div>
    <div>

    </div>
  </div>
  <msPivot>
    <msPivotHeader>
      <msPivotLabel id="home">Acceuil</msPivotLabel>
      <msPivotLabel id="groups">Groupes</msPivotLabel>
      <msPivotLabel id="students">Étudiants</msPivotLabel>
      <msPivotLabel id="scores">Notes</msPivotLabel>
    </msPivotHeader>
    <msPivotBody>
      <div *msPivotContentDef>
        <app-test-details [test]="test"></app-test-details>
      </div>
      <div *msPivotContentDef>
        <app-test-groups [test]="test"></app-test-groups>
      </div>
      <div *msPivotContentDef>
        <app-paper-list [test]="test"></app-paper-list>
      </div>
      <div *msPivotContentDef>
        <app-paper-score-list [test]="test"></app-paper-score-list>
      </div>
    </msPivotBody>
  </msPivot>

</app-layout>
