<div class="flex-center-cover">
  <form class="ms-form" style="max-height: 100%; overflow-y: auto" [formGroup]="form">
    <div class="ms-form-header ms-sticky-header">
      <div>Ajouter un cours</div>
      <button msIconButton icon="Cancel" class="ml-2" MsfModalClose theme="transparent" size="normal"></button>
    </div>


    <div class="ms-textField">
      <label for="name" class="msf-label">Nom</label>
      <input type="text" id="name" class="ms-textField-input" formControlName="name">
      <app-control-error [control]="form.controls['name']"></app-control-error>
    </div>

    <div class="ms-textField">
      <label for="code" class="msf-label">Code</label>
      <input type="number" id="code" class="ms-textField-input" formControlName="code" (blur)="checkCode()">
      <app-control-error [control]="form.controls['code']"></app-control-error>
    </div>

    <div class="ms-textField">
      <label for="radical" class="msf-label">Radical</label>
      <input type="number" id="radical" class="ms-textField-input" formControlName="radical">
      <app-control-error [control]="form.controls['radical']"></app-control-error>
    </div>

    <div class="ms-textField">
      <label for="coefficient" class="msf-label">Coefficient</label>
      <input type="number" id="coefficient" class="ms-textField-input" formControlName="coefficient">
      <app-control-error [control]="form.controls['coefficient']"></app-control-error>
    </div>

    <div class="ms-textField">
      <div labelled text="Cours général" for="isGeneral">
        <MsfCheckbox id="isGeneral" formControlName="isGeneral" (change)="toggleGeneral()"></MsfCheckbox>
      </div>
    </div>

    <div class="ms-textField" *ngIf="!isGeneral && !levelSpeciality">
      <label for="levelSpecialities" class="msf-label">Spécialités </label>
      <MsfSelect id="levelSpecialities" formControlName="levelSpecialities" class="ms-textField-input" [multiple]="true"
                 placeholder="Choisir des spécialités">
        <MsfSelectOption *ngFor="let item of level.levelSpecialities" [value]="item">
          {{item.speciality.name}}
        </MsfSelectOption>
      </MsfSelect>
    </div>

    <div class="ms-textField">
      <label class="msf-label" for="description">Description</label>
      <textarea type="text" id="description" name="description" formControlName="description"
                class="ms-textField-textarea"></textarea>
      <app-control-error [control]="form.controls['description']"></app-control-error>
    </div>


    <div class="mt-4 text-right">
      <button msButton MsfModalClose class="mr-3">Annuler</button>
      <button msButton theme="primary" icon="Add" [disabled]="form.invalid" (click)="add()">Ajouter</button>
    </div>
  </form>
</div>
