.ms-Icon--Calendar:before {
  content: '\E787'
}

.ms-Icon--CalendarSettings:before {
  content: '\F558'
}


.ms-Icon--CalendarSettingsMirrored:before {
  content: '\F559'
}

.ms-Icon--CalendarMirrored:before {
  content: '\ED28'
}

.ms-Icon--LearningTools:before {
  content: '\F7DB'
}

.ms-Icon--MessageFriendRequest:before {
  content: '\F055'
}
.ms-Icon--Edit:before {
  content: '\E70F'
}
