.school-card {
  width: 254px;
  display: inline-block;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #edebe9;

  transition: .3s transform ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  & img {
    width: 100%;
  }

  & .school-card-name {
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .school-card-secondaryText {
    font-size: 12px;
    opacity: 0.8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
