/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "~cropperjs/dist/cropper.min.css";
@import "bootstrap.min.css";
@import "variable";
@import "ms-Icon-fix";
@import "~office-ui-fabric-core/dist/sass/Fabric";

$ms-pivot-activeColor: var(--primaryColor);
$ms-pivot-labelFontColor: var(--standardColor);
$ms-pivot-labelHoverBackgroundColor: var(--standardBgColor);
$ms-pivot-headerBorderColor: var(--borderColor);

$ms-table-border-color: var(--borderColor);
$ms-table-bgColor: var(--bodyBackgroundColor);
$ms-table-cell-hover-backgroundColor: var(--cardBackgroundColor);

$ms-dialog-background-color: transparent;

@import "~@ms-fluent/components/src/components/styles/fluent";
@import "~@ms-fluent/date-ui/src/styles/fluent-date";

@import "school-banner";
@import "title";

$font-family-sans-serif: Metropolis, sans-serif;
@import "text-field.scss";
@import "color";
@import "header";
@import "layout";
@import "card";

.ms-Fabric {
  font-family: "Open Sans Condensed", sans-serif;
  color: var(--textColor);
}

*[tabindex]:focus {
  outline: none;
}

.ms-tableHeadCell-label {
  flex-grow: 2;
}



.ms-iconButton.rounded {
  border-radius: 50% !important;
}

.msf-menu {
  background: var(--cardBackgroundColor);
}

.msf-menuItem {
  &:hover {
    background-color: var(--hoverBackgroundColor);
  }
}

.ms-disabled {
  opacity: 0.7;
  pointer-events: none;
  user-select: none;
}

.ms-table {
  white-space: nowrap;
}
.msf-table {
  width: 100%;
  position: relative;
}

.ms-table-container {
  width: 100%;
  overflow: auto;
  max-height: 400px;
}

.msf-table-row {
  &:hover {
    background-color: var(--hoverBackgroundColor);
  }
}

.msf-table-head-cell {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: static;
  top: 0;

  &:hover {
    background-color: var(--hoverBackgroundColor);
  }
}

.msf-table-cell {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.flex-center-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-cover {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ms-rounded {
  border-radius: 50%;
}

.ms-rotate180 {
  transform: rotate(180deg);
}


.ms-fontWeight-light {
  font-weight: 200;
}

body, .ms-Fabric {
  color: var(--textColor) !important;
}

.icon-label {
  display: flex;
  align-items: center;
}

.icon-label-text {
  margin-left: 7px
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-dialog-container {
  border-radius: 0;
}

.msf-modal-portal {
  padding: 0;
  width: 100%;
  background: var(--bodyBackgroundColor);
  backdrop-filter: blur(5px);
}

.msf-button.msf-theme-primary {
  background-color: var(--primaryColor);
}

.msf-button {

  &.msf-button-outline {
    color: var(--textColor);
    border-color: var(--textColor);
  }

  &:hover {
    text-decoration: none;
  }

  &:focus::after {
    outline: 1px solid;
  }
}


.mat-snackbar-panel {
  background-color: transparent !important;
  border-radius: 0 !important;;
  padding: 0 !important;
  color: #FFF;
}

.ms-pointer {
  cursor: pointer;
}

.cardBgColor {
  background-color: var(--cardBackgroundColor);
}


.ms-badge {
  color: #FFF;
  border-radius: 2px;
  padding: 1px 3px;
  font-size: 11px;
  user-select: none;

  text-transform: uppercase;
  display: inline-block;

  &.ms-badge-primary {
    background-color: $ms-color-themePrimary;
  }

  &.ms-badge-success {
    background-color: $ms-color-successBackground;
    color: $ms-color-success;
  }

  &.ms-badge-info {
    background-color: $ms-color-infoBackground;
    color: $ms-color-info;
  }

  &.ms-badge-warning {
    background-color: $ms-color-warningBackground;
    color: $ms-color-warning;
  }

  &.ms-badge-error {
    background-color: $ms-color-errorBackground;
    color: $ms-color-error;
  }
}

.ms-description-list {
  display: table;

  & dl, & .ms-dl {
    display: table-row;
  }

  & dt, & .ms-dt {
    display: table-cell;
    font-weight: normal;
    opacity: 0.8;
    padding: 10px 0;
    border-bottom: 1px solid var(--borderColor);
    vertical-align: middle;
  }

  & dd, & .ms-dd {
    display: table-cell;
    font-weight: 600;
    padding: 10px 0 10px 50px;
    border-bottom: 1px solid var(--borderColor);
    vertical-align: middle;
  }
}

.br-2 {
  border-radius: 2px;
}

.ms-pageTitle {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--borderColor);
  padding: 5px 0;
}

.ms-sticky-header {
  background-color: var(--bodyBackgroundColor);
  position: sticky;
  z-index: 2;
  top: 0;
}

.ms-gridItem {
  overflow: hidden;
}

.ms-grid {
  border-color: transparent !important;
}
.ms-link {
  cursor: pointer;
  color: var(--primaryColor);
  &:hover {
    text-decoration: underline;
  }
}

.ms-divider {
  display: block;
  height: 1px;
  border: none;
  background-color: var(--borderColor);
}

.ms-h-divider {
  display: inline-block;
  width: 1px;
  height: 100%;
  border: none;
  background-color: var(--borderColor);
}

.v-align-top {
  vertical-align: top !important;
}

.modal-container {
  max-height: 100% !important;
  max-width: 100%;
  overflow-y: auto !important;
}

.ms-opacity-0 {
  opacity: 0;
}

.ms-date-picker-day-plus {
  width: 40px;
  height: 40px;
}

.date-picker-dots {
  display: flex;
  justify-content: center;
}
.date-picker-dot {
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 50%;
}

.time-line-item {
  display: flex; background-color: rgba(0, 0, 0, 0.3);
  padding: 8px;
  cursor: pointer;
  width: 100%;
}

.time-line-border {
  width: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.student-card {
  border: 1px solid var(--cardBorderColor);
  box-sizing: border-box;
  height: 100%;
  cursor: pointer;
  transition: .3s transform;
  background-color: var(--cardBackgroundColor);

  &:hover {
    background-color: var(--cardBackgroundColor--hover);
  }
}

.ms-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ex-dialog-panel {
  background-color: var(--dialogBackgroundColor);
  backdrop-filter: blur(20px);
}

.ex-overlay-class {
  background-color: var(--overlayBackgroundColor) !important;
}

.ms-dropdown-overlay {
  background-color: var(--overlayBackgroundColor) !important;
}

.ms-action-menu-button-standard {
  &:hover {background-color: var(--buttonBgColor--hover) !important};
}
