h2 {
  font-size: 28px !important;
  margin: 0 !important;
  padding: 0 !important;
  color: var(--textColor);
  line-height: 36px;
}


@media screen and (max-width: 639px){
  h2 {
    font-size: 22px !important;
    line-height: 22px;
  }
}
