@import "~office-ui-fabric-core/src/sass/variables/Color.Variables";

html {
  --opacity: 1;
  --blurSize: 10px;
  --redColor: rgba(209, 52, 56, 1);
  --pinkColor: #00657c;
  --blueColor: #{$ms-color-blue};
  --greenColor: rgba(16, 124, 16, var(--opacity));

  --darkColor: rgba(32, 31, 30, var(--opacity));
  --lightColor: rgba(247, 245, 243, 0.9);

  --noneColor: transparent;


  --textColor: #{$ms-color-gray190};


  --sidebarBackgroundColor: #{$ms-color-gray30};
  --sidenavBorderColor: #{$ms-color-sharedRed10};

  --bodyBackgroundColor: #{$ms-color-gray10};

  --navbarBackgroundColor: var(--pinkColor);
  --navbarBackgroundColorSecondary: var(--pinkColor);
  --navbarColor: #{$ms-color-gray10};

  --badgeBackgroundColor: #{$ms-color-sharedRed10};
  --badgeColor: #{$ms-color-gray10};

  --panelBackgroundColor: #{$ms-color-gray30};

  --primaryColor: var(--blueColor);

  --textFieldBorderColor: #{$ms-color-gray190};
  --cardBackgroundColor:  #{$ms-color-gray10};
}

html[data-theme="light"] {
  --textColor: #{$ms-color-gray190};

  --bodyBackgroundColor:  #FFF;
  --secondaryBackgroundColor:  #{$ms-color-gray30};
  --hoverBackgroundColor: #{$ms-color-gray40};

  --cardBackgroundColor:  #{$ms-color-gray10};

  --sidebarBackgroundColor: rgba(227, 225, 223, calc(var(--opacity) - 0.2));

  --panelBackgroundColor: rgba(227, 225, 223, calc(var(--opacity) - 0.5));

  --borderColor:  #{$ms-color-gray30};
  --headerBgColor:  #{$ms-color-gray30};

  --standardColor: #{$ms-color-gray160};
  --standardBgColor: #{$ms-color-gray30};
  --standardBgColor--hover: #{$ms-color-gray40};
}

html[data-theme="dark"] {
  --textColor: #{$ms-color-gray10};
  --bodyBackgroundColor:  rgba(11, 11, 10, calc(var(--opacity) - 0.15));
  --secondaryBackgroundColor:  rgba(11, 11, 10, calc(var(--opacity) - 0.1));
  --hoverBackgroundColor:  rgba(11, 11, 10, calc(var(--opacity) - 0.05));

  --cardBackgroundColor:  #{$ms-color-gray200};

  --sidebarBackgroundColor: rgba(11, 11, 10, calc(var(--opacity) - 0.2));

  --textFieldBorderColor: #{$ms-color-gray30};

  --panelBackgroundColor: rgba(11, 11, 10, calc(var(--opacity) - 0.5));

  --borderColor:  #{$ms-color-gray150};
  --headerBgColor:  #{$ms-color-gray150};

  --standardColor: #{$ms-color-gray10};
  --standardBgColor: #{$ms-color-gray170};
  --standardBgColor--hover: #{$ms-color-gray200};
}


html[data-theme-color="red"] {
  --primaryColor: var(--redColor);
  --backgroundColor: var(--redColor);

}

html[data-theme-color="green"] {
  --primaryColor: var(--greenColor);
  --backgroundColor: var(--greenColor);
}

html[data-theme-color="blue"] {
  --primaryColor: var(--blueColor);
  --backgroundColor: var(--blueColor);
}

html[data-theme-color="pink"] {
  --primaryColor: var(--pinkColor);
  --backgroundColor: var(--pinkColor);
}
