<div class="flex-center-cover">
  <form class="ms-form" *ngIf="form" [formGroup]="form">
    <div class="ms-form-header">Ajouter un étudiant</div>


    <div class="ms-textField">
      <label for="fullName" class="msf-label">Nom & prénom</label>
      <input type="text" id="fullName" class="ms-textField-input" formControlName="fullName">
      <app-control-error [control]="form.controls['fullName']"></app-control-error>
    </div>

    <div class="ms-textField">
      <label for="registrationId" class="msf-label">Matricule de l'étudiant</label>
      <input id="registrationId" class="ms-textField-input" formControlName="registrationId"
             (blur)="checkRegistrationId()">
      <app-control-error [control]="form.controls['registrationId']"></app-control-error>
    </div>

    <div class="ms-textField">
      <label for="birthDate" class="msf-label">Date de naissance</label>
      <input id="birthDate" DateInput class="ms-textField-input" formControlName="birthDate">

      <app-control-error [control]="form.controls['birthDate']"></app-control-error>
    </div>

    <div class="ms-textField">
      <label class="msf-label">Genre</label>
      <MsfRadioGroup formControlName="gender" name="gender" style="display: flex">
        <label class="ms-label" for="gender-M">
          <MsfRadio id="gender-M" value="M" inputId="gender-M-i"></MsfRadio>
          Homme
        </label>

        <label for="gender-F" class="ml-2 ms-Label">
          <MsfRadio id="gender-F" value="F" inputId="gender-F-i"></MsfRadio>
          Femme
        </label>
      </MsfRadioGroup>

      <app-control-error [control]="form.controls['gender']"></app-control-error>
    </div>

    <div class="ms-textField">
      <label for="levelSpeciality" class="msf-label">Spécialité </label>

      <div class="ms-fontWeight-semibold ms-fontColor-sharedGreenCyan10 ms-fontSize-12"
           *ngIf="levelSpeciality">{{levelSpeciality.speciality.name}}</div>

      <MsfSelect *ngIf="!levelSpeciality" id="levelSpeciality" formControlName="levelSpeciality"
                 class="ms-textField-input" placeholder="Choisir une specialité">
        <MsfSelectOption *ngFor="let item of level.levelSpecialities"
                         [value]="item">{{item.speciality.name}}</MsfSelectOption>
      </MsfSelect>
      <app-control-error [control]="form.controls['levelSpeciality']"></app-control-error>
    </div>


    <div class="mt-4 text-right">
      <button msButton MsfModalClose class="mr-3">Annuler</button>
      <button msButton theme="primary" icon="Add" [disabled]="form.invalid" (click)="add()">
        Ajouter
      </button>
    </div>
  </form>


</div>﻿
