<div class="d-flex justify-content-between">
  <div>
    <button *ngIf="stepper?.activeIndex > 0"
            (click)="stepper.prev()"
            msIconButton icon="ChromeBack" theme="transparent"></button>
  </div>
  <button msIconButton msDialogClose="" icon="Cancel"  theme="transparent"></button>
</div>
<div class="d-flex mt-2">
  <div style="width: 80px; border-radius: 50%">
    <img *ngIf="!model.imageUrl" src="/assets/icon/graduated.svg" alt="Icon" width="80" height="80" >
    <img *ngIf="model.imageUrl" [src]="model.imageUrl" alt="Student image" width="80" height="80" >
  </div>

  <div style="width: 380px; margin-left: 32px; box-sizing: border-box">
    <msStepper #msStepper>

      <div *ms-stepper-step>
        <student-add-home></student-add-home>
      </div>

      <div *ms-stepper-step>
        <student-add-level></student-add-level>
      </div>

      <div *ms-stepper-step>
        <student-add-registrationId></student-add-registrationId>
      </div>

      <div *ms-stepper-step>
        <student-add-info></student-add-info>
      </div>

      <div *ms-stepper-step>
        <student-add-contact></student-add-contact>
      </div>

      <div *ms-stepper-step>
        <student-add-image></student-add-image>
      </div>

      <div *ms-stepper-step>
        <student-add-end></student-add-end>
      </div>


    </msStepper>
  </div>
</div>
