<div>
  <div class="ms-pageTitle">
    <h5>Barème de notation</h5>
    <div class="text-right" *ngIf="test.isPlanner">
      <button msButton theme="primary" icon="Add" (click)="add()" class="ml-2">Ajouter
        <span class="ms-hiddenSm"> une ligne</span></button>
    </div>
  </div>

  <div class="d-flex justify-content-between my-2">
    <div>Radical</div>
    <div class="text-right font-weight-bold">{{test.radical}} Points</div>
  </div>

  <msAlert *ngIf="test.multipleScore && test.radical !== test.totalScoreRadical"
           theme="error" class="my-1">
    Le total des radicaux des lignes du barème ne correspondent pas au radical de l'épreuve. Ajouter des lignes
    supplémentaires
    pour compléter les <b> {{test.radical - test.totalScoreRadical}} points </b> manquants!.
  </msAlert>


    <ms-table>
      <msTableHead *ms-tableHeadDef>
        <ms-tableHeadCell>#</ms-tableHeadCell>
        <ms-tableHeadCell [sortBy]="['name', 'string']">Nom</ms-tableHeadCell>
        <ms-tableHeadCell [sortBy]="['radical', 'number']">Radical</ms-tableHeadCell>
        <ms-tableHeadCell *ngIf="test.isPlanner"></ms-tableHeadCell>
      </msTableHead>

      <ms-tableRow *ms-tableRowDef="let item of scores; let i=index" [value]="item" #row>
        <ms-tableCell>{{i + 1}}</ms-tableCell>
        <ms-tableCell>{{item.name}}</ms-tableCell>
        <ms-tableCell>{{item.radical}} points</ms-tableCell>

        <ms-tableCell class="text-right" *ngIf="test.isPlanner">
          <span class="ml-2 ms-Icon ms-Icon--More ms-pointer" [MsDropdownTrigger]="more"></span>

          <MsDropdown #more>
            <MsContextMenu>
              <MsContextMenuItem icon="Delete" (click)="service.deleteScore(item)" theme="error">Supprimer</MsContextMenuItem>
            </MsContextMenu>
          </MsDropdown>

        </ms-tableCell>
      </ms-tableRow>

    </ms-table>

  <msAlert *ngIf="!test.testScores || test.testScores.length == 0" theme="severeWarning">
    Cette épreuve n'a pas de barème détaillé!
  </msAlert>

</div>
