﻿<form class="ms-form" >
  <div class="ms-form-header">Sélectionner les correcteurs</div>


  <div class="ms-textField">
    <label for="corrector" class="msf-label">Selectionner</label>

    <MsfSelect id="corrector" name="corrector" [(ngModel)]="correctorId" [multiple]="true" class="ms-textField-input"  placeholder="Choisir les correcteurs">
      <MsfSelectOption *ngFor="let item of correctors"  [value]="item?.id">{{item?.user?.fullName}}</MsfSelectOption>
    </MsfSelect>

  </div>



  <div class="mt-4 text-right">
    <MsfButton MsfModalClose class="mr-3">Annuler</MsfButton>
    <MsfButton theme="primary" Icon="Add" [class.msf-disabled]="correctorId.length === 0"  (click)="add()">
      Ajouter
    </MsfButton>
  </div>
</form>


