<div class="flex-center-cover">
  ﻿
  <form class="ms-form">
    <div class="ms-form-header">Sélectionner les correcteurs</div>

    <msAlert theme="standard">
      Si vous ne trouver pas utilisateur dans cette liste,
      rassurez vous de l'avoir ajouter parmi les correcteurs de ce département.
    </msAlert>

    <div class="ms-textField">
      <label for="corrector" class="msf-label">Selectionner</label>

      <MsSelect id="corrector" name="corrector" [(ngModel)]="correctorId" [multiple]="true" class="ms-textField-input"
                 placeholder="Choisir les correcteurs">
        <MsSelectOption *ngFor="let item of correctors" [value]="item?.id">{{item?.user?.fullName}}</MsSelectOption>
      </MsSelect>

    </div>


    <div class="mt-4 text-right">
      <button msButton msDialogContent class="mr-3">Annuler</button>
      <button msButton theme="primary" icon="Add" [disabled]="correctorId.length === 0" (click)="add()">
        Ajouter
      </button>
    </div>
  </form>


</div>
