<div class="flex-center-cover">
  ﻿<form class="ms-form" >
  <div class="ms-form-header">Ajouter un groupe</div>

  <div class="ms-textField">
    <label for="room" class="msf-label">Salle</label>
    <MsSelect id="room" [(ngModel)]="room" class="ms-textField-input" name="name"
               placeholder="Choisir une salle">
      <MsSelectOption *ngFor="let item of school.rooms" [value]="item">{{item.name}} ({{item.capacity}} places)</MsSelectOption>
    </MsSelect>
  </div>



  <div class="mt-4 text-right">
    <button msButton msDialogClose class="mr-3">Annuler</button>
    <button msButton theme="primary" icon="Add" [disabled]="!room" (click)="add()">
      Ajouter
    </button>
  </div>
</form>



</div>
