﻿<div class="d-flex justify-content-between align-items-center">
  <div class="ms-fontWeight-light ms-fontSize-18">Sécrétaires</div>

  <div class="text-right ml-5">
    <ng-container *ngIf="testGroup.relation.isPlanner">
      <button msButton icon="Add" theme="primaryOutline" (click)="addTestGroupSecretaries(testGroup)">Ajouter</button>
    </ng-container>
  </div>
</div>

<div *ngIf="testGroup.testGroupSecretaries">
  <msAlert theme="severeWarning" *ngIf="testGroup.testGroupSecretaries?.length === 0" class="mt-2">
    Ce groupe n'a pas de sécrétaires.
  </msAlert>

  <ms-table class="mt-2">
    <ms-tableHead *ms-tableHeadDef></ms-tableHead>
    <msTableRow *ms-tableRowDef="let item of secretaries" [value]="item">
      <ms-tableCell class="px-0">
        <user-persona [user]="item.secretary.user"></user-persona>
      </ms-tableCell>
      <ms-tableCell class="px-0 text-right">
        <ng-container *ngIf="testGroup.relation.isPlanner">
          <button msIconButton theme="transparent" icon="MoreVertical" [MsfMenuTrigger]="secretaryMore"></button>
          <MsfMenu #secretaryMore>
            <MsfMenuItem icon="Delete" theme="error" (click)="remove(item)">
              Supprimer
            </MsfMenuItem>
          </MsfMenu>
        </ng-container>
      </ms-tableCell>
    </msTableRow>
  </ms-table>
</div>
