<div class="school-banner-layout">
  <div class="school-banner-cover">
    <img [src]="school.coverImageUrl" alt="">
  </div>

  <div>
    <div class="school-banner-front">
      <div class="school-banner-image">
        <img [src]="school.imageUrl" alt="Logo de l'école">
      </div>
      <div class="school-banner-info">
        <div>
          <div class="school-banner-name">{{school.name | ucFirst}}({{school.acronym| uppercase}})</div>
          <div msFontSize="12">@{{school.identifier}}</div>
          <div class="my-2 ms-divider" ></div>
          <labelled-icon icon="POISolid" [text]="school.address"></labelled-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="school-banner-footer">
    <div>
      <button msIconButton theme="transparent" icon="ChevronLeft" routerLink="/schools"></button>
    </div>

    <div>
      <button msButton theme="primary" icon="AddFriend" (click)="sendApplication()">Devenir étudiant</button>
      <button *ngIf="school.userPrincipal.isPrincipal" msButton icon="Settings" theme="standard" secondaryIcon="ChevronDown" class="ml-2" [MsfMenuTrigger]="settingsMenu">
        Paramètres
      </button>
      <MsfMenu #settingsMenu>
        <MsfMenuItem icon="Edit" (click)="service.edit(school)">Modifier les informations</MsfMenuItem>
        <MsfMenuItem icon="Accounts" (click)="service.changeIdentifier(school)">Change l'identifier</MsfMenuItem>
        <MsfMenuItem icon="EditPhoto" (click)="changeImage()">Changer l'image de profil</MsfMenuItem>
        <MsfMenuItem icon="EditPhoto" (click)="changeCoverImage()">Changer l'image de couverture</MsfMenuItem>
        <MsfMenuItem icon="Delete" (click)="delete()" theme="error">Supprimer</MsfMenuItem>
      </MsfMenu>
    </div>
  </div>
</div>
