<app-test-layout>
  <div class="d-flex justify-content-between align-items-center mt-2">
    <div class="ms-fontSize-24">{{test.name | ucFirst}}</div>
    <div class="text-right">
      <MsfButton *ngIf="test.waiting" (click)="service.start(test)" theme="success" Icon="Clock">Débuter</MsfButton>
      <MsfButton *ngIf="test.finished" (click)="service.restart(test)" class="ml-2" theme="success" Icon="Rotate90Clockwise">Redémarrer</MsfButton>
      <MsfButton *ngIf="test.progress" (click)="service.end(test)" class="ml-2" theme="error" Icon="Lock">Arrêter</MsfButton>
      <MsfButton *ngIf="!test.isClosed && test.finished" (click)="service.changeCloseState(test)" class="ml-2" theme="error" Icon="Lock">Vérouiller</MsfButton>
      <MsfButton *ngIf="test.isClosed" (click)="service.changeCloseState(test)" class="ml-2" theme="success" Icon="UnLock">Dévérouiller</MsfButton>

      <MsfIconButton class="ml-2" [MsfMenuTrigger]="more" icon="MoreVertical"
                     *ngIf="test.examination?.userPrincipal?.isPrincipal"></MsfIconButton>
      <MsfMenu #more>
        <MsfMenuItem icon="Edit" (click)="service.edit(test)">Modifier les informations</MsfMenuItem>
        <MsfMenuItem *ngIf="test.useAnonymity" icon="RedEye" (click)="service.unsetAnonymous(test)">Enlever l'anonymat
        </MsfMenuItem>
        <MsfMenuItem *ngIf="!test.useAnonymity" theme="error" icon="Hide3" (click)="service.setAnonymous(test)">Utiliser
          l'anonymat
        </MsfMenuItem>
        <MsfMenuItem icon="CalendarSettings" (click)="service.editDate(test)">Modifier la date</MsfMenuItem>
        <MsfMenuItem icon="Delete" (click)="service.delete(test)" theme="error">Supprimer</MsfMenuItem>
      </MsfMenu>
    </div>
  </div>
  <div class="ms-fontSize-12">{{test.speciality?.name}}</div>

  <div>
    Prévue pour le {{test.expectedStartDate | date}} {{test.expectedStartHour}} - {{test.expectedEndHour}}
  </div>

  <div *ngIf="test.progress">
    Heure de début: {{test.startHour}}
  </div>

  <div *ngIf="test.finished">
    {{'éffectuée' | ucFirst}} le : {{test.startDate | date}} de {{test.startHour}} à {{test.endHour}}
  </div>


  <labelled text="Corrigé">
    <app-icon icon="CheckMark"></app-icon>
  </labelled>

  <div *ngFor="let item of test.testGroups">
    <div class="d-flex justify-content-between p-2 mt-2" style="background: var(--cardBackgroundColor)">
      <h6>{{item.group.name}}</h6>
      <MsfButton theme="primary" (click)="service.testGroupDetails(item)">Détails</MsfButton>
    </div>

  </div>

  <app-score-list [test]="test"></app-score-list>
</app-test-layout>
