<div class="ms-pageTitle" style="white-space: nowrap">
  <h5 >Barème <span class="ms-hiddenSm">de notation</span></h5>
  <div class="text-right">
    <button *ngIf="course.level.department.school.userPrincipal.isPlanner"
            msButton theme="primary" icon="Add" (click)="add()" class="ml-2" size="small">Ajouter une ligne</button>
  </div>
</div>


<msAlert style="max-width: 500px" *ngIf="course.multipleScore && course.radical !== course.totalScoreRadical" theme="error" class="my-1">
  Le total des radicaux des lignes du barème ne correspondent pas au radical de l'épreuve.
  Ajouter des lignes supplémentaires
  pour compléter les <b> {{course.radical - course.totalScoreRadical}} points </b> manquants!.
</msAlert>

<ms-table style="width: 100%">
  <ms-tableHead *ms-tableHeadDef>
    <ms-tableHeadCell name="#">#</ms-tableHeadCell>
    <ms-tableHeadCell name="name" [sortBy]="['name', 'string']">Nom</ms-tableHeadCell>
    <ms-tableHeadCell name="radical" [sortBy]="['radical', 'number']">Radical</ms-tableHeadCell>
    <msTableHeadCell name="actions" class="text-right">
      <i class="ms-Icon ms-Icon--SetAction"></i>
    </msTableHeadCell>
  </ms-tableHead>

  <ms-tableRow *ms-tableRowDef="let item of scores; let i=index" [value]="item">
    <ms-tableCell>{{i + 1}}</ms-tableCell>
    <ms-tableCell>{{item.name}}</ms-tableCell>
    <ms-tableCell>{{item.radical}} points</ms-tableCell>

    <ms-tableCell class="text-right">
      <button msIconButton icon="More" theme="transparent" class="ml-2" [MsDropdownTrigger]="more"
              *ngIf="course.level.department?.userPrincipal?.isPrincipal"></button>

      <MsDropdown #more>
        <MsContextMenu>
          <MsContextMenuItem icon="Delete" (click)="service.deleteScore(item)" theme="error">Supprimer</MsContextMenuItem>
        </MsContextMenu>
      </MsDropdown>


    </ms-tableCell>
  </ms-tableRow>
</ms-table>

<msAlert *ngIf="!course.scores || course.scores.length == 0" theme="severeWarning">
  Ce cours n'a pas de barème détaillé!
</msAlert>
