<app-examination-layout>
  <div class="ms-form ms-depth-8" style="width: 400px; background: transparent">
    <div class="ms-form-header"> Modifier les informations</div>


    <form [formGroup]="nameForm" class="ms-textField">
      <label for="name" class="msf-label">Nom de l'examen</label>
      <div class="d-flex">
        <input id="name" class="ms-textField-input" formControlName="name" >
        <MsfIconButton class="ml-1 msf-rounded" mat-ripple theme="primary"
                       icon="CheckMark" [class.msf-disabled]="nameForm.invalid"
                       (click)="editName()">

        </MsfIconButton>
      </div>

      <app-control-error [control]="nameForm.controls['name']"></app-control-error>
      <div class="col-12 small mt-0 px-0">
        Ce nom permet d'name de façon unique un examen dans une organisation.<br>
        Le nom doit donc être unique parmi les examens d'une organisation.
      </div>
    </form>



    <form [formGroup]="startDateForm" class="ms-textField">
      <label for="startDate" class="msf-label">Date de démarrage</label>
      <div class="d-flex">
        <input (click)="startDatePicker.open()" [matDatepicker]="startDatePicker" id="startDate" class="ms-textField-input" formControlName="date"

        >
        <mat-datepicker #startDatePicker ></mat-datepicker>
        <MsfIconButton mat-ripple theme="primary"
                       icon="CheckMark" [class.msf-disabled]="startDateForm.invalid"
                       (click)="editStartDate()">

        </MsfIconButton>
      </div>

      <app-control-error [control]="startDateForm.controls['date']"></app-control-error>

    </form>


    <form [formGroup]="endDateForm" class="ms-textField">
      <label for="endDate" class="msf-label">Date de démarrage</label>
      <div class="d-flex">
        <input (click)="endDatePicker.open()" [matDatepicker]="endDatePicker" id="endDate" class="ms-textField-input" formControlName="date"
                >
        <mat-datepicker #endDatePicker ></mat-datepicker>
        <MsfIconButton mat-ripple theme="primary"
                       icon="CheckMark" [class.msf-disabled]="endDateForm.invalid"
                       (click)="editEndDate()">

        </MsfIconButton>
      </div>

      <app-control-error [control]="endDateForm.controls['date']"></app-control-error>

    </form>

    <div class="mt-4 text-right">
      <MsfButton class="mr-3" (click)="reset()">Annuler</MsfButton>
    </div>
  </div>

</app-examination-layout>
