<h4>Récapitulatif</h4>


<div class="ms-description-list">
  <dl>
    <dt>Matricule</dt>
    <dd>{{model.registrationId}}</dd>
  </dl>

  <dl>
    <dt>Nom & prénom</dt>
    <dd>{{model.fullName}}</dd>
  </dl>

  <dl>
    <dt>Date de naissance</dt>
    <dd>{{model.birthDate | date}}</dd>
  </dl>

  <dl>
    <dt>Sexe</dt>
    <dd>{{model.genderString}}</dd>
  </dl>

  <div class="divider"></div>

  <dl>
    <dt>Départment</dt>
    <dd>{{model.level.department.name}}</dd>
  </dl>
  <dl>
    <dt>Niveau</dt>
    <dd>{{model.level.index + 1}}</dd>
  </dl>

  <dl>
    <dt>Spécialité</dt>
    <dd *ngIf="model.levelSpeciality">{{model.levelSpeciality.speciality.name}}</dd>
    <dd *ngIf="!model.levelSpeciality">
      <span class="ms-badge ms-badge-error">Aucune</span>
    </dd>
  </dl>
</div>


<div class="ms-description-list">
  <dl>
    <dt>Adresse</dt>
    <dd>{{model.address}}</dd>
  </dl>
  <dl>
    <dt>Adresse électronique</dt>
    <dd>{{model.email}}</dd>
  </dl>
  <dl>
    <dt>Numéro de téléphone</dt>
    <dd>{{model.phoneNumber }}</dd>
  </dl>
</div>


<div class="text-right mt-3">
  <button msButton theme="primary" icon="AddFriend" (click)="add()">Ajouter</button>
</div>
