:host{
  //touch-action: pan-y !important;
}
.layout-navbar {
  position: fixed;
  top:0;
  left: 0;
  right: 0;

  transition: top .3s ease-in-out;

  &.scroll-layout {
    top: -55px;
  }
}


.layout-breadcrumb {
  position: fixed;
  left: 0;
  top: 55px;
  right: 0;
  height: 45px;
  border-bottom: 1px solid var(--borderColor);


  //backdrop-filter: blur(var(--blurSize));
  background-color: var(--bodyBackgroundColor);

  .app-layout-withSidebar & {
    left: 250px;
  }

  .app-layout-withCollapsedSidebar &{
    left: 45px;
  }

  transition: left .2s;
}

.layout-sidebar {
  position: fixed;
  left:0;
  top: 55px;
  bottom: 0;
  background-color: var(--sidebarBackgroundColor);
  backdrop-filter: blur(var(--blurSize));
}

.layout-main {
  position: fixed;
  left: 0;
  top: 55px;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 0;
  backdrop-filter: blur(var(--blurSize));
  background-color: var(--bodyBackgroundColor);

  &.scroll-layout {
    top: 0;
  }

  .app-layout-withSidebar & {
    left: 250px;
  }

  .app-layout-withCollapsedSidebar &{
    left: 45px;
  }

  .app-layout-withBreadCrumb &{
    top: 100px;
  }

  transition: left .2s, top .3s ease-in-out;
}

#layout-background {
  position: fixed;
  left:0;
  right:0;
  top:0;
  bottom: 0;
}
