<div class="flex-center-cover">
  <form class="ms-form ms-depth-8">
    <div class="ms-form-header">Restreindre le cours</div>


    <div class="ms-textField">
      <label for="levelSpecialities" class="msf-label">Spécialités </label>
      <MsfSelect id="levelSpecialities" name="levelSpecialities" [(ngModel)]="levelSpecialities"
                 class="ms-textField-input" [multiple]="true" placeholder="Choisir des spécialités">
        <MsfSelectOption *ngFor="let item of course.level.levelSpecialities" [value]="item">
          {{item.speciality.name}}
        </MsfSelectOption>
      </MsfSelect>
    </div>

    <div class="mt-4 text-right">
      <button msButton MsfModalClose class="mr-3">Annuler</button>
      <button msButton theme="primary" [disabled]="levelSpecialities.length < 1" (click)="restrict()">
        Restreindre
      </button>
    </div>
  </form>
</div>
