<app-layout>
  <div class="ms-header">
    <div class="d-flex align-items-center">
      <button [routerLink]="examinationLevel.examinationDepartment?.url" msIconButton icon="ChevronLeftSmall" theme="transparent"
              size="normal" [rounded]="true"></button>
      <div class="ms-header-title">Niveau {{examinationLevel?.level?.index + 1}}</div>
    </div>
  </div>

  <msPivot>
    <msPivotHeader>
      <msPivotLabel id="home">Accueil</msPivotLabel>
      <msPivotLabel id="students">Étudiants</msPivotLabel>
      <msPivotLabel id="tests">Épreuves</msPivotLabel>
    </msPivotHeader>

    <msPivotBody>
      <div *msPivotContentDef>
        <app-examination-level-home-page [examinationLevel]="examinationLevel"></app-examination-level-home-page>
      </div>
      <div *msPivotContentDef>
        <app-examination-student-list [examinationLevel]="examinationLevel"></app-examination-student-list>
      </div>
      <div *msPivotContentDef>
        <app-test-list [examinationLevel]="examinationLevel"></app-test-list>
      </div>
    </msPivotBody>
  </msPivot>
</app-layout>
