<app-layout [breadcrumbItems]="breadCrumbItems">
  <msPivot>
    <msPivotHeader>
      <msPivotLabel name="home">Accueil</msPivotLabel>
      <msPivotLabel name="students">Étudiants</msPivotLabel>
      <msPivotLabel name="tests">Épreuves</msPivotLabel>
    </msPivotHeader>

    <msPivotBody>
      <div *msPivotContentDef>
        <app-examination-level-home-page [examinationLevel]="examinationLevel"></app-examination-level-home-page>
      </div>
      <div *msPivotContentDef>
        <app-examination-student-list [examinationLevel]="examinationLevel"></app-examination-student-list>
      </div>
      <div *msPivotContentDef>
        <app-test-list [examinationLevel]="examinationLevel"></app-test-list>
      </div>
    </msPivotBody>
  </msPivot>

  <div>
    <ng-content></ng-content>
  </div>
</app-layout>
