<app-layout [breadcrumbItems]="breadCrumbItems">
  <msPivot>
    <msPivotHeader>
      <msPivotLabel id="home">Accueil</msPivotLabel>
      <msPivotLabel id="students">Étudiants</msPivotLabel>
      <msPivotLabel id="tests">Épreuves</msPivotLabel>
    </msPivotHeader>

    <msPivotBody>
      <div *msPivotContentDef>
        <app-examination-level-home-page [examinationLevel]="examinationLevel"></app-examination-level-home-page>
      </div>
      <div *msPivotContentDef>
        <app-examination-student-list [examinationLevel]="examinationLevel"></app-examination-student-list>
      </div>
      <div *msPivotContentDef>
        <app-test-list [examinationLevel]="examinationLevel"></app-test-list>
      </div>
    </msPivotBody>
  </msPivot>
</app-layout>
