<ng-container *ngIf="school.departments">
  <div class="ms-pageTitle">
    <div msFontSize="20"> Départements ({{school.departments.size()}})</div>
    <div *ngIf="_auth.isAuthorized && school.userPrincipal.isPrincipal">
      <button class="ms-hiddenSm" msButton icon="Add" theme="primary" (click)="add()">Ajouter un département</button>
      <button class="ms-hiddenMdUp" msButton icon="Add" theme="primary" (click)="add()">Ajouter</button>
    </div>
  </div>

  <div  class="mt-3">
    <app-department-card style="background-color: var(--cardBackgroundColor); display: inline-block; height: 480px; width: 320px"
                         *ngFor="let department of school.departments.toArray()" [department]="department">
    </app-department-card>
  </div>


</ng-container>
