<div>
  <msPivot>
    <msPivotHeader [msFontSize]="12">
      <msPivotLabel id="details">Détails</msPivotLabel>
      <msPivotLabel id="hours">Horaires</msPivotLabel>
      <msPivotLabel id="sessions">Séances de cours</msPivotLabel>
      <msPivotLabel id="tests">Épreuves</msPivotLabel>
    </msPivotHeader>
    <msPivotBody>
      <div *msPivotContentDef>
        <SemesterCourseHomePage [semesterCourse]="semesterCourse"></SemesterCourseHomePage>
      </div>
      <div *msPivotContentDef>
        <SemesterCourseHoursPage [semesterCourse]="semesterCourse"></SemesterCourseHoursPage>
      </div>
      <div *msPivotContentDef>
        <SemesterCourseSessionsPage [semesterCourse]="semesterCourse"></SemesterCourseSessionsPage>
      </div>
      <div *msPivotContentDef>
        <h4 class="my-2">Épreuves</h4>
        <TestList [params]="{semesterCourseId: semesterCourse.id}"></TestList>
      </div>
    </msPivotBody>
  </msPivot>
</div>
