<div class="ms-pageTitle">
  <div class="d-flex align-items-center">
    <div class="ms-fontSize-20">Niveau {{examinationLevel.level.index + 1}} </div>
  </div>
</div>

  <div *ngIf="examinationLevel.examinationLevelSpecialities" class="my-2">
    <span *ngFor="let item of examinationLevel.examinationLevelSpecialities"
          [routerLink]="item.url"
          msColor="white" msBgColor="sharedRedOrange10" class="ms-pointer mr-2 br-2"
          style="padding: 2px; font-size: 12px">
    {{item.levelSpeciality?.speciality?.name}}
  </span>
  </div>

<div class="d-flex justify-content-between flex-wrap">
  <div class="ms-description-list mt-3">
    <dl>
      <dt>Étudiants</dt>
      <dd>{{statistics.studentCount}}</dd>
    </dl>
    <dl msColor="sharedYellowGreen10">
      <dt>Réussite</dt>
      <dd>{{ statistics.successCount}}
        ({{ statistics.successCount / statistics.studentCount * 100 | number}}%)
      </dd>
    </dl>

    <dl>
      <dt>Copies corrigées</dt>
      <dd>{{ statistics.correctedPaperCount}}
        <span msColor="sharedRedOrange10">({{statistics.correctedPaperCount - statistics.paperCount}})</span>
      </dd>
    </dl>

    <dl msColor="sharedRed10">
      <dt>Abscences</dt>
      <dd>{{ statistics.paperCount - statistics.presentPaperCount}}  </dd>
    </dl>
  </div>

  <div class="ms-description-list mt-3">
    <dl>
      <dt>Épreuves</dt>
      <dd>{{examinationLevel.statistics.testCount}}</dd>
    </dl>

    <dl>
      <dt>Corrigées</dt>
      <dd msColor="sharedYellowGreen10">{{statistics.correctedTestCount}}</dd>
    </dl>

    <dl>
      <dt>Publiées</dt>
      <dd msColor="sharedGreenCyan10">{{examinationLevel.statistics.publishedTestCount}}</dd>
    </dl>

    <dl>
      <dt>Fermées</dt>
      <dd msColor="sharedCyanBlue10">{{examinationLevel.statistics.closedTestCount}}</dd>
    </dl>

  </div>

  <div class="ms-description-list mt-3">
    <dl>
      <dt>Moyenne générale</dt>
      <dd msColor="sharedCyan10">{{statistics.mean | number}}</dd>
    </dl>

    <dl>
      <dt>Moyenne médiane</dt>
      <dd msColor="sharedCyan10">{{statistics.median | number}}</dd>
    </dl>

    <dl>
      <dt>Écart-type</dt>
      <dd msColor="sharedCyan10">{{statistics.std | number}}</dd>
    </dl>

    <dl>
      <dt>Mode</dt>
      <dd msColor="sharedCyan10">{{statistics.mode}}</dd>
    </dl>
  </div>

  <div class="ms-description-list  mt-3">
    <dl>
      <dt style="vertical-align: top">Premier</dt>
      <dd>
        <div>{{statistics.maxStudent?.examinationStudent?.student?.fullName}} </div>
        <div>{{statistics.maxStudent?.examinationStudent?.student?.registrationId}}</div>
        <div msColor="sharedYellowGreen10"> {{statistics.maxStudent.mean}}</div>
      </dd>
    </dl>

    <dl>
      <dt style="vertical-align: top">Dernier</dt>
      <dd>
        <div>{{statistics.minStudent?.examinationStudent?.student?.fullName}} </div>
        <div>{{statistics.minStudent?.examinationStudent?.student?.registrationId}}</div>
        <div msColor="sharedRed10">{{statistics.minStudent?.mean}}</div>
      </dd>
    </dl>

  </div>
</div>


<div class="mt-3">

</div>


<div>

</div>

