﻿<form class="ms-dialog-form">
  <h4>Administrateur du cours</h4>

  <div class="d-flex mt-3">
    <div>
      <img src="/assets/icon/gear.png" alt="book image" width="42" height="42">
    </div>
    <div class="ms-fontSize-16 ml-3">
      Rendre cet enseignant administrateur de ce cours pour le compte de ce semestre
    </div>
  </div>

  <div class="mt-4 text-right">
    <button msButton msDialogClose class="mr-3">Annuler</button>
    <button msButton (click)="add()" theme="primary">Rendre administrateur</button>
  </div>
</form>
