<app-layout>
  <div>
    <div class="ms-header">
      <div class="d-flex align-items-center">
        <button [routerLink]="speciality.department.url" msIconButton icon="ChevronLeftSmall" theme="transparent" size="normal" [rounded]="true"></button>
        <div class="ms-header-title">
          <a [routerLink]="speciality.department.url">{{speciality.department.name}}</a> /
          {{speciality.name}}
        </div>
      </div>
    </div>

    <msPivot>
      <msPivotHeader>
        <msPivotLabel>Acceuil</msPivotLabel>
        <msPivotLabel>Cours</msPivotLabel>
        <msPivotLabel>Étudiants</msPivotLabel>
        <msPivotLabel>Demandes</msPivotLabel>
      </msPivotHeader>
      <msPivotBody>
        <div *msPivotContentDef>
          <app-speciality-home [speciality]="speciality"></app-speciality-home>
        </div>
        <div *msPivotContentDef>
          <app-course-list [speciality]="speciality"></app-course-list>
        </div>
        <div *msPivotContentDef>
          <app-student-list [speciality]="speciality"></app-student-list>
        </div>

        <div *msPivotContentDef>
          Demandes
        </div>
      </msPivotBody>
    </msPivot>
  </div>
</app-layout>
