<div class="flex-center-cover p-3">
  <div>
    <div class="ms-pageTitle">
      <div>
        <h2>{{examination.name}}</h2>
        <span class="ms-badge" msBgColor="sharedGreenCyan10" *ngIf="examination.isProgress">En cours</span>
      </div>
      <div class="text-right ml-5">
        <button msIconButton icon="Settings" [MsDropdownTrigger]="examinationMenu"> </button>
        <button msIconButton icon="Cancel" msDialogClose class="ml-2"></button>
        <MsDropdown>
          <MsContextMenu #examinationMenu>
            <MsContextMenuItem icon="Reload">Actualiser</MsContextMenuItem>
            <MsContextMenuItem theme="primary" icon="Clock" *ngIf="examination.isPending"
                         (click)="service.start(examination)">
              Débuter
            </MsContextMenuItem>
            <MsContextMenuItem theme="warning" icon="Lock" *ngIf="examination.isProgress"
                         (click)="service.end(examination)">
              Fermer
            </MsContextMenuItem>
            <MsContextMenuItem theme="primary" icon="Rotate90Clockwise" *ngIf="examination.isFinished"
                         (click)="service.relaunch(examination)">Relancer
            </MsContextMenuItem>

            <MsContextMenuItem icon="Delete" theme="error" (click)="service.delete(examination)">Supprimer</MsContextMenuItem>
          </MsContextMenu>
        </MsDropdown>
      </div>
    </div>

    <div class="d-flex">
      <div>
        <div class="ms-description-list">
          <dl>
            <dt>Nom</dt>
            <dd>{{examination.name}}</dd>
          </dl>

          <dl>
            <dt>Établissement</dt>
            <dd>{{examination.school.name}}</dd>
          </dl>

          <dl>
            <dt> État</dt>
            <dd>

              <span [appStateBadge]="examination.state"> </span>
            </dd>
          </dl>

          <dl>
            <dt>Ajouté le</dt>
            <dd>{{examination.registrationDate | date}} </dd>
          </dl>

          <dl>
            <dt>Début prévue pour le</dt>
            <dd>{{examination.expectedStartDate | date}} </dd>
          </dl>

          <dl>
            <dt>Début éffectif</dt>
            <dd>
              <ng-container *ngIf="examination.startDate">{{examination.startDate | date}}  </ng-container>
              <span *ngIf="!examination.startDate" [appStateBadge]="examination.state"> </span>
            </dd>
          </dl>

          <dl>
            <dt>Fin prévue pour le</dt>
            <dd>{{examination.expectedEndDate | date}} </dd>
          </dl>

          <dl>
            <dt>Fin éffective</dt>
            <dd>
              <ng-container *ngIf="examination.startDate">{{examination.startDate | date}}  </ng-container>
              <span *ngIf="!examination.startDate" [appStateBadge]="examination.state"> </span>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
