<div class="p-3">
  <div class="ms-pageTitle">
    <h2>{{examination.name}}</h2>
    <div class="text-right ml-5">
      <button msButton secondaryIcon="ChevronDown" [MsfMenuTrigger]="examinationMenu" theme="primaryOutline">Paramètres
      </button>
      <button msIconButton icon="Cancel" MsfModalClose class="ml-2"></button>
      <MsfMenu #examinationMenu>
        <MsfMenuItem icon="Reload">Actualiser</MsfMenuItem>
        <MsfMenuItem theme="primary" icon="Clock" *ngIf="examination.state === 'PENDING'"
                     (click)="service.start(examination)">
          Débuter
        </MsfMenuItem>
        <MsfMenuItem theme="warning" icon="Lock" *ngIf="examination.state === 'PROGRESS'"
                     (click)="service.end(examination)">
          Fermer
        </MsfMenuItem>
        <MsfMenuItem theme="primary" icon="Rotate90Clockwise" *ngIf="examination.state === 'FINISHED'"
                     (click)="service.relaunch(examination)">Relancer
        </MsfMenuItem>

        <MsfMenuItem icon="Delete" theme="error" (click)="service.delete(examination)">Supprimer</MsfMenuItem>
      </MsfMenu>
    </div>
  </div>

  <div class="d-flex">
    <div>
      <div class="ms-description-list">
        <dl>
          <dt>Nom</dt>
          <dd>{{examination.name}}</dd>
        </dl>

        <dl>
          <dt> État</dt>
          <dd>

            <span [appStateBadge]="examination.state"> </span>
          </dd>
        </dl>

        <dl>
          <dt>Ajouté le</dt>
          <dd>{{examination.registrationDate | date}} </dd>
        </dl>

        <dl>
          <dt>Début prévue pour le</dt>
          <dd>{{examination.expectedStartDate | date}} </dd>
        </dl>

        <dl>
          <dt>Début éffectif</dt>
          <dd>
            <ng-container *ngIf="examination.startDate">{{examination.startDate | date}}  </ng-container>
            <span *ngIf="!examination.startDate" [appStateBadge]="examination.state"> </span>
          </dd>
        </dl>

        <dl>
          <dt>Fin prévue pour le</dt>
          <dd>{{examination.expectedEndDate | date}} </dd>
        </dl>

        <dl>
          <dt>Fin éffective</dt>
          <dd>
            <ng-container *ngIf="examination.startDate">{{examination.startDate | date}}  </ng-container>
            <span *ngIf="!examination.startDate" [appStateBadge]="examination.state"> </span>
          </dd>
        </dl>
      </div>
    </div>
    <div class="ml-5"></div>
  </div>
</div>
