<app-layout>

  <img src="/assets/heic0707a.jpg" alt="" style="position: absolute; width: 100%; height: 100%; z-index: -1">
  <h5>Toast for notification</h5>

  <msDefaultToast message="Nouveau message" title="Notification" ></msDefaultToast>
  <msDefaultToast message="Nouveau message" bgColor="PinkRed10"></msDefaultToast>
  <msDefaultToast message="Nouveau message" bgColor="Blue10" ></msDefaultToast>

  <msDefaultToast message="Nouveau message et le content ausssi son de
  nouveau truc qu'il faut expérimenter" title="Alerte" bgColor="Green10"
                  icon="Message"
                  [date]="date"  ></msDefaultToast>


  <msDefaultToast  title="Chendjou Caleb deGrace"
                  [confirmButtonText]="'Répondre'" [confirmButton]="true"
                   [iconImage]="'/assets/maxresdefault_1.jpg'"  [date]="date">
    <div>Nouveau message</div>
    <div>Bonjour, ce message est un test pour vérifier que tout fonctionne bien</div>

  </msDefaultToast>

  <MsfButton (click)="toggle()" theme="primary">Toogle</MsfButton>
</app-layout>
