<app-layout>
  <div class="ms-header">
    <div class="d-flex align-items-center">
      <button historyBack msIconButton icon="ChevronLeftSmall" theme="transparent"
              size="normal" [rounded]="true"></button>
      <div class="ms-header-title">Départments / {{examinationDepartment.department.name}}</div>
    </div>
  </div>
  <msPivot>
    <msPivotHeader>
      <msPivotLabel id="home">Accueil</msPivotLabel>
      <msPivotLabel id="students">Étudiants</msPivotLabel>
      <msPivotLabel id="tests">Épreuves</msPivotLabel>
    </msPivotHeader>

    <msPivotBody>
      <div *msPivotContentDef>
        <app-examination-department-home
          [examinationDepartment]="examinationDepartment"></app-examination-department-home>
      </div>
      <div *msPivotContentDef>
        <app-examination-student-list [examinationDepartment]="examinationDepartment"></app-examination-student-list>
      </div>
      <div *msPivotContentDef>
        <app-test-list [examinationDepartment]="examinationDepartment"></app-test-list>
      </div>
    </msPivotBody>
  </msPivot>


</app-layout>
