
<div class="ms-pageTitle">
    <h4>Examens</h4>
    <div>
      <button msButton icon="Add" theme="primary" (click)="service.add(school)">
        Ajouter <span class="ms-hiddenSm">un examen</span></button>
    </div>

  </div>

    <ms-table>
      <ms-tableHead *ms-tableHeadDef>
        <ms-tableHeadCell name="#" >#</ms-tableHeadCell>
        <ms-tableHeadCell name="name" [sortBy]="['name', 'string']">Nom</ms-tableHeadCell>
        <ms-tableHeadCell name="expectedStartDate" [sortBy]="['expectedStartDate', 'date']">Date de début prévué</ms-tableHeadCell>
        <ms-tableHeadCell name="startDate" [sortBy]="['startDate', 'date']">Date de début effective</ms-tableHeadCell>
        <ms-tableHeadCell name="expectedEndDate" [sortBy]="['expectedEndDate', 'date']">Date de fin prévue</ms-tableHeadCell>
        <ms-tableHeadCell name="startDate" [sortBy]="['endDate', 'date']">Date de fin effective</ms-tableHeadCell>
        <msTableHeadCell name="actions" class="text-right">
          <i class="ms-Icon ms-Icon--SetAction"></i>
        </msTableHeadCell>
      </ms-tableHead>

      <tr ms-tableRow *ms-tableRowDef="let item of examinations; let i=index">
        <msTableCell>{{i + 1}}</msTableCell>
        <msTableCell>{{item.name}}</msTableCell>
        <msTableCell>{{item.expectedStartDate | date}}</msTableCell>
        <msTableCell>
          <ng-container *ngIf="item.startDate">{{item.startDate | date}}  </ng-container>
          <span *ngIf="!item.startDate" [appStateBadge]="item.state"> </span>
        </msTableCell>
        <msTableCell>{{item.expectedEndDate | date}}</msTableCell>
        <msTableCell>
          <ng-container *ngIf="item.endDate">
            {{item.endDate | date}}
          </ng-container>
          <span *ngIf="!item.endDate" [appStateBadge]="item.state"> </span>
        </msTableCell>

        <msTableCell>
          <a href="#" class="ms-fontSize-12"  [routerLink]="item.url">Aller à la page</a>
          <button msButton (click)="service.details(item)" class="ml-2" >Details</button>

          <button msButton class="ml-2" [MsfMenuTrigger]="more" icon="MoreVertical"></button>
          <MsfMenu #more>
            <MsfMenuItem icon="Reload">Actualiser</MsfMenuItem>
            <MsfMenuItem theme="primary" icon="Clock" *ngIf="item.isPending" (click)="service.start(item)">
              Débuter
            </MsfMenuItem>
            <MsfMenuItem theme="warning" icon="Lock" *ngIf="item.isProgress" (click)="service.end(item)">
              Fermer
            </MsfMenuItem>
            <MsfMenuItem theme="primary" icon="Rotate90Clockwise" *ngIf="item.isFinished"
                         (click)="service.relaunch(item)">Relancer
            </MsfMenuItem>

            <MsfMenuItem icon="Delete" theme="error" (click)="service.delete(item)">Supprimer</MsfMenuItem>
          </MsfMenu>
        </msTableCell>
      </tr>
    </ms-table>
