<div class="ms-pageTitle">
    <h4>Examens</h4>
    <div>
      <button msButton icon="Add" theme="primary" (click)="add()">
        Ajouter <span class="ms-hiddenSm">un examen</span></button>
    </div>
</div>

<div *ngIf="isLoading">
  <msSpinnerInlineDot></msSpinnerInlineDot>
</div>

    <ms-table [class.ms-opacity-0]="isLoading">
      <ms-tableHead *ms-tableHeadDef>
        <ms-tableHeadCell name="#" >#</ms-tableHeadCell>
        <ms-tableHeadCell name="name" [sortBy]="['name', 'string']">Nom</ms-tableHeadCell>
        <ms-tableHeadCell name="expectedStartDate" [sortBy]="['expectedStartDate', 'date']">Date de début prévué</ms-tableHeadCell>
        <ms-tableHeadCell name="startDate" [sortBy]="['startDate', 'date']">Date de début effective</ms-tableHeadCell>
        <ms-tableHeadCell name="expectedEndDate" [sortBy]="['expectedEndDate', 'date']">Date de fin prévue</ms-tableHeadCell>
        <ms-tableHeadCell name="startDate" [sortBy]="['endDate', 'date']">Date de fin effective</ms-tableHeadCell>
        <msTableHeadCell name="actions" class="text-right">
          <i class="ms-Icon ms-Icon--SetAction"></i>
        </msTableHeadCell>
      </ms-tableHead>

      <tr ms-tableRow *ms-tableRowDef="let item of examinations; let i=index">
        <msTableCell>{{i + 1}}</msTableCell>
        <msTableCell>{{item.name}}</msTableCell>
        <msTableCell>{{item.expectedStartDate | date}}</msTableCell>
        <msTableCell>
          <ng-container *ngIf="item.startDate">{{item.startDate | date}}  </ng-container>
          <span *ngIf="!item.startDate" [appStateBadge]="item.state"> </span>
        </msTableCell>
        <msTableCell>{{item.expectedEndDate | date}}</msTableCell>
        <msTableCell>
          <ng-container *ngIf="item.endDate">
            {{item.endDate | date}}
          </ng-container>
          <span *ngIf="!item.endDate" [appStateBadge]="item.state"> </span>
        </msTableCell>

        <msTableCell style="text-align: right">

<!--          <button msIconButton icon="MiniExpand" [rounded]="true" theme="primary" (click)="service.details(item)" ></button>-->
          <button msButton theme="primaryOutline" [routerLink]="item.url">Details</button>

        </msTableCell>
      </tr>
    </ms-table>
