<div>
  <h5  class="ms-fontWeight-light">Mode</h5>

  <div>
    <MsfRadioGroup (change)="changeThemeMode($event.value)">
      <label class="color-label " for="dark" [style.backgroundColor]="getThemeColor('dark')">
        <MsfRadio id="dark" value="dark" [checked]="_themeMode === 'dark'"></MsfRadio>
      </label>
      <label class="color-label" for="light" [style.backgroundColor]="getThemeColor('light')">
        <MsfRadio id="light" value="light" [checked]="_themeMode === 'light'"></MsfRadio>
      </label>
    </MsfRadioGroup>
  </div>
</div>

<div class="mt-3">
  <h5 class="ms-fontWeight-light">Color de thème</h5>

  <div>
    <MsfRadioGroup (change)="changeThemeColor($event.value)">
      <label class="color-label color-theme" *ngFor="let color of theme.themes" for="{{color}}" [style.backgroundColor]="getThemeColor(color)">
        <MsfRadio [forLabel]="color" id="{{color}}" [value]="color" [checked]="_themeColor === color"></MsfRadio>
      </label>
    </MsfRadioGroup>
  </div>
</div>

<div class="mt-3">
  <label for="collapseSidebar">
    <MsfCheckbox id="collapseSidebar" forLabel="collapseSidebar"
                 [checked]="_collapseSidebar"
                 (change)="sidebarCollapseState($event.checked)"></MsfCheckbox> Navigation réduite
  </label>
</div>
