<app-layout>
  <div *ngIf="room">
    <div class="ms-header">
      <div class="d-flex align-items-center">
        <button historyBack msIconButton icon="ChevronLeftSmall" theme="transparent" size="normal" [rounded]="true"></button>
        <div class="ms-header-title ms-fontWeight-semibold">
          <a *ngIf="room.forSchool" [routerLink]="room.school.url" [queryParams]="{tab: 'rooms'}">Salles</a>
          <a *ngIf="room.forDepartment" [routerLink]="room.department.url" [queryParams]="{tab: 'rooms'}">Salles</a>
          <a *ngIf="room.forLevel" [routerLink]="room.school.url" [queryParams]="{tab: 'rooms'}">Salles</a>
          /
          {{room.name}}</div>
      </div>
    </div>

    <msPivot>
      <msPivotHeader>
        <msPivotLabel id="details">Détails</msPivotLabel>
        <msPivotLabel id="hours">Horaires</msPivotLabel>
        <msPivotLabel id="sessions">Séances de cours</msPivotLabel>
      </msPivotHeader>
      <msPivotBody>
        <div *msPivotContentDef>
          <app-room-home-page [room]="room"></app-room-home-page>
        </div>
        <div *msPivotContentDef>
          <app-course-hour-list [room]="room" [hiddenColumns]="['room']"></app-course-hour-list>
        </div>
        <div *msPivotContentDef>
          <app-course-session-list [room]="room" [hiddenColumns]="['room']"></app-course-session-list>
        </div>
      </msPivotBody>
    </msPivot>
  </div>
</app-layout>
