<div class="flex-center-cover" *ngIf="form">
  ﻿
  <form class="ms-form" [formGroup]="form">
    <div class="ms-form-header">Modifier l'épreuve</div>

    <div class="ms-textFieldGroup">
      <div class="ms-textField">
        <label for="radical" class="msf-label">Note maximale</label>
        <input type="text" id="radical" class="ms-textField-input" formControlName="radical">
        <app-control-error controlName="radical"></app-control-error>
      </div>

      <div class="ms-textField">
        <label for="coefficient" class="msf-label">Coefficient</label>
        <input id="coefficient" class="ms-textField-input" formControlName="coefficient">
        <app-control-error controlName="coefficient"></app-control-error>
      </div>
    </div>

    <div class="mt-4 text-right">
      <button msIconButton msDialogClose class="mr-3">Annuler</button>
      <button msIconButton theme="primary" icon="Edit" [disabled]="form.invalid" (click)="edit()">
        Modifier
      </button>
    </div>
  </form>

</div>
