﻿
<div class="d-flex justify-content-between align-items-center">
  <div class="ms-fontWeight-light ms-fontSize-18">Surveillants</div>

  <div class="text-right ml-5">
    <ng-container *ngIf="testGroup.isPlanner">
      <button msButton icon="Add" theme="primaryOutline" (click)="addTestGroupSupervisors(testGroup)">Ajouter</button>
    </ng-container>
  </div>
</div>

<div *ngIf="testGroup.testGroupSupervisors">
  <msAlert *ngIf="testGroup.testGroupSupervisors?.length === 0" theme="severeWarning" class="mt-2">
    Ce groupe n'a pas de surveillant.
  </msAlert>

  <msAlert *ngIf="!testGroup.hasPrincipalSupervisor" theme="severeWarning" class="mt-2">
    Ce groupe n'a pas de surveillant principal. <br>Seul un surveillant principal peut démarrer l'épreuve.
  </msAlert>

  <ms-table class="mt-2">
    <ms-tableHead *ms-tableHeadDef></ms-tableHead>
    <ms-tableRow *ms-tableRowDef="let item of supervisors" [value]="item">
      <ms-tableCell class="px-0">
        <div class="d-flex">
          <user-persona [user]="item.supervisor.user"></user-persona>
          <span *ngIf="item.isPrincipal" msColor="sharedGreenCyan10" msFontSize="24" class="pl-2">&#8226;</span>
        </div>
      </ms-tableCell>
      <ms-tableCell class="px-0 text-right">
        <ng-container *ngIf="testGroup.isPlanner">
          <button msIconButton theme="transparent" icon="MoreVertical" [MsDropdownTrigger]="supervisorMore"></button>
          2
          <MsDropdown>
            <MsContextMenu #supervisorMore>
              <MsContextMenuItem icon="CheckMark" *ngIf="!item.isPrincipal" (click)="service.setPrincipal(item)">Donner
                le
                statut de principal
              </MsContextMenuItem>
              <MsContextMenuItem icon="Cancel" theme="error" *ngIf="item.isPrincipal"
                                 (click)="service.setPrincipal(item)">
                Enlever le statut de principal
              </MsContextMenuItem>

              <MsContextMenuItem icon="Delete" theme="error" (click)="remove(item)">
                Supprimer
              </MsContextMenuItem>
            </MsContextMenu>
          </MsDropdown>
        </ng-container>
      </ms-tableCell>
    </ms-tableRow>
  </ms-table>
</div>
