<div class="ms-pageTitle">
  <h4>Demandes</h4>
  <div class="text-right"></div>
</div>

<div *ngIf="_isLoaded">
  <msPaginatorButtons *ngIf="msPaginator" [paginator]="msPaginator"></msPaginatorButtons>

  <msPaginator #msPaginator pageSize="20" [totalSize]="applications.length" [itemsFn]="itemsFn">
    <div *ms-paginatorPageDef="let data=items; let start=start">
      <ms-table>
        <ms-tableHead *ms-tableHeadDef>
          <msTableHeadCell name="#">#</msTableHeadCell>
          <msTableHeadCell name="fullName" [sortBy]="['fullName', 'string']">Nom</msTableHeadCell>
          <msTableHeadCell name="registrationId">Matricule</msTableHeadCell>
          <msTableHeadCell name="birthDate" [sortBy]="['birthDate', 'date']">Date de naissance</msTableHeadCell>
          <msTableHeadCell name="gender" [sortBy]="['gender', 'string']">Genre</msTableHeadCell>
          <msTableHeadCell name="levelIndex" [sortBy]="['levelIndex', 'number']">Niveau</msTableHeadCell>
          <msTableHeadCell name="specialityName" [sortBy]="['specialityName', 'string']">Spécialité</msTableHeadCell>
          <msTableHeadCell name="registrationDate" [sortBy]="['registrationDate', 'date']">Date d'envoie
          </msTableHeadCell>
          <msTableHeadCell name="user">Envoyée par</msTableHeadCell>
          <msTableHeadCell name="state" [sortBy]="['state', 'string']">Etat</msTableHeadCell>
          <msTableHeadCell name="processUser">Traitée par</msTableHeadCell>

          <msTableHeadCell name="actions" class="text-right">
            <i class="ms-Icon ms-Icon--SetAction"></i>
          </msTableHeadCell>
        </ms-tableHead>

        <msTableRow *ms-tableRowDef="let item of data; let i=index">
          <ms-tableCell>{{start + i + 1}}</ms-tableCell>

          <ms-tableCell>
            <span class="ms-fontWeight-semibold text-capitalize">{{item.fullName}}</span>
          </ms-tableCell>

          <ms-tableCell class="ms-fontWeight-semibold ms-fontColor-sharedRed10">
            {{item.registrationId}}
          </ms-tableCell>

          <ms-tableCell>
            {{item.birthDate | amCalendar}}
          </ms-tableCell>

          <ms-tableCell> {{item.gender}} </ms-tableCell>

          <ms-tableCell>{{item.levelIndex + 1}}</ms-tableCell>

          <ms-tableCell class="ms-fontWeight-semibold">
            {{item.specialityName}}
          </ms-tableCell>

          <ms-tableCell>
            <span class="ms-fontWeight-light ms-fontSize-12">{{item.registrationDate | amTimeAgo}}</span>
          </ms-tableCell>

          <ms-tableCell>
            <user-persona *ngIf="item.user" [user]="item.user"></user-persona>
          </ms-tableCell>

          <ms-tableCell>
            <span [appStateBadge]="item.state"></span>
          </ms-tableCell>

          <ms-tableCell>
            <user-persona *ngIf="item.processUser" [user]="item.processUser"></user-persona>
          </ms-tableCell>


          <msTableCell style="text-align: right">
            <button msButton theme="primary" class="mr-2" (click)="_applicationService.details(item)">Détails</button>
          </msTableCell>
        </msTableRow>
      </ms-table>

    </div>
  </msPaginator>

</div>
