<app-examination-layout [examination]="examination" title="Délégués">

  <div class="ms-fontSize-24 ms-fontWeight-light py-2">Délégués</div>

  <MsfTable *ngIf="principals">
    <MsfTableHead>
      <MsfTableHeadCell>#</MsfTableHeadCell>
      <MsfTableHeadCell>Utilisateur</MsfTableHeadCell>
      <MsfTableHeadCell>Date d'ajout</MsfTableHeadCell>
      <MsfTableHeadCell>Ajouté par</MsfTableHeadCell>
      <MsfTableHeadCell>Role</MsfTableHeadCell>
      <MsfTableHeadCell></MsfTableHeadCell>
    </MsfTableHead>
    <MsfTableRow #row *ngFor="let item of principals">
      <MsfTableCell>{{row.index}}</MsfTableCell>
      <MsfTableCell>
        <MsfPersona size="size32">
          <MsfPersonaFigure [text]="item.user?.fullName" size="size32"></MsfPersonaFigure>
          <div class="ml-2">
            <div class="ms-fontWeight-semibold">{{item.user?.fullName}}</div>
            <div class="ms-fontSize-12" *ngIf="item.user?.username">@{{item.user?.username}}</div>
          </div>
        </MsfPersona>
      </MsfTableCell>
      <MsfTableCell class="ms-fontSize-12">{{item.registrationDate | amCalendar}}</MsfTableCell>
      <MsfTableCell>
        <MsfPersona size="size32">
          <MsfPersonaFigure [text]="item.registerUser?.fullName" size="size32"></MsfPersonaFigure>
          <div class="ml-2">
            <div class="ms-fontWeight-semibold">{{item.registerUser?.fullName}}</div>
            <div class="ms-fontSize-12" *ngIf="item.registerUser?.username">@{{item.registerUser?.username}}</div>
          </div>
        </MsfPersona>
      </MsfTableCell>
      <MsfTableCell>{{item.role}}</MsfTableCell>
      <MsfTableCell>
        <MsfIconButton [MsfMenuTrigger]="more" icon="MoreVertical"></MsfIconButton>
        <MsfMenu #more>
          <MsfMenuItem (click)="openEditModal(item)" icon="Edit">Modifier</MsfMenuItem>
          <MsfMenuItem (click)="delete(item)" icon="Delete" theme="error">Supprimer</MsfMenuItem>
        </MsfMenu>
      </MsfTableCell>
    </MsfTableRow>
  </MsfTable>

  <float-button (click)="openAddPrincipalModal()"></float-button>
</app-examination-layout>
