<app-examination-layout [examination]="examination" title="Specialités">

  <div class="ms-fontSize-24 ms-fontWeight-light py-2">Specialités</div>

  <MsfTable style="width: 100%">
    <MsfTableHead>
      <MsfTableHeadCell>#</MsfTableHeadCell>
      <MsfTableHeadCell>Nom</MsfTableHeadCell>
      <MsfTableHeadCell>Date d'ajout</MsfTableHeadCell>
      <MsfTableHeadCell> </MsfTableHeadCell>
    </MsfTableHead>
    <MsfTableRow #row *ngFor="let item of specialities">
      <MsfTableCell>{{row.index + 1}}</MsfTableCell>
      <MsfTableCell class="ms-fontWeight-semibold">{{item.name}}</MsfTableCell>
      <MsfTableCell class="ms-fontSize-12">
        {{item.registrationDate | amCalendar}}
      </MsfTableCell>

      <MsfTableCell style="text-align: right">
        <a MsfButton theme="primary" class="mr-2" routerLink="/{{item.url}}/home">Détails</a>
        <MsfIconButton [MsfMenuTrigger]="more" icon="MoreVertical"></MsfIconButton>
        <MsfMenu #more>
          <MsfMenuItem icon="EditSolid12" >Changer le nom</MsfMenuItem>
          <MsfMenuItem icon="Delete" (click)="delete(item)" theme="error">Supprimer</MsfMenuItem>
        </MsfMenu>
      </MsfTableCell>
    </MsfTableRow>
  </MsfTable>

  <float-button mat-ripple (click)="openAddSpecialityDialog()"></float-button>
</app-examination-layout>
