<app-organisation-layout [organisation]="organisation">

  <div class="ms-card-persona ms-bgColor-sharedRed20" style="width: 270px">
    <MsfPersona size="size100">
      <MsfPersonaFigure [text]="organisation.name" style="font-size: 40px"></MsfPersonaFigure>
    </MsfPersona>
  </div>

  <MsfPersona size="size40">
    <MsfPersonaFigure  [text]="organisation.adminUser.fullName"></MsfPersonaFigure>

    <MsfPersonaText>
      <div class="ms-fontSize-18 text-capitalize">{{organisation.adminUser.fullName}}</div>
      <div class="ms-fontSize-12">Administrateur</div>
    </MsfPersonaText>
  </MsfPersona>

</app-organisation-layout>
