<app-examination-layout [examination]="speciality.examination" [paths]="paths">
  <MsfTab>
    <a MsfTabLabel routerLinkActive="active"  [routerLink]="[speciality.url, 'home']" icon="Home">Accueil</a>
    <a MsfTabLabel routerLinkActive="active"  [routerLink]="[speciality.url, 'groups']" icon="Group">Groupes</a>
    <a MsfTabLabel routerLinkActive="active"  [routerLink]="[speciality.url, 'students']" icon="Contact">étudiants</a>
    <a MsfTabLabel [routerLink]="[speciality.url, 'settings']" icon="Settings">Paramètres</a>
  </MsfTab>
  <ng-content></ng-content>
</app-examination-layout>
