<div class="flex-center-cover">
  ﻿<form class="ms-form" >
  <div class="ms-form-header">Sélectionner les sécrétaires</div>

  <msAlert theme="standard">
    Si vous ne trouver pas utilisateur dans cette liste,
    rassurez vous de l'avoir ajouter parmi les sécrétaires de ce département.
  </msAlert>

  <div class="ms-textField">
    <label for="secretary" class="msf-label">Selectionner</label>

    <MsfSelect id="secretary" name="secretary" [(ngModel)]="secretaryId" [multiple]="true" class="ms-textField-input"  placeholder="Choisir les sécrétaires">
      <MsfSelectOption *ngFor="let item of secretaries"  [value]="item.id">{{item.user.fullName}}</MsfSelectOption>
    </MsfSelect>

  </div>



  <div class="mt-4 text-right">
    <button msButton MsfModalClose class="mr-3">Annuler</button>
    <button msButton theme="primary" icon="Add" [disabled]="secretaryId.length === 0"  (click)="add()">
      Ajouter
    </button>
  </div>
</form>
</div>
