<div class="ms-pageTitle">
  <h4>{{'étudiants' | ucFirst}}</h4>
</div>

<div *ngIf="_isLoading">
  <MsSpinner></MsSpinner>
</div>

<div *ngIf="_isLoaded">
<div class="d-flex align-items-center my-2" style="min-width: 200px; width: 300px">
  <input style="flex-grow: 1" [(ngModel)]="filterValue" placeholder="Nom ou matricule d'un étudiant" type="text"
         class="ms-textField-input">
  <button msIconButton icon="Zoom" theme="primary" (click)="search()"></button>
</div>


  <msPaginatorButtons *ngIf="msPaginator" [paginator]="msPaginator"></msPaginatorButtons>

  <msPaginator #msPaginator pageSize="50" [totalSize]="examinationStudents.length" [itemsFn]="itemsFn">
    <div *ms-paginatorPageDef="let data=items; let start=start">
      <ms-table #table style="max-height: 500px">
        <msTableHead *msTableHeadDef>
          <msTableHeadCell name="#">#</msTableHeadCell>
          <msTableHeadCell name="levelIndex" [sortBy]="['levelIndex', 'number']">Niveau</msTableHeadCell>
          <msTableHeadCell name="fullName" [sortBy]="['fullName', 'string']">Nom & prénom</msTableHeadCell>
          <msTableHeadCell name="registrationNumber" [sortBy]="['registrationNumber', 'string']">Matricule
          </msTableHeadCell>
          <msTableHeadCell name="birthDate" [sortBy]="['birthDate', 'date']">Date de naissance</msTableHeadCell>
          <msTableHeadCell name="gender" [sortBy]="['gender', 'string']">Genre</msTableHeadCell>
          <msTableHeadCell name="levelIndex" [sortBy]="['levelIndex', 'number']">Niveau</msTableHeadCell>
          <msTableHeadCell name="specialityName" [sortBy]="['specialityName', 'string']">Spécialité</msTableHeadCell>
          <msTableHeadCell name="user">Utilisateur</msTableHeadCell>

          <msTableHeadCell name="actions" class="text-right">
            <i class="ms-Icon ms-Icon--SetAction"></i>
          </msTableHeadCell>
        </msTableHead>

        <ms-tableRow *ms-tableRowDef="let item of data; let i=index" [value]="item">
          <ms-tableCell>{{i + start + 1}}</ms-tableCell>
          <ms-tableCell>{{item.levelIndex + 1}}</ms-tableCell>

          <ms-tableCell>
            <div class="ms-fontWeight-semibold text-capitalize">{{item.student.fullName}}</div>
          </ms-tableCell>

          <ms-tableCell class="ms-fontWeight-semibold ms-fontColor-sharedRed10">
            {{item.student.registrationId}}
          </ms-tableCell>

          <ms-tableCell>
            {{item.student.birthDate | amCalendar}}
          </ms-tableCell>

          <ms-tableCell>
            {{item.student.gender}}
          </ms-tableCell>

          <ms-tableCell class="ms-fontWeight-semibold">
            {{item.levelIndex + 1}}
          </ms-tableCell>

          <ms-tableCell class="ms-fontWeight-semibold">
            {{item.specialityName}}
          </ms-tableCell>


          <ms-tableCell>
            <user-persona *ngIf="item.student.user" [user]="item.student.user"></user-persona>
          </ms-tableCell>


          <ms-tableCell style="text-align: right">
            <button msButton theme="primary" (click)="service.studentsDetails(item)">Détails</button>
          </ms-tableCell>
        </ms-tableRow>
      </ms-table>
    </div>
  </msPaginator>
</div>
