<div class="d-flex justify-content-center align-items-center" style="flex-direction: column">
  <MsIconPersona size="size120" *ngIf="!model.imageUrl"></MsIconPersona>
  <MsImagePersona size="size120" *ngIf="model.imageUrl" [imageUrl]="model.imageUrl"></MsImagePersona>

  <h4 class="mt-3">Photo 4x4</h4>

  <div class="mt-3 text-center">
    Cette photo de profil aide les utilisateurs à reconnaître cette étudiant.
  </div>

  <div>
    <button msButton  icon="Upload" class="mt-3" (click)="open()">Importer une photo</button>
  </div>
</div>


<div class="text-center mt-4">
  <button msButton theme="primary" (click)="next()">Continuer</button>
</div>
